kbd
  display inline-block
  border 1px solid #ccc
  margin 0 0.1em
  padding 0.1em 0.6em
  line-height 1.4
  font-size 11px
  background-color #f7f7f7
  box-shadow 0 1px 0 #bbb, 0 0 0 2px #fff inset
  border-radius 3px
  color c-black-text
  text-shadow 0 1px 0 #fff
  white-space nowrap
