kbd
  display inline-block
  border 1px solid #ccc
  margin 0 0.1em
  padding 0.1em 0.6em
  line-height 1.4
  font-size 11px
  background-color #f7f7f7
  box-shadow 0 1px 0 #bbb, 0 0 0 2px #fff inset
  border-radius 3px
  color c-black-text
  text-shadow 0 1px 0 #fff
  white-space nowrap

iframe
  display inline-block
  border none
  max-width 100%

summary
  margin -10px -20px
  padding 10px
  background-color c-browser-gray
  cursor pointer
  border-bottom 2px solid c-light-gray

  &:hover
    opacity 0.8

details
  padding 10px 20px 20px
  border-bottom 2px dashed c-light-gray

  &[open] summary
      margin-bottom 20px
