div.wa-section(data-tool='styles')
  div.wa-section-header.gu-candidate
    span.wa-section-heading.fa.fa-envelope=' Styles'
    span.wa-section-remove.fa.fa-remove
    span.wa-section-toggle.fa.fa-compress
    span.wa-section-clone.fa.fa-clone
  div.wa-section-contents
    textarea.wa-styles-text(placeholder='Enter your Stylus-based CSS styles here')!=section.styles
