div.wa-section(data-tool='markdown')
  div.wa-section-header.gu-candidate
    span.wa-section-heading.fa.fa-keyboard-o=' Markdown'
    span.wa-section-remove.fa.fa-remove
    span.wa-section-toggle.fa.fa-compress
    span.wa-section-clone.fa.fa-clone
  div.wa-section-contents
    textarea.wa-markdown-text.wk-textarea(placeholder='Enter your Markdown section text here')!=section.text
