div.wa-section
  div.wa-section-header.gu-candidate
    span.wa-section-heading.fa.fa-header=' Header'
    span.wa-section-remove.fa.fa-remove
    span.wa-section-toggle.fa.fa-compress
  div.wa-section-contents
    input(placeholder='Enter the heading text here')
