// {{#discussions}}
tr.discussion-row
  td.date
    span(data-hint='last updated {{last.timeAgo}}')='{{last.dateText}}'

  td.user-icon
    a(href='/user/profile/{{last.author.id}}', data-hint="See {{last.author.displayName}}'s profile")
      img.user-gravatar.tiny(data-src='{{last.author.gravatar}}')

  td.entry
    a.highlighted-link(href='{{entry.permalink}}#thread-{{_id}}', data-hint='This thread has {{commentCount}}')='{{entry.title}}'

  td.comment.markdown='{{{last.html}}}'
// {{/discussions}}