// {{#discussions}}
tr.discussion-row
  td.date
    span(data-hint='last updated {{last.timeAgo}}')='{{last.dateText}}'

  td.user-icon
    a(href='/user/profile/{{last.author.id}}', data-hint='See profile')
      img.user-gravatar.tiny(data-src='{{last.author.gravatar}}')

  td.user-displayName
    a.highlighted-link(href='/user/profile/{{last.author.id}}', data-hint='See profile')='{{last.author.displayName}}'

  td.comment='{{{last.html}}}'
  td.discussion-actions
    a.action.follow(href='{{entry.permalink}}#comment-thread-{{_id}}', title='Navigate to this discussion thread ({{commentCount}})')='Follow'
// {{/discussions}}