// {{#users}}
tr.user-row
  td.date(data-hint='registered {{timeAgo}}')='{{createdDate}}'
  td.user-icon
    a(href='/user/profile/{{_id}}', data-hint='See profile')
      img.user-gravatar.tiny(data-src='{{gravatarTiny}}')

  td.user-displayName
    a.highlighted-link(href='/user/profile/{{_id}}', data-hint='See profile')='{{displayName}}'
// {{/users}}