section#blogger-tools-template.template(data-class='blogger-tools')
  h1='Tools'

  section.entry-tools
    header='Blog Posts'
    a.highlighted-link(href='/blogger/entry', data-hint='Write and submit a new post')='New post'
    a.highlighted-link(href='/blogger/entry/review', data-hint='Update or delete existing posts')='Review posts'