!= config.site.doctype

html(lang='en')
  head
    include /src/frontend/views/metadata
    title='Documentation - Pony Foo'

    != assetify.css.emit(profile)
    link(href='http://fonts.googleapis.com/css?family=Roboto|Roboto:300|Roboto:900', rel='stylesheet')

  body
    p='aaa'

    != assetify.js.emit(profile)