section#user-register-template.template(data-class='user-authentication')
  h1='Sign Up'

  include _providers

  form.authentication-form(method='post', action='/user/register')
    input(type='hidden', name='redirect', value='{{prev}}')

    fieldset
      p
        label(for='register-email')='Email'
        input#register-email(type='text', name='email', placeholder='Register your email')

      p
        label(for='register-password')='Password'
        input#register-password(type='password', name='password', placeholder='Choose your password')

    p.authentication-button
      input.button(type='submit', value='Register')