.iv-container
  position relative
  background-color c-light
  padding 20px

.iv-logo
  position absolute
  right 20px

.iv-header
  font-weight bold

.iv-table
  width 100%
  border-spacing 15px
  border-collapse separate

  td
    padding 10px

.iv-head th
  position relative
  font-size 24px
  f-use-heading()
  squared-border(6px)
  squared-border-bottom(-6px)

  &:nth-child(1)
    squared-border-color(c-dark-orange)
  &:nth-child(2)
    squared-border-color(c-red)
  &:nth-child(3)
    squared-border-color(c-purple)
  &:nth-child(4)
    squared-border-color(c-dark-turquoise)

.iv-foot
  font-weight bold

.iv-paid
  position absolute
  top 50%
  left 50%
  margin-left -220px
  margin-top -115px
  opacity 0.7
  color c-dark-turquoise
  font-weight bold
  font-size 128px
  f-use-subheading()

.iv-paid-text
  display block
  border 15px solid c-dark-turquoise
  padding 20px 40px
  transform rotate(-45deg)
  text-shadow 3px 3px 0 c-pink-light
  box-shadow 3px 3px 0 c-pink-light
