@keyframes bg-rainbow
  0%
    background-color c-pink
  50%
    background-color c-yellow
  90%
    opacity 0.6
    background-color c-green

@keyframes sb-pulse
  0%
    box-shadow 0 0 0 0 rgba(c-pink, 0.5)
  70%
    box-shadow 0 0 0 15px rgba(c-pink, 0)
  100%
    box-shadow 0 0 0 0 rgba(c-pink, 0)
