// grayscale colors
           c-transparent = rgba(255, 255, 255, 0.0001)
            c-true-white = #fff
                 c-white = #fcfcfc
          c-browser-gray = #f6f6f6
          c-lighter-gray = #e0e0e0
            c-light-gray = #ddd
                  c-gray = #cbc5c0
             c-dark-gray = #999
           c-darker-gray = #777
           c-black-light = #555
            c-black-text = #333
                 c-black = #000

// primary colors
      c-yellow-highlight = #ffe270
           c-dark-orange = #f3720d
                  c-pink = #e92c6c
                c-purple = #900070
                  c-blue = #1a4d7f
        c-dark-turquoise = #1686a2
            c-dark-green = #1bc211

// variants to primary colors
                 c-green = #37ed2c
         c-dark-green-05 = #8be186
                c-yellow = #f1e05a
                c-orange = #f8ab6f
             c-pink-dark = darken(c-pink, 20%)
                   c-red = #f4001e
      c-bright-turquoise = #6ecce2
       c-light-turquoise = #5aa9bc

// light color variants
               c-blue-02 = #cfd9e3
               c-blue-01 = #e5eaee
    c-dark-turquoise-005 = #f1f6f8
         c-dark-green-01 = #e4f9e3
           c-light-green = #c3f0c1
             c-green-005 = #f2fcf2
                 c-light = #f3f3f3
          c-light-orange = #fefaf6
             c-orange-06 = #f8c68d
          c-orange-light = #ffeada
            c-orange-005 = #fcf8f5
            c-pink-light = #ea6c93
               c-pink-01 = #fae7ee
              c-pink-005 = #fbf2f5
             c-purple-02 = #f1e1ed
             c-purple-01 = #f1e1ed
            c-purple-005 = #f7f0f5
               c-red-005 = #fcf0f4
            c-yellow-075 = #f4e98c
             c-yellow-04 = #f8f2bc
             c-yellow-03 = #fbf7db
             c-yellow-01 = #fbf9ec
            c-yellow-005 = #fcfbf5
   c-yellow-highlight-08 = #fee68b
   c-yellow-highlight-04 = #fef2c5
   c-yellow-highlight-01 = #fcf9ee

// component-related colors
         c-rome-disabled = #fcc

// brand colors
             c-gmail-red = #dc4b3e
          c-slack-purple = #4d394b
         c-facebook-blue = #3b5998
           c-chrome-blue = #4989f4
          c-twitter-blue = #55acee
           c-slack-green = #60c5a1
