c-black = #000
c-black-text = #333
c-black-light = #555
c-blue = #1a4d7f
c-twitter-blue = #55acee
c-light-turquoise = #5aa9bc
c-dark-turquoise = #1686a2
c-bright-turquoise = #6ecce2
c-gray = #cbc5c0
c-browser-gray = #f6f6f6
c-light-gray = #ddd
c-dark-gray = #999
c-darker-gray = #777
c-green = #37ed2c
c-dark-green = #1bc211 // darken(c-green, 25%)
c-dark-green-01 = #e4f9e3
c-dark-green-05 = #8be186
c-light-green = #c3f0c1
c-green-005 = #f2fcf2
c-light = #f3f3f3
c-light-orange = #fefaf6
c-orange = #f8ab6f
c-orange-06 = #f8c68d
c-orange-light = #ffeada
c-orange-005 = #fcf8f5
c-orange-dark = #f3720d
c-pink = #e92c6c
c-pink-light = #f4a5c0
c-pink-01 = #fceaf0
c-pink-005 = #fbf2f5
c-purple = #900070
c-purple-005 = #f7f0f5
c-red = #ff0056
c-red-005 = #fcf0f4
c-true-white = #fff
c-white = #fcfcfc
c-yellow = #f1e05a
c-yellow-075 = #f4e98c
c-yellow-04 = #f8f2bc
c-yellow-03 = #fbf7db
c-yellow-01 = #fbf9ec
c-yellow-005 = #fcfbf5
c-yellow-highlight = #ffe270
c-yellow-highlight-08 = #fee68b
c-yellow-highlight-04 = #fef2c5
