c-background = #f3f4eb
c-strong = #412917
c-strong-hover = #5f4c3d // #abf095
c-strongish = #e0e0cf
c-moderate = #eaeadf
c-light = #f3f4ec
c-border = #cbc5c0
c-light-gray = #ecece6
c-grayish = #dedede
c-grayish-blue = #384c53
c-secondary-light = #58af48
c-secondary-moderate = #67b053
c-secondary-strong = #429334
c-green-strongest = #027902
c-green = #4cdb33
c-green-light = #94d589
c-yellow = #db0
c-yellow-light = #ffc
c-yellow-lighter = #f4f7e1
c-yellow-js = #f1e05a
c-yellow-highlight = #ffe270
c-pink = #e92c6c
c-pink-light = #ffd2d2
c-red = #d11911
c-red-shadow = #7a0000
c-blue-strong = #2865b3
c-blue-light = #a4d4e6
c-blue-hover = #b8dae7
c-blue = #92c5d8
