f-core = 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif
f-mono = Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif
f-arial = Arial, Helvetica, sans-serif
