f-core = 'Helvetica Neue', HelveticaNeue, TeXGyreHeros, FreeSans, 'Nimbus Sans L', 'Liberation Sans', Helvetica, Arial, sans-serif
f-mono = Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif
f-georgia = Georgia, serif
f-heading = 'Neuton', 'Hoefler Text', 'Palatino', 'Baskerville', 'Georgia', 'Times New Roman', serif
f-subheading = 'Merriweather', f-georgia
