rainbow(v-direction = right)
  background linear-gradient(to v-direction, c-white 0, c-yellow-highlight 33%, c-green 66%, c-pink 100%)

rainbow-simple(v-direction = right)
  background linear-gradient(to v-direction, c-white 0, c-yellow-highlight 33%, c-pink 100%)

@keyframes bg-rainbow
  0%
    background-color c-pink
  50%
    background-color c-yellow
  90%
    opacity 0.6
    background-color c-green

rainbow-pseudo()
  &:before
    position absolute
    content ''
    left 0
    right 0
    bottom -8px
    height 3px
    opacity 0.8
    transition all 0.1s ease-in-out
    animation bg-rainbow 0.5s infinite

font-awesome()
  display inline-block
  font normal normal normal 14px/1 FontAwesome
  font-size inherit
  text-rendering auto
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

squared-border(v-height)
  v-height-2x = v-height * 2
  position relative
  &:before
    content ''
    position absolute
    left 0
    right 0
    height v-height
    background repeat-x left center
    background-size v-height v-height, v-height v-height, v-height-2x v-height
    background-position right center, left center, center center
    background-repeat no-repeat, no-repeat, repeat-x

squared-border-color(v-color)
  &:before
    background-image linear-gradient(v-color, v-color),
                     linear-gradient(v-color, v-color),
                     linear-gradient(to right, transparent 25%, v-color 25%, v-color 75%, transparent 75%)

squared-border-top(v-top = 0)
  &:before
    top v-top

squared-border-bottom(v-bottom = 0)
  &:before
    bottom v-bottom
