// list of z-index levels
z-bury = -1
z-bureaucracy-input-uploading = 80
z-bureaucracy-input-uploading-icon = 81
z-weekly-assembler-section-toggler = 90
z-interactive-talks-map = 100
z-interactive-talks-stop = 110
z-loading-indicator = 10000
z-prompt = 20000
z-bubble = 30000
