/* AUTHOR-SPECIFIC STYLES
----------------------------------------------------------*/
#author-menu {
  float: right;
  margin-top: 15px;
}
#review-entries {
  margin-right: 15px;
}
#review-entries:hover {
  text-decoration: underline;
}
#write-entry {
  display: inline-block;
}
