.ua-firefox *
  outline none !important // outlines do not play well with absolutely positioned pseudo elements in firefox

.ua-firefox,
.ua-edge
  .dc-colored
    border-top-style outset // dotted is dashed everywhere but FF/Edge
