@media print
  .nv-search,
  .ly-header,
  .ly-aside,
  .fs-messages,
  .nv-container,
  .at-full,
  .at-related,
  .at-siblings,
  .mm-comments
    display none

  .md-markdown pre code
    display inline

  .av-article
    margin-top 15px
