@media print
  .bt-button,
  .nv-search,
  .ly-header,
  .ly-footer,
  .fs-messages,
  .nv-container,
  .at-header-button,
  .at-subscribe,
  .an-siblings,
  .de-sidebar,
  .mm-comments,
  .ig-container,
  input,
  button
    display none

  .md-markdown pre code
    display inline

  body,
  .ly-section
    background-color transparent
