.uv-clearfix:after
  content ' '
  display block
  visibility hidden
  clear both
  font-size 0
  height 0

.uv-left
  float left

.uv-right
  float right

.uv-hidden
  display none !important

.uv-verify
  position absolute
  overflow hidden
  clip rect(0 0 0 0)
  margin -1px
  width 1px
  height 1px
  padding 0
  border 0
