article.ly-section.vw-maintainer.de-host
  section.vw-maintainer-content.de-column
    h1.vw-title Bio Editor
    section
      textarea.wk-textarea.cb-bio(placeholder='Your bio goes here!')=bio

    h2 Bio Preview
    section.cb-preview.md-markdown

    footer.cb-actions
      button.gg-container.bt-button.bt-pink.cb-save(type='submit')
        span.bt-text Save
        include ../partials/button-background

  include ../partials/aside
