article.ly-section
  h1.vw-title Bio Editor
  section.cb-container
    div.cb-bio(placeholder='Your bio goes here!', data-markdown=user.bio)
    article.cb-preview.md-markdown

  footer.cb-actions
    button.cb-save Save
