article.ly-section
  h1.vw-title Bio Editor
  section.cb-container
    textarea.cb-bio.pmk-input(placeholder='Your bio goes here!', data-markdown=bio)
    article.cb-preview.md-markdown

  footer.cb-actions
    button.cb-save Save
