article.ly-section.al-container.de-host
  section.al-logon.de-column
    section.al-logon-content
      h1.vw-title Authentication

      if providers.length
        section.al-providers
          each p in providers
            a.al-provider(href=p.link, title='Authenticate with ' + p.name)='Authenticate with ' + p.name

        p.al-separator
         span='- or the '
         i old fashioned
         span=' way -'

      form.al-form(method='post', action='/account/login/local')
        input(type='hidden', name='redirect', value=previousUrl)

        p
          input(type='text', name='email', placeholder='Your email address')

        p
          input(type='password', name='password', placeholder='Your password')

        if registration
          p
            input.ck-input#alf-create-checkbox(type='checkbox', name='create')
            label.ck-checkbox(for='alf-create-checkbox') New Account

        p
          span.de-button
            button.gg-container.bt-button.bt-pink(type='submit')
              span.bt-text Login
              include ../partials/button-background

  include ../partials/aside
