section#metadata-template.template
  meta(name='keywords', content='{{keywords}}')
  meta(name='description', content='{{description}}')

  meta(property='og:site_name', content=config.site.title)
  meta(property='og:url', content='{{url}}')

  // {{#images}}
  meta(property='og:image', content='{{.}}')
  // {{/images}}

  meta(property='og:title', content='{{title}}')

  // {{#description}}
  meta(property='og:description', content='{{description}}')
  meta(itemprop='description', content='{{description}}')
  // {{/description}}
  // {{^description}}
  meta(property='og:description', content=config.site.description)
  meta(itemprop='description', content=config.site.description)
  // {{/description}}

  meta(itemprop='creator', content=config.blogger.name)
  meta(itemprop='name', content='{{title}}')
  meta(itemprop='image', content='{{firstImage}}')
  meta(itemprop='url', content='{{url}}')