section#metadata-template.template
  meta(name='keywords', content='{{keywords}}')

  meta(property='og:site_name', content=blog.title)
  meta(property='og:url', content='{{url}}')

  // {{#images}}
  meta(property='og:image', content='{{.}}')
  // {{/images}}

  meta(property='og:title', content='{{title}}')

  // {{#description}}
  meta(name='description', property='og:description', itemprop='description', content='{{description}}')
  // {{/description}}
  // {{^description}}
  meta(name='description', property='og:description', itemprop='description', content=blog.meta)
  // {{/description}}

  meta(name='author', itemprop='creator', content=blogger.meta)
  meta(itemprop='name', content='{{title}}')
  meta(itemprop='image', content='{{firstImage}}')
  meta(itemprop='url', content='{{url}}')

  link(rel='canonical', href='{{url}}')