section#validation-dialog-template.template
  article.dialog.validation-dialog
    header.dialog-title
      h1.underline='Oops!'

    section.dialog-body
      include _validation-errors

    footer.dialog-buttons
      button.button.small.ok-button='OK'