#entry-editor fieldset {
  margin-bottom: 20px;
}
#entry-editor fieldset p {
  margin-bottom: 10px;
}
#entry-editor fieldset label {
  width: 80px;
}
#entry-title {
  width: 620px;
  margin-left: 6px;
}
#wmd-input-brief {
  height: 120px;
}
#entry-preview {
  margin-top: 30px;
}
#entry-preview .blog-entry-title h1.empty {
  border-bottom: 1px solid transparent;
}
#entry-editor-buttons {
  margin-top: 10px;
  text-align: right;
}
#submit-entry {
  margin-left: 10px;
}
