article.ly-section.vw-maintainer.de-host
  section.vw-maintainer-content.de-column
    h1.vw-title 503 Service Unavailable
    p It looks like you went offline there, and we were unable to make ourselves useful. Sorry about that, but you’ll have to wait until you get a connection. Other parts of the site are probably in the offline cache. Maybe try to retrace your steps? Pages you visited recently should be available to you even when offline.

    p
      span!='&mdash; '
      a.lk-link(href='https://twitter.com/ponyfoo', aria-label='Find me on Twitter!') @ponyfoo

  include ../partials/aside
