each thread in parent.commentThreads
  article.mm-thread(data-thread=thread.id)
    section.mm-thread-comments
      each comment in thread.comments
        include comment

    if parent.commentOpen
      footer.mm-thread-footer
        span(aria-label='Click here to add a reply to this thread')
          button.bt-button.bt-purple.mm-thread-reply.uv-hidden Reply
