h1.vw-title Article Composer
section.ac-container
  input.ac-title(placeholder='A Meaningful, Catchy Title')
  input.ac-slug(placeholder='a-meaningful-catchy-title')
  textarea.ac-introduction
  textarea.ac-body
