h1.vw-title Article Composer
section.ac-container
  input.uv-text-input.ac-title(placeholder='A Meaningful, Catchy Title')
  input.uv-text-input.ac-slug(placeholder='a-meaningful-catchy-title')
  div.ac-text.ac-introduction(placeholder='Introduction to your article. Used for marketing, search snippets, etc.')
  div.ac-text.ac-body(placeholder='Main body of your article')
  input.uv-text-input.ac-tags(placeholder='Enter a list of tags relevant to this article')
  article.ac-preview
    h1.ac-preview-title
  section.ac-preview-tags
  section.ac-timing
    input.ck-input.ac-status#ac-publish-radio(type='radio', name='ac-status', value='publish')
    label.ck-radio(for='ac-publish-radio') Publish
    input.ck-input.ac-status#ac-draft-radio(type='radio', name='ac-status', value='draft')
    label.ck-radio(for='ac-draft-radio') Draft
    input.ck-input.ac-schedule#ac-schedule-checkbox(type='checkbox')
    label.ck-checkbox(for='ac-schedule-checkbox') Schedule
    input.ac-publication(type='datetime')
  footer.ac-actions
    a.ac-discard(aria-label='The draft will be deleted') Discard Draft
    button.ac-draft(aria-label='You can access your drafts at any time') Save Draft
    button.ac-save(aria-label='Make the content immediately accessible!') Save
