h1.vw-title Article Composer
section.ac-container
  input.uv-text-input.ac-title(placeholder='A Meaningful, Catchy Title')
  input.uv-text-input.ac-slug(placeholder='a-meaningful-catchy-title')
  div.ac-text.ac-introduction(placeholder='Introduction to your article. Used for marketing, search snippets, etc.')
  div.ac-text.ac-body(placeholder='Main body of your article')
  input.uv-text-input.ac-tags(placeholder='Enter a list of tags relevant to this article')
  article.ac-preview
    h1.ac-preview-title
  section.ac-preview-tags
  footer.ac-actions
    a.ac-discard(href='/', aria-label='The draft will be deleted') Discard Draft
    button.ac-draft(aria-label='You can access your drafts at any time') Save Draft
    button.ac-publish(aria-label='Make the content immediately accessible!') Publish Article
