h1.vw-title Article Review
section.ar-container
  table.ar-table
    thead
      tr
        th Title
        th Tags
        th Status
        th Actions
    tbody
      each article in articles
        tr
          td
            a(href=article.permalink, aria-label='Navigate to full article')=article.title
          td
            each tag in article.tags
              a.tg-tag(href='/articles/tagged/' + tag, aria-label='Find articles tagged "' + tag + '"')=tag
          td(title=article.status, class='ar-status ar-status-' + article.status)
          td
            a.ic-icon.ic-edit(href='/author/compose/' + article.slug, aria-label='Edit')
            a.ic-icon.ic-remove(aria-label='Remove', data-id=article._id.toString())
