h1.vw-title Article Review
section.ar-container
  a(href='/author/compose') Compose
  table.ar-table
    thead
      tr
        th Title
        th Tags
        th Status
        th Actions
    tbody
      each article in articles
        tr
          td
            a(href=article.permalink, aria-label='Navigate to full article')=article.title
          td
            include ../partials/tags
          td(class='ar-status ar-status-' + article.status)=article.status[0].toUpperCase() + article.status.substr(1)
          td
            a.ic-icon.ic-edit(href='/author/compose/' + article.slug, aria-label='Edit')
            a.ic-icon.ic-remove(aria-label='Remove', data-slug=article.slug)
