aside
  section#search.ly-section.sr-container
    input.ad-input.sr-input(placeholder='e.g JavaScript')
    button.ad-button.sr-button Search

  section.ly-section.ss-container
    div.ss-label Subscribe to our mailing list and be the first to know when new articles come out!
    input.ad-input.ss-input(placeholder='you@provider.io')
    button.ad-button.ss-button Subscribe!

  section.al-archives.ly-section
    a(href='/articles/archives', aria-label='The archives contain every single article ever published!') Archives

  section.ad-back.ly-section
    a.ad-back-link(href='#top')
