nav.nv-container#top
  a.sr-link(href='#search') Q

  if model.user
    div.nv-logon
      a.nv-logon-anchor(href='/account/logout') Logout
  else
    div.nv-logon
      a.nv-logon-anchor(href='/account/login') Login

  if model.user && model.user.author
    ul.nv-items
        li.nv-item
          a(href='/author/compose', aria-label='Prepare a fresh draft') Compose
        li.nv-item
          a(href='/author/review', aria-label='Review articles and drafts') Review
