article.ly-section.vw-maintainer.de-host
  section.vw-maintainer-content.de-column
    h1.vw-title Email Composer
    section.ec-container
      select.ec-topic
        option(value='announcements', selected) Announcements
        option(value='articles') Articles & Comments
        option(value='newsletter') Weekly Newsletter
      input.ec-subject(placeholder='Email Subject')
      input.ec-teaser(placeholder='Teaser about email contents')
      div
        textarea.ec-body.wk-textarea(placeholder='Main body of your email')
    section.ec-actions
      span(aria-label='Send out to every subscriber!')
        button.gg-container.bt-button.bt-pink.ec-send(type='submit')
          span.bt-text Send to All
          include ../partials/button-background

    section.ec-preview
      div.ec-preview-teaser Teaser about email contents
      img(src='/img/emails/header.png', alt='')
      div.ec-preview-contents
        h1.ec-preview-subject Email Campaign Preview
        div.ec-preview-body.md-markdown Main body of your email

  include ../partials/aside
