article.ly-section
  h1.vw-title Email Composer
  section.ec-container
    input.ec-subject(placeholder='Email Subject')
    input.ec-teaser(placeholder='Teaser about email contents')
    textarea.ec-text.ec-body.pmk-input(placeholder='Main body of your email')
    article.ec-preview.md-markdown
      h1.ec-preview-subject.at-title
      h4.ec-preview-teaser
  footer.ec-actions
    button.ec-send(aria-label='Send out to every subscriber!') Send to all
