article.ly-section
  h1.vw-title Email Composer
  section.ec-container
    input.ec-title(placeholder='Email Subject')
    textarea.ec-text.ec-body.pmk-input(placeholder='Main body of your email')
    article.ec-preview.md-markdown
      h1.ec-preview-title.at-title
  footer.ec-actions
    button.ec-send(aria-label='Send out to every subscriber!') Send to all
