article.ly-section.vw-maintainer.de-host
  form.vw-maintainer-content.de-column(action='/api/engagements/new', method='post')
    h1.vw-title New Engagement
    input.aen-conference(name='conference', placeholder='What is the conference called?')
    input.aen-start(name='start', placeholder='DD-MM-YYYY')
    input.aen-end(name='end', placeholder='DD-MM-YYYY')
    input.aen-website(name='website', placeholder='A website we can point visitors to?')
    input.aen-venue(name='venue', placeholder='Give us the name for the venue')
    input.aen-location(name='location', placeholder='Where should we point Google Maps to?')
    input.aen-tags(name='tags', placeholder='What are you doing this time?', value='speaking')
    footer.aen-actions
      a.aen-cancel.lk-link(href='/speaking/review', aria-label='Back to list of engagements') Cancel
      span(aria-label='Make the engagement public!')
        button.bt-button.bt-pink(type='submit') Publish

  include ../partials/aside
