mixin pager
  section.an-siblings.uv-clearfix
    if page > 1
      a.an-anchor.an-prev(href=page === 2 ? taunus.resolve('author/logs') : taunus.resolve('author/logs', { page: page - 1 }), rel='prev', aria-label='Go to the previous page') « Newer
    if more
      a.an-anchor.an-next(href=taunus.resolve('author/logs', { page: page + 1 }), rel='next', aria-label='Go to the next page') Older »

article.vw-maintainer.de-host
  section.vw-maintainer-content.de-column
    h1.vw-title Logs

    section.lg-container
      header.lg-actions
        +pager

      if logs.length
        table.lg-table
          thead
            th Level
            th When
            th Message
          tbody.lg-body
            include logs/rows

        footer.lg-actions
          +pager

  include ../partials/aside
