article.ly-section.vw-maintainer
  section.vw-maintainer-content
    h1.vw-title Article Review
    section.ar-container
      div.ar-actions
        a.ar-recompute.fa.fa-calculator(href='/author/compute', aria-label='Recompute related articles')
        a.fa.fa-pencil-square-o(href='/author/compose', aria-label='Prepare a fresh draft')
      table.ar-table
        thead
          tr
            th Title
            th Tags
            th Condition
            th Actions
        tbody
          each article in articles
            tr
              td(data-label='Title')
                a(href!=article.permalink, aria-label='Navigate to full article')=article.title
              td(data-label='Tags')
                include ../partials/tags
              td(data-label='Condition', class='ar-status ar-status-' + article.status, aria-label=article._.conditionLabel)=article._.condition
              td.ar-buttons(data-label='Actions')
                a.fa.fa-pencil.ar-edit(href='/author/compose/' + article.slug, aria-label='Edit this article')
                a.fa.fa-remove.ar-remove(aria-label='Delete this article', data-slug=article.slug)

  include ../partials/aside
