article.ly-section
  h1.vw-title Article Review
  section.ar-container
    div.ar-actions
      a.ar-compute(aria-label='Updates cross-references between articles') Compute Relationships
      a(href='/author/compose', aria-label='Prepare a fresh draft') Compose
    table.ar-table
      thead
        tr
          th Title
          th Tags
          th Condition
          th Actions
      tbody
        each article in articles
          tr
            td
              a(href!=article.permalink, aria-label='Navigate to full article')=article.title
            td
              include ../partials/tags
            td(class='ar-status ar-status-' + article.status, aria-label=article._.conditionLabel)=article._.condition
            td
              a.ic-icon.ic-edit(href='/author/compose/' + article.slug, aria-label='Edit')
              a.ic-icon.ic-remove(aria-label='Remove', data-slug=article.slug)
