div.asg-setting
  button.asg-remove.lk-icon.fa.fa-remove(type='button')
  div.asg-field
    div.asg-field-title Name
    input.asg-key(name='setting_keys', value=setting.key, placeholder='Your setting’s name')
  div.asg-field
    div.asg-field-title Value
    textarea.asg-value(name='setting_values', placeholder='Setting value')=setting.value
