article.ly-section.vw-maintainer.de-host
  section.vw-maintainer-content.de-column
    h1.vw-title
      span Subscribers
      span=' '
      span='(' + subscribers.filter(function(s) { return s.verified }).length + ')'
    section.as-container
      div.as-chart

  include ../partials/aside
