@import "../reusable/common.less";

.feature {
  margin-top: 20px;
}

.feature h3 {
  border-bottom: 1px solid darken(@green_light, 3%);
  padding-bottom: 2px;
}

.feature > section {
  display: inline-block;
  vertical-align: top;
}

.feature .market {
  margin-right: 8px;
}

.feature .description {
  width: 85%;
  line-height: 1.25em;
}

.feature .description p:not(:first-of-type) {
  margin-top: 10px;
}

.feature h3 {
  margin-bottom: 6px;
  font-size: 1.3em;
  .ff-calibri();
}