.ae-actions
  display block
  text-align right
  padding 0 8px
  margin-bottom 10px

.ae-action
  padding 0 8px

.ae-buttons
  width 40px
  text-align right

@media only screen and (max-width: 950px)
  .ae-buttons
    text-align left
    width inherit
