.al-logon-content
  margin 0 auto
  text-align center
  padding 0 20px
  max-width 500px

.al-provider
  display inline-block
  vertical-align top
  width 50%

@media only screen and (min-width: 500px)
  .al-form
    position relative

  .al-registration
    position absolute
    right 0
    margin 0
