.asg-header
  text-align right

.asg-new,
.asg-remove
  padding 0

.asg-setting
  position relative
  margin 20px 0

.asg-remove
  position absolute
  top 0
  right 0
  font-size 18px

.asg-value
  min-height 150px

.asg-field-title
  font-size 13px
  margin-bottom 6px

.asg-field-notes
  font-style italic
  text-align center
  color c-dark-gray
  margin-top 10px
  font-size 11px

.asg-actions
  margin-top 20px
  text-align right

.asg-cancel
  display inline-block
  margin-right 15px

@media only screen and (min-width: 768px)
  .asg-field
    vertical-align top
    display inline-block
    width 50%

  .asg-field-notes
    margin-top 50px
