.de-sidebar
  position relative
  margin-top 150px
  padding-top 25px
  background-color rgba(c-white, 0.75)

  &:before,
  .ca-container:before
    position absolute
    left 0
    right 0
    height 4px
    content ''
    background linear-gradient(to right, c-white 0, c-yellow-highlight 66%, c-pink 100%)
  &:before
    top 0
  .ca-container:before
    bottom -4px
  .ca-container
    max-width inherit

  .ly-section
    margin-bottom 25px
    &:last-child
      margin-bottom 0

  p
    margin 20px 0
    line-height 28px

.de-input
  display inline-block
  width calc(100% - 130px)

.de-button
  vertical-align top
  display inline-block
  button
    width 130px
  .bt-text
    font-size 18px
    line-height 38px

.de-search-label
  font-style italic
  margin-bottom 10px
  border-bottom 1px dotted c-purple

.de-search,
.de-subscribe
  padding 10px

.de-search
  background linear-gradient(to bottom, rgba(c-yellow-highlight, 0.4) 0, rgba(c-purple, 0.3) 100%)

.de-bio
  position relative
  text-align left
  padding 25px 10px

  &:before
    position absolute
    left 0
    right 0
    top 0
    height 4px
    content ''
    background linear-gradient(to right, c-white 0, c-yellow-highlight 66%, c-pink 100%)

  &:after
    position absolute
    left 0
    right 0
    bottom -4px
    height 4px
    content ''
    background linear-gradient(to left, c-white 0, c-yellow-highlight 66%, c-pink 100%)

.de-hits
  padding 0 10px

.de-heading
  margin-top 10px

.de-hit-list
  position relative
  list-style-type none
  text-align left
  padding-bottom 10px
  margin-bottom 50px

  &:before
    position absolute
    left 0
    right 0
    bottom -4px
    height 4px
    content ''
    background linear-gradient(to right, c-white 0, c-yellow-highlight 33%, c-green 66%, lighten(c-green, 98%) 100%)

  .de-hit-text
    max-width 100%
    display inline-block
    white-space nowrap
    text-overflow ellipsis
    overflow hidden

.de-column-padded
  padding 0 20px

@media screen and (min-width: 1200px)
  sidebar-width = 360px

  .de-host
    padding-right sidebar-width

  .de-column
    position relative
    float left
    width 100%

  .de-sidebar
    margin-top 0
    padding 0 20px 20px
    width sidebar-width
    margin-right sidebar-width * -1

    &:before
      content none

  .de-subscribe
  .de-hits
    padding 0

  .de-search
    margin 10px -10px

  .de-bio
    padding 25px 0
