.ivpr-actions
  display block
  text-align right
  padding 0 8px
  margin-bottom 10px

.ivpr-action
  padding 0 8px

.ivpr-buttons
  width 80px
  text-align right

.ivpr-remove-form
  display inline-block

.ivpr-date
  width 200px

.ivpr-type
  width 100px
  text-transform capitalize

@media only screen and (max-width: 950px)
  .ivpr-buttons
    text-align left
    width inherit
