.mc-name,
.mc-email,
.mc-site,
.mc-composer .uv-verify
  display block
  margin-bottom 15px
  width 100%

.mc-preview
  margin 20px 0

.mc-cancel-reply
  display inline-block
  font-weight normal
  color c-black-text
  font-size 14px
  margin-left 8px

.mc-site,
.mc-cancel-detail
  display none

.mc-send
  border-top 3px solid lighten(c-pink, 40%)
  display inline-block

.mc-content ~ .wk-switchboard
  display none

.mc-composer
  margin-left 30px
  text-align left

@media screen and (min-width: 768px)
  .mc-author
    margin-bottom 20px
    font-size 0

  .mc-composer .uv-verify
    margin-bottom 20px

  .mc-name,
  .mc-email
    margin-right 15px

  .mc-name,
  .mc-email,
  .mc-site
    display inline-block
    font-size initial
    margin-bottom 0
    width 32%
    margin-right 2%

  .mc-site
    margin-right 0

  .mc-cancel-detail
    display inline-block
    margin-left 6px
