.mk-header-logo
  margin-left -30px

.mk-header-piece
  display inline-block
  vertical-align middle

.mk-header-domain
  font-weight bold

.mka-container
  margin-top 40px

.mki-intro
  background-color c-purple
  color c-white
  font-size 40px
  padding 20px
  margin-bottom 20px
  f-use-subheading()

.mk-title
  text-align center
  width calc(100% - 186px)

.mk-section-half,
.mk-section-third
  display inline-block
  vertical-align top

.mk-section-half
  width 50%
.mk-section-third
  width (100% / 3)

.mk-section-title
  margin-top 0
  font-size 60px
  text-align center
  color c-white

.mk-section-teaser
  font-size 28px
  text-align center
  color rgba(c-white, 0.4)
  f-use-subheading()

.mkw-container
  .cr-overflow
    padding 50px 40px
    width 600px
    transform scaleX(0.5) scaleY(0.55)
    transform-origin top left

  .cr-content
    height 700px

.mkw-title
  font-size 100px
  color c-bright-turquoise
.mkw-teaser
  padding 10px 0
  background-color c-dark-orange
  color c-white
.mkw-features
  margin-top 50px
  color c-blue
  li
    list-style-type none
    margin 15px 0
    &:before
      font-awesome()
      content '\f00c'
      margin 0 5px
.mkw-ad
  background-color c-blue
  color c-white
.mkw-email-sample
  margin-top 50px
.mkw-reader
  width 30%
  height 450px
.mkw-features
  width 36.666666%
  padding-right 2%

.mka-content,
.mka-book
  display inline-block
  vertical-align top
  margin 10px 0

.mka-content
  width 70%
  padding-right 10px
.mka-book
  width 30%
.mka-title
  color c-dark-green
.mka-description
  f-use-subheading()
  p
    margin 20px 0
.mka-speaking
  overflow hidden
  height 270px

.mka-speaking,
.mka-speaking-image
  width 100%

.mka-speaking-image
  display block
  margin-top -300px

.mks-section
  padding 10px

.mks-header
  margin-top 100px
  margin-bottom 0
  text-align center
  color c-red

.mks-section-header
  margin-bottom 0
.mks-heading,
.mks-pricing
  padding 10px
  text-align center
.mks-heading
  background-color c-red
  color c-white
.mks-pricing
  background-color c-red-005
  color c-red

.mks-separator .mks-section
  padding-top 0
  &:before
    display block
    border-bottom 1px dashed c-red
    height 1px
    content ''
.mks-description
  padding 10px 10px 0 10px
  line-height 26px
  div
    margin-bottom 20px
    &:last-child
      margin-bottom 15px
.mks-primary
  .wy-section-link
    position relative
  .wy-link-description-section
    padding-top 40px
  .wy-link-title
    position absolute
    left 10px
    right 10px
.mks-jobs .wy-link-title
  font-size 14px

.mk-cta
  text-align center
  margin-top 120px
  font-size 55px
  line-height 80px

.mk-cta-email
  margin-top 30px
  font-size 75px
  line-height 1em
  padding 30px
  background-color c-purple
  color c-white
