.mm-comments
  margin-right 40px

.mm-comments-embeded .mm-comments
  margin-right 0
  margin-left -20px

.mm-heading
  padding 20px
  margin-bottom 40px
  background linear-gradient(to left, c-white 0, c-yellow-highlight 33%, c-pink 100%)
  color c-white

.mm-author
  padding av-author-padding
  f-use-subheading()

.mm-website
  lk-link-rare('.mm-author-name')

.mm-author-name
  margin-left 8px
  display inline-block
  vertical-align middle
  line-height 22px

.mm-content
  position relative
  margin-top 2px
  margin-left 20px

  &:before
    float left
    content ''
    border-bottom 1px dotted lighten(c-green, 40%)
    width 10px
    height 30px
    margin-top -3px

  &:after
    position absolute
    content ''
    border-left 1px dotted lighten(c-green, 40%)
    width 1px
    top 0
    bottom -3px
    margin-top -3px

.mm-comment:last-child .mm-content
  &:before
    border-left 1px dotted lighten(c-green, 40%)
  &:after
    display none

.mm-content-html
  margin-left 10px
  padding 10px
  background linear-gradient(to right, c-light-orange 0%, lighten(c-orange, 60%) 100%)

  .md-code-block
    margin 0 -10px
    padding 0

    &:first-child
      margin-top -10px

    &:last-child
      margin-bottom -10px

  blockquote
    background-color rgba(c-blue, 0.05)
    max-width inherit !important
    margin 0 -10px

    &:first-child
      margin-top -10px

    &:last-child
      margin-bottom -10px

.mm-thread
  margin-top 40px

.mm-thread-footer
  text-align right

.mm-thread-reply
  border-top 3px solid lighten(c-orange, 20%)

.mm-thread-footer .mc-composer
  border-top 3px solid lighten(c-orange, 20%)
  margin-bottom 40px

.mm-footer-title
  margin 40px 10px
  text-align center
  f-use-subheading()

  &:only-child
    display none

.mm-remove
  float right
  line-height 22px
  margin-left 10px
  color c-dark-orange
  &:hover
    color c-pink

.mm-wrote,
.mm-wrote-separator,
.mm-written
  display inline-block
  vertical-align baseline
  white-space pre
  color c-dark-orange
  font-size 12px
  line-height 22px

.mm-wrote
  display none

.mm-written
  float right

@media screen and (min-width: 500px)
  .mm-wrote
    display inline-block

  .mm-written
    float none

@media screen and (min-width: 768px)
  .mm-thread-footer
    .mc-composer
      border-top none
    .mc-author input
      border-top 3px solid lighten(c-orange, 20%)

  .mm-footer-title
    margin 40px 20px

  .mm-heading
    padding 20px 40px
