.os-container
  position relative
  margin 20px

.os-role
  margin-bottom 60px

@media only screen and (min-width: 750px)
  .os-intro
    padding-right w-ad + 10px

  .os-ad
    position absolute
    right 0
    width w-ad
