::selection {
  background: #ecf0f1;
  color: #8e44ad;
  text-shadow: 0 1px rgb(0, 0, 0, .2);
}

body {
  padding: 10px;
  font-family: 'Roboto';
  font-weight: 300;
  background-color: #9b59b6;
  color: #ecf0f1;
}

a {
  color: #f1c40f;
}

a:hover {
  color: #f39c12;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #8e44ad;
}

h1 {
  font-weight: 900;
}

.title-header {
  text-align: center;
  margin-bottom: 15px;
}

.title {
  display: inline-block;
  font-size: 3em;
  border-bottom: 4px solid #9b59b6;
  padding-bottom: 8px;
}

.nom-nom {
  text-align: center;
  margin-top: 30px;
}

img {
  max-width: 100%;
}

li {
  list-style-type: binary;
}

.contact {
  margin-top: 25px;
  text-align: right;
}