section#authentication-required-template.template
  section.authentication-required
    p
      span='To {{action}}, please '
      a.highlighted-link(href='/user/login')='log in'
      span=' first'

    p
      em='No typing required!'