section#comments.mm-comments
  include comment-thread

  footer.mm-footer
    section.mc-composer.ly-section
      div.mc-author
        input.mc-name(placeholder='John Doe')
        input.mc-email(placeholder='hello@johndoe.io')
        input.mc-site(placeholder='johndoe.io (optional)')
      div.mc-content
      article.mc-preview.md-markdown
      button.mc-send(aria-label='Make your comment immediately available!') Publish Comment
      a.mc-cancel-reply.uv-hidden(aria-label='Start a new discussion instead!')
        span Cancel Reply
        em.mc-cancel-detail (creates a new thread)
