section.mm-comments
  each comment in article.comments
    section.mm-comment

  footer
    section.mc-container
      input.mc-name(placeholder='John Doe')
      input.mc-email(placeholder='hello@johndoe.io')
      input.mc-site(placeholder='johndoe.io (optional)')
      div.mc-content
      article.mc-preview
      button.mc-send Comment
