section.mm-comments
  each comment in article.comments
    section.mm-comment

  footer
    section.mm-create
      input(placeholder='John Doe')
      input(placeholder='johndoe.io')
      input(placeholder='hello@johndoe.io')
      textarea
      button Comment
