@import "../../defaults/common.less";

.discussion-row td {
  vertical-align: top;
  padding-top: 5px;
  padding-bottom: 5px;
}

.discussion-row .date {
  width: 85px;
}

.discussion-row .user-icon {
  width: 30px;
}

.discussion-row .user-displayName {
  width: 160px;
}

.discussion-row .discussion-actions {
  width: 24px;
}