@import "../../defaults/common.less";

.entry-row .remove {
  margin-left: 8px;
}

.entry-row .title {
  font-weight: bold;
}

.entry-row .date {
  width: 85px;
}

.entry-row .actions {
  width: 56px; /* icons and margins */
}