-
  published = article.status === 'published';

include article/header

section.at-container.de-host
  div.de-column
    include article/main
    include article/cta

    if published || user
      - this.parent = article
      - this.parentType = 'articles'
      include ../comments/all

  include ../partials/aside

div.sp-line-wrapper.uv-hidden
  div.sp-line
