section#comments.mm-comments
  h2.mm-heading
    span.mm-heading-text Comments

    if article.commentCount
      span.mm-count='(' + article.commentCount + ')'
    else
      span.mm-count You're the first one here!

  include comment-thread

  footer.mm-footer
    form.mc-composer.ly-section(action='/api/articles/' + article.slug + '/comments', method='post', name='comment')
      div.mc-author
        input.mc-name(placeholder='John Doe', name='name')
        input.mc-email(placeholder='hello@johndoe.io', name='email')
        input.mc-site(placeholder='johndoe.io (optional)', name='site')
      div.mc-content
        textarea.pmk-input(name='content', placeholder='Please enter your comment here, Markdown formatting is supported.')
      article.mc-preview.md-markdown
      input.mc-send.uv-button(type='submit', aria-label='Make your comment immediately available!', value='Publish Comment')
      a.mc-cancel-reply.uv-hidden(aria-label='Start a new discussion instead!')
        span Cancel Reply
        em.mc-cancel-detail (creates a new thread)
