section#comments.mm-comments
  h2.mm-heading
    span.mm-heading-text Comments
    span=' '
    if article.commentCount
      span.mm-count='(' + article.commentCount + ')'

  include comment-thread

  footer.mm-footer
    div.mm-footer-title Add your comments below. Be nice and mindful of others.
    form.mc-composer.ly-section(action='/api/articles/' + article.slug + '/comments', method='post', name='comment')
      div.mc-author
        input.mc-name(placeholder='John Doe', name='name')
        input.mc-email(placeholder='hello@johndoe.io', name='email')
        input.mc-site(placeholder='johndoe.io (optional)', name='site')
      noscript
        input.uv-verify(name='verify', value='Promise not to be a bot? Clear this field!', placeholder='This field is only for tricksters...')
      div
        textarea.wk-textarea.mc-content(name='content', placeholder='Please enter your comment here, Markdown formatting is supported.')
      span.bt-label(aria-label='Make your comment immediately available!')
        button.gg-container.bt-button.bt-pink.mc-send(type='submit')
          span.bt-text Add Comment
          include ../partials/button-background
      a.mc-cancel-reply.uv-hidden(aria-label='Start a new discussion instead!')
        span Cancel Reply
        em.mc-cancel-detail (create a new comment thread instead)
