section.ly-section.sr-top
  h1.sr-top-title
    span='Your query '
    span=query
    if fail
      span=' yielded no results!'
    else
      span=' yielded some results!'

  if fail
    h2.sr-top-legend ...but we took the opportunity to pull together a few articles very carefully chosen at random!

if articles
  each article in articles
    include article

else
  include article
