article.aa-container.de-host
  header.ly-section.sr-header.de-column
    h1.sr-title
      span='Your query '
      span=query
      if fail
        span=' yielded no results!'
      else
        span=' yielded some results!'

    if fail
      h2.sr-note ...but we took the opportunity to pull together a few articles very carefully chosen at random!

  include list
  include ../partials/aside
