section.ly-section.sr-top
  if fail
    h1.sr-top-title Your search yielded no results!
    h2.sr-top-legend ...but we took the opportunity to pull together a few articles very carefully chosen at random!
  else
    h1.sr-top-title Your search yielded some results!

if articles
  each article in articles
    include article

else
  include article
