meta(charset='utf-8')

link(rel='shortcut icon', href=config.statics.favicon)
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='viewport', content='width=device-width, initial-scale=1')

yield

if !config.env.production
  meta(name='robots', content='noindex,nofollow')