.sy-header,
.sy-container
  padding 0 40px

.sy-header .go-logo-container
  margin-left 0

.sy-container
  &:after
    content ''
    display block
    border-bottom 10px dashed rgba(c-black, 0.2)
    margin 160px 0 40px
    opacity 0.2
  &:last-child:after
    content none

.sy-list
  display block
  list-style-type none

.sy-list-block,
.sy-list-item
  padding 10px

.sy-list-item-orange
  background-color c-dark-orange

.sy-list-item-purple
  background-color c-purple

.sy-title
  margin-top 0
  padding 10px 20px
  border-bottom 10px solid rgba(c-black, 0.2)

.sy-container-orange
  &:after
      border-bottom-color c-dark-orange
  .sy-title
    background-color c-dark-orange
    color c-white

.sy-container-purple
  &:after
      border-bottom-color c-purple
  .sy-title
    background-color c-purple
    color c-white

.sy-container-yellow
  &:after
      border-bottom-color c-yellow-highlight
  .sy-title
    background-color c-yellow-highlight
    color c-black-text

.sy-container-green
  &:after
      border-bottom-color c-dark-green
  .sy-title
    background-color c-dark-green
    color c-white

@media screen and (min-width: 500px)
  .sy-list-item
    display inline-block
    vertical-align top
    width 50%

@media screen and (min-width: 900px)
  .sy-list-item
    width 25%
