.synav-container
  margin-top 40px
  display block
  text-align center
  background-color c-dark-turquoise
  border-bottom 5px solid  c-light-turquoise

.synav-list
  line-height inherit
  list-style-type none
  f-use-subheading()

.synav-item
  display inline-block
  margin 10px

.synav-link
  display block
