#outlook a
  padding 0

.ReadMsgBody
  width 100%

.ExternalClass
  width 100%
  &,
  p,
  span,
  font,
  td,
  div
    line-height 100%

body,
table,
td,
p,
a,
li,
blockquote
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%

body
  margin 0
  padding 0

body,
.layout-table,
.layout-td
  height 100% !important
  margin 0
  padding 0
  width 100% !important

.layout-inside
  width 600px

table
  border-collapse collapse !important

table,
td
  mso-table-lspace 0pt
  mso-table-rspace 0pt

img
  -ms-interpolation-mode bicubic
  border 0
  height auto
  col-outline-clear()
  text-decoration none
  border none
  line-height 100%
  max-width 100%

h1,
h2,
h3,
h4
  color c-black-text
  font-family f-core
  font-style normal
  font-weight bold
  line-height 100%
  letter-spacing normal
  display block
  margin-top 0
  margin-right 0
  margin-bottom 10px
  margin-left 0
  text-align left

h1
  font-size 26px

h2
  font-size 20px

h3
  font-size 16px

h4
  font-size 14px

a,
a:link,
a:visited,
a .yshortcuts
  color c-pink
  text-decoration none

a:hover,
a .yshortcuts:hover
  text-decoration underline

body,
.layout-table
  background-color c-white

.layout-td
  border-top 4px solid transparent

.layout-header-content
  color c-black-text
  font-family f-core
  font-size 11px
  line-height 125%
  text-align left

.layout-footer-item
  color c-black-text
  font-family f-core
  font-size 10px
  line-height 150%
  text-align right

.body-header-wrapper
  background-color c-white

.body-header-image-td
  color c-black-text
  font-family f-core
  font-size 20px
  font-weight bold
  line-height 100%
  padding-top 0
  padding-right 0
  padding-bottom 0
  padding-left 0
  text-align left
  vertical-align middle

.body-header-image-link
  display block

.body-header-image
  display block
  height auto
  width 100%

.body-container
  background-color c-white
  border-bottom 1px solid transparent

.body-had-header-image
  margin-top 25px

.body-content
  color c-black-text
  font-family f-core
  font-size 14px
  line-height 150%
  text-align left

@media only screen and (max-width: 480px)
  body,
  table,
  td,
  p,
  a,
  li,
  blockquote
    -webkit-text-size-adjust none !important

  body
    width 100% !important
    min-width 100% !important

  .layout-td
    padding 10px !important

  .layout-inside
    max-width 460px !important
    width 100% !important

  h1
    font-size 24px !important
    line-height 100% !important

  h2
    font-size 20px !important
    line-height 100% !important

  h3
    font-size 18px !important
    line-height 100% !important

  h4
    font-size 16px !important
    line-height 100% !important

  .layout-header
    display none !important

  .layout-footer-item
    font-size 14px !important
    line-height 115% !important

    a
      display block !important

  .body-header-image-td
    font-size 20px !important
    line-height 125% !important

  .body-content
    font-size 18px !important
    line-height 125% !important

.layout-footer-unsubscribe
  padding-right 20px

.layout-header-content
  padding-top 10px
  padding-bottom 10px

.layout-header-content-right
  text-align right

.layout-footer-item
  padding-top 10px
  padding-bottom 10px

p
  margin 25px 0

th,
td
  padding 0
