include ../../blog/discussion/actions
include ../../blog/discussion/reply
include ../../blog/discussion/discussion
include ../../blog/discussion/comment
include ../../blog/discussion/comment-edit

include ../../user/profile-edit