section#empty-entry-template.template(data-class='blog-entries')
  article.blog-entry-section.blog-empty
    header.blog-entry-title
      h1='No posts'

    section
      p
        // {{#emptyText}}
        i='{{emptyText}}'
        // {{/emptyText}}
        // {{^emptyText}}
        i='No posts found for {{title}}'
        // {{/emptyText}}

      include ../_nav-options