h1 Password Reset

p
  span='To reset your password, '
  a(href!=reset.link) use this link
  span . You will be able to choose a new password.

p='This link will expire ' + reset.expires + '.'
p(style='padding-top: 15px;')
  a(href!=reset.link)=reset.link

p(style='padding-top: 25px;') No further action is required to ignore this request
p Make sure to store your password in a safe location and never share it with anyone!
