section#user-password-reset-template.template(data-class='password-reset')
  h1='Type your new password'

  section.password-reset-area
    p='You can change your password below'
    p
      input.password-reset-input(type='password', name='password', placeholder='Type your new password here')

    p
      button.password-reset-button.button.small='Update Password'