section#user-password-reset-template.template(data-class='password-reset')
  h1='Choose your Password'

  section.js-password-reset-area
    p
      input.js-password-reset(type='password', name='password', placeholder='Type your new password here')

    p
      button.js-password-reset-button.button='Update Password'