section.blog-comment
  header.blog-comment-author
    span.user-name='{{author.displayName}}'
    section.blog-comment-actions
      button.action.edit(title='Edit')='Edit'
      button.action.remove(title='Remove')='Remove'

  section.blog-comment-body
    section.blog-comment-gravatar
      img.user-gravatar(data-src='{{author.gravatar}}')

    section.blog-comment-text='{{{html}}}'