section.blog-comment(data-id='{{_id}}')
  header(class='{{css}}')
    a.user-name(data-hint='See profile', href='/user/profile/{{author.id}}', itemprop='creator')='{{author.displayName}}'
    // {{#actions}}
    section.blog-comment-actions
      // {{#edit}}
      button.action.edit(title='Edit')='Edit'
      // {{/edit}}
      // {{#remove}}
      button.action.remove(title='Remove')='Remove'
      // {{/remove}}
    // {{/actions}}

  section.blog-comment-body.clearfix
    section.blog-comment-gravatar
      a.user-gravatar-link(data-hint='See profile', href='/user/profile/{{author.id}}')
        img.user-gravatar(data-src='{{author.gravatar.regular}}')

    section.markdown.blog-comment-text(itemprop='commentText')='{{{html}}}'