section#discussion-actions-template.template
  footer.discussion-actions
    section.comment-editor
      div#wmd-button-bar-discussion.wmd-button-bar
      div
        textarea#wmd-input-discussion.wmd-input(data-postfix='-discussion', placeholder='Write your comment. Markdown is enabled.')

      section#wmd-preview-discussion.blog-comment

    section.discussion-action-buttons
      button.small.discussion-create(data-text='Comment', data-text-disabled='Commenting...')='Comment'