section#discussion-list-template.template
  section.blog-entry-comments
    // {{#discussions}}
    article.blog-discussion(data-id='{{_id}}')
      // {{#comments}}
      section.blog-comment
        header.blog-comment-author
          img.user-gravatar(href='{{gravatar}}')
          span='{{displayName}}'

        section.blog-comment-body='{{html}}'
      // {{/comments}}

    // {{/discussions}}