section#discussion-reply-template.template
  footer.discussion-footer
    section.comment-editor.hidden
      div.wmd-button-bar(id='wmd-button-bar-reply-{{id}}')
      div
        textarea.wmd-input.comment-input(id='wmd-input-reply-{{id}}', data-postfix='-reply-{{id}}', placeholder='Write your comment. Markdown syntax is allowed.')

      section.markdown.markdown-preview(id='wmd-preview-reply-{{id}}')

    section.discussion-footer-buttons
      button.button.small.discussion-reply(data-text='Reply', data-text-disabled='Replying...')='Reply'