@import "../../defaults/common.less";

.authentication-providers {
  margin-top: 25px;
}

.authentication-provider-links .label {
  vertical-align: middle;
  margin-top: 3px;
}

.authentication-provider-links a {
  margin-right: 6px;
}

.authentication-alternative {
  text-align: center;
  margin: 16px 0 12px;
}