@import "../../defaults/common.less";

.user-gravatar {
  width: 60px;
  height: 60px;
  border: 3px solid @strong;
  .box-radius(6px);
  .box-shadow(1px 2px 1px @pink);
}

.user-gravatar.large {
  width: 80px;
  height: 80px;
}

.user-gravatar.small {
  width: 40px;
  height: 40px;
}

.user-profile-link {
  display: inline-block;
  margin-right: 12px;
}

.user-profile-link .user-gravatar {
  display: inline-block;
  margin-bottom: -17px;
  margin-right: 12px;
}

.user-profile-link .user-name {
  display: inline-block;
}