span='browser extensions – '
a.lk-icon.lk-chrome.fa.fa-chrome(href='https://chrome.google.com/webstore/detail/pony-foo-weekly-link-subm/ldiaebhociegnbdjbkfbhbpebeiamldi', aria-label='Suggest links for Pony Foo Weekly via our Chrome extension.', target='_blank')
span=' '
a.lk-icon.lk-firefox.fa.fa-firefox(href='https://addons.mozilla.org/en-US/firefox/addon/ponyfooweekly/', aria-label='Suggest links for Pony Foo Weekly via our Firefox extension.', target='_blank')
span=' '
a.lk-icon.lk-opera.fa.fa-opera(href='https://addons.opera.com/en/extensions/details/pony-foo-weekly-link-submissions/', aria-label='Suggest links for Pony Foo Weekly via our Opera extension.', target='_blank')
span=' –'
