span='browser extensions – '
a.lk-icon.lk-chrome.fa.fa-chrome(href='https://chrome.google.com/webstore/detail/pony-foo-weekly-link-subm/ldiaebhociegnbdjbkfbhbpebeiamldi', aria-label='Suggest links for Pony Foo Weekly via our Chrome extension.', target='_blank')
span=' '
a.lk-icon.lk-black.fa.fa-code(href='https://github.com/ponyfoo/ponyfooweekly-extension', aria-label='Suggest links for Pony Foo Weekly via our browser extension.', target='_blank')
span=' –'
