header.dc-header
  h1.dc-heading Pony Foo Weekly Newsletter
  div.dc-role A newsletter about the open web, based around a new theme every week.

article.de-host
  section.de-column
    p Foo

  include ../partials/aside
