- rss = 'https://feeds.feedburner.com/ponyfooweekly'
if any !== false
  nav.wn-navigation
    ul.wn-list
      li.wn-item
        a.wn-link.lk-link.lk-white.lk-clean(href='/weekly', aria-label='One email about the web every thursday.') Home
      li.wn-item
        a.wn-link.lk-link.lk-white.lk-clean(href='/weekly/history', aria-label='The full Pony Foo Weekly publication history') History
      li.wn-item
        a.wn-link.lk-link.lk-white.lk-clean(href='/weekly/last', aria-label='Check out the latest Pony Foo Weekly issue.', data-taunus-ignore) Latest Issue
      li.wn-item
        a.wn-link.lk-link.lk-white.lk-clean(href='/weekly/sponsor', aria-label='Learn about our sponsorship opportunities and advertise with us!') Sponsor
      li.wn-item
        a.wn-link.lk-link.lk-white.lk-clean(href=rss, aria-label='Track the RSS feed and be the first to learn about freshly published content.', target='_blank') RSS
