extends layout

block menu
  aside#author-menu
    nav
      a#review-entries(href='/author/entry/review')='Review Entries'
      a.button#write-entry(href='/author/entry')='Write Entry'


block templates
  include author/editor
  include author/review