!!! 5

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title='Pony Foo'
    meta(name="description", content="Ramblings of a degenerate coder")
    meta(name="author", content="nicolasbevacqua@gmail.com")
    meta(name="viewport", content='width=device-width, initial-scale=1')

    include shared/og

    link(rel='shortcut icon', href='/favicon.ico')
    !=assetify.css.emit(assetProfile)

  body
    header.layout-header
      h1.layout-heading
        a#home(href='/')='Pony Foo'

      block menu

    section#content
      include shared/spinner

    include shared/ribbon
    include shared/404
    include shared/loader

    include main/entries
    include main/entry

    block templates

    footer
      include shared/analytics
      !=assetify.js.emit(assetProfile)
