div.grippie {
  background: #f3f4eb url('/images/grippie.png') no-repeat scroll center 2px;
  border-color: #dedede;
  border-style: solid;
  border-width: 0pt 1px 1px;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
}
div.grippie:active {
  border-color: #cbc5c0;
}
textarea.resizing {
  color: #fff;
  background-color: #412917;
  opacity: 0.5;
}
