/* BASIC LAYOUT
----------------------------------------------------------*/

body {
    word-wrap: break-word;
    overflow-x: hidden;
}

header.layout-header {
    padding: 12px 0;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    header.layout-header { margin-bottom: 30px; }
}

@media only screen and (min-width: 1024px) {
    header.layout-header { margin-bottom: 40px; }
}

h1.layout-heading {
    margin: 0 auto;
    display: inline-block;
}

section.main {
  width: 93.75%; /* 300px on 320px */
  margin: 0 auto;
  text-align: left;
  padding: 6px 0;
}

section.main h1 { margin-bottom: 12px; }



/* TEMPLATES
----------------------------------------------------------*/

.template {
    display: none !important;
}