.wmd-button-row {
  padding: 0px;
  height: 20px;
  margin: 0;
}
.wmd-button-bar {
  height: 25px;
  width: 660px;
  margin: 10px 0px 2px 0px;
}
.wmd-button {
  width: 20px;
  height: 20px;
  padding-left: 2px;
  padding-right: 3px;
  display: inline-block;
  list-style: none;
  cursor: pointer;
  border: 2px solid transparent;
}
.wmd-button:hover {
  border-top: 2px solid #cbc5c0;
  border-left: 2px solid #cbc5c0;
}
.wmd-button > span {
  background-image: url('/images/wmd-buttons.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.wmd-spacer {
  width: 1px;
  height: 20px;
  margin: 0 6px;
  background-color: silver;
  display: inline-block;
  list-style: none;
}
.wmd-input {
  width: 660px;
  min-height: 200px;
  line-height: 1.2;
}
.wmd-prompt-background {
  background-color: #000;
}
.wmd-prompt-dialog {
  border: 1px solid #cbc5c0;
  background-color: #eaeadf;
  padding: 12px;
}
.wmd-prompt-dialog p {
  margin-bottom: 15px;
}
.wmd-prompt-title {
  padding-bottom: 6px;
  color: #412917;
  font-weight: bold;
  font-size: 1.2em;
  border-bottom: 1px solid #cbc5c0;
}
.wmd-prompt-dialog form {
  text-align: center;
}
