section#entry-siblings-template.template
  section.blog-entry-siblings.clearfix
    span.blog-entry-prev
      a.highlighted-link(rel='prev', href='{{previous.url}}', data-hint='{{previous.title}}')='{{previous.title}}'

    span.blog-entry-next
      a.highlighted-link.hint-before(rel='next', href='{{next.url}}', data-hint='{{next.title}}')='{{next.title}}'