.sy-container
  padding 0 40px

  .go-logo-container
    margin-left 0

.sy-title
  padding 10px 20px
  border-bottom 10px solid rgba(c-black, 0.2)

.sy-title-purple
  background-color c-purple
  color c-white
