// {{#entries}}
article.blog-entry
  header.blog-entry-title
    h1
      a(href='{{url}}')='{{title}}'
    span.blog-entry-date(title='posted {{dateText}}')='posted {{timeAgo}}'

  section.blog-entry-brief='{{{html.brief}}}'
  section.blog-entry-text='{{{html.text}}}'
// {{/entries}}