section.blog-entry-comments
  // {{#discussions}}
  article.blog-discussion
    // {{#comments}}
    section.blog-comment
      header.blog-comment-author
        img.user-gravatar(href='{{gravatar}}')
        span='{{displayName}}'

      section.blog-comment-body='{{html}}'
    // {{/comments}}

    footer.blog-discussion-reply
      a='Reply'
  // {{/discussions}}

  footer.blog-discussion-actions
    a='Comment'