.bg-badge
  display inline-block
  padding 5px
  color c-white
  background-color c-black-text
  border-right 5px solid rgba(c-black, 0.1)

@media only screen and (min-width: 950px)
  .bg-badge-cell
    text-align right
