bt-button()
  cursor pointer
  position relative
  padding 0 20px
  margin 0
  border none
  background-color transparent
  overflow hidden
  f-use-subheading()
  &:active
    col-outline(c-black-text)

bt-text()
  display inline-block
  text-align center
  line-height 48px
  font-size 24px
  color c-white

bt-color(c-color)
  background-color c-color
  &:active
    outline-color c-color
  &:hover
    background-color lighten(c-color, 10%)

.bt-button
  bt-button()
  bt-text()

.bt-purple
  bt-color(c-purple)
.bt-pink
  bt-color(c-pink)
.bt-red
  bt-color(c-red)
.bt-teal
  bt-color(c-oreilly-teal)
