.bt-button
  cursor pointer
  position relative
  padding 0
  margin 0
  border none
  background-color transparent
  overflow hidden
  f-use-subheading()
  &:active
    col-outline(c-black-text)

.bt-text
  display block
  text-align center
  line-height 48px
  font-size 24px
  padding 0 20px
  color c-white

bt-color(c-color)
  &:active
    outline-color c-color
  .bt-text
    background-color c-color
  &:hover .bt-text
    background-color lighten(c-color, 10%)

.bt-purple
  bt-color(c-purple)
.bt-pink
  bt-color(c-pink)
.bt-red
  bt-color(c-red)
