.c-oreilly-teal
  color c-oreilly-teal
.c-yellow-highlight
  color c-yellow-highlight
.c-dark-orange
  color c-dark-orange
.c-pink
  color c-pink
.c-purple
  color c-purple
.c-blue
  color c-blue
.c-dark-turquoise
  color c-dark-turquoise
.c-dark-green
  color c-dark-green
.c-white
  color c-white

.c-bg-oreilly-teal
  background-color c-oreilly-teal
.c-bg-yellow-highlight
  background-color c-yellow-highlight
.c-bg-dark-orange
  background-color c-dark-orange
.c-bg-pink
  background-color c-pink
.c-bg-purple
  background-color c-purple
.c-bg-blue
  background-color c-blue
.c-bg-dark-turquoise
  background-color c-dark-turquoise
.c-bg-dark-green
  background-color c-dark-green
.c-bg-white
  background-color c-white
