.ca-container
  position relative
  text-align left
  height 140px
  margin-bottom 25px

  &:empty
    display none

  &:before
    position absolute
    left 0
    right 0
    bottom -4px
    height 4px
    content ''
    background linear-gradient(to right, c-white 0, c-yellow-highlight 66%, c-pink 100%)

.ca-loading,
.ca-blocked
  font-style italic

.ca-blocked a
  color c-pink

.ca-support
  margin-top 20px

#carbonads + .ca-blocked
  display none

.ca-loading,
.ca-blocked,
#carbonads
  text-align center
  position absolute
  top 10px
  left 10px
  right 10px
  bottom 10px
  background-color c-white

.carbon-wrap
  text-align left

.carbon-img
  vertical-align top
  display inline-block
  text-align center
  margin-right 15px

.carbon-text
  vertical-align top
  display inline-block
  overflow hidden
  width 135px
  height 98px
  font-size 14px
  color #333
  margin-bottom 20px

.carbon-poweredby
  position absolute
  font-style italic
  font-size 11px
  margin-top 10px
  right 10px
  bottom 10px
  color c-pink
