.ca-container
  padding 0
  margin 0
  text-align left

  &:empty
    display none

.ca-help-me
  font-style italic
  a
    color c-pink

.ca-content
  text-align center
  position relative
  padding 10px 10px 25px
  margin-bottom 25px

  &:before
    position absolute
    left 0
    right 0
    bottom -4px
    height 4px
    content ''
    background linear-gradient(to right, c-white 0, c-yellow-highlight 66%, c-pink 100%)

#carbonads + .ca-help-me
  display none

.carbon-wrap
  text-align left

.carbon-img
  vertical-align top
  display inline-block
  text-align center
  margin-right 15px

.carbon-text
  vertical-align top
  display inline-block
  width 135px
  font-size 14px
  color #333
  margin-bottom 20px

.carbon-poweredby
  position absolute
  font-style italic
  font-size 11px
  margin-top 10px
  right 10px
  bottom 10px
  color c-pink
