.ck-input
  position absolute
  visibility hidden
  pointer-events none
  opacity 0

.ck-checkbox,
.ck-radio
  display inline-block
  vertical-align middle
  cursor pointer

.ck-checkbox:before,
.ck-radio:before
  display inline-block
  vertical-align middle
  background-color c-purple
  color lighten(c-purple, 20%)
  text-shadow none
  line-height 18px
  margin-right 5px

.ck-checkbox:before
  padding 3px 5px 4px 5px
  border-radius 6px
  content '\2713'

.ck-radio:before
  padding 2px 7px 4px
  border-radius 600px
  content '\25CF'

.ck-checkbox:hover:before,
.ck-radio:hover:before
  color lighten(c-purple, 30%)

.ck-input:checked + .ck-checkbox:before,
.ck-input:checked + .ck-radio:before,
.ck-checkbox-checked:before,
.ck-radio-checked:before
  color #fff
  text-shadow 1px 1px 1px c-moderate

.ck-readonly
  cursor default
  pointer-events none
  &:before
    background-color darken(c-purple, 30%)

.ck-alone:before
  margin 0
