.dc-header
  margin-top 20px
  margin-bottom 60px

.dc-heading
  text-align center
  font-size 4em
  padding 0 10px
  margin-top 0
  margin-bottom 10px

.dc-role
  line-height 26px
  padding 0 20px
  margin-top 10px
  text-align center
  font-style italic
  color c-gray

.dc-title-container
  background linear-gradient(to bottom, c-pink 0, lighten(c-pink, 30%) 40%, lighten(c-pink, 50%) 60%, c-white 100%)

.dc-title
  border-bottom 4px solid rgba(lighten(c-pink, 60%), 0.4)
  padding 20px
  margin-top 40px
  margin-bottom 0
  font-size 2.6em
  text-align center
  color lighten(c-pink, 90%)
  transition color 0.1s ease-in-out

  /.ly-custom-headings &
    font-size 3em

  .md-code
    background-color rgba(c-black, 0.2)
    color c-white

dc-color(c-border-top, c-background)
  border-color c-border-top
  background-color c-background
  .aa-cover-footer:before
    background linear-gradient(to top, c-background 0, rgba(c-background, 0.8) 50%, transparent 100%)
  .aa-cover-image
    background-color c-background

.dc-colored
  border-top 9px dotted
  &:nth-child(7n-6)
    dc-color(darken(c-yellow-highlight, 25%), lighten(c-yellow-005, 20%))
  &:nth-child(7n-5)
    dc-color(darken(c-orange, 25%), lighten(c-orange-005, 20%))
  &:nth-child(7n-4)
    dc-color(c-pink, lighten(c-pink-005, 30%))
  &:nth-child(7n-3)
    dc-color(c-red, lighten(c-red-005, 40%))
  &:nth-child(7n-2)
    dc-color(c-purple, lighten(c-purple-005, 40%))
  &:nth-child(7n-1)
    dc-color(c-dark-turquoise, lighten(c-dark-turquoise, 96%))
  &:nth-child(7n-0)
    dc-color(c-green, lighten(c-green-005, 50%))

@media only screen and (min-width: 768px)
  .dc-title
    padding 20px 40px 30px
    font-size 3em
    text-align inherit

    /.ly-custom-headings &
      font-size 4em
