.dc-header
  margin-top 20px
  margin-bottom 60px

.dc-heading
  text-align center
  font-size 4em
  padding 0 10px
  margin-top 0
  margin-bottom 10px

.dc-role
  line-height 26px
  padding 0 20px
  margin-top 10px
  text-align center
  font-style italic
  color c-gray

dc-color(c-border-top, c-background)
  border-color c-border-top
  background-color c-background
  .aa-cover-footer:before
    background linear-gradient(to top, c-background 0, rgba(c-background, 0.8) 50%, transparent 100%)

    /.ua-safari &
      background none // safari sucks at rendering this gradient

  .aa-cover-image
    background-color c-background

.dc-colored
  border-top 9px dotted
  /.ua-firefox &
    border-top-style outset // dotted is dashed everywhere but firefox. dots in firefox are awful.
  &:nth-child(7n-6)
    dc-color(darken(c-yellow-highlight, 25%), lighten(c-yellow-005, 20%))
  &:nth-child(7n-5)
    dc-color(darken(c-orange, 25%), lighten(c-orange-005, 20%))
  &:nth-child(7n-4)
    dc-color(c-pink, lighten(c-pink-005, 30%))
  &:nth-child(7n-3)
    dc-color(c-red, lighten(c-red-005, 40%))
  &:nth-child(7n-2)
    dc-color(c-purple, lighten(c-purple-005, 40%))
  &:nth-child(7n-1)
    dc-color(c-dark-turquoise, lighten(c-dark-turquoise, 96%))
  &:nth-child(7n-0)
    dc-color(c-green, lighten(c-green-005, 50%))
