@import 'node_modules/dragula/dragula'

.gu-candidate
  cursor move
  cursor grab
  cursor -moz-grab
  cursor -webkit-grab

.gu-mirror
  cursor grabbing
  cursor -moz-grabbing
  cursor -webkit-grabbing
