.fn-footer
  background-color c-light-gray
  background linear-gradient(to bottom, c-white 0, c-light-gray 100%)

.fn-link
  display inline-block
  margin-left 30px
  margin-bottom 30px
  &:first-child
    margin-left 0

.fn-icon
  padding 10px

.fn-facebook:hover
  color c-facebook-blue

.fn-twitter:hover
  color c-twitter-blue

.fn-slack:hover
  color c-slack-green
