.fn-footer
  background-color c-light-gray
  background linear-gradient(to bottom, c-white 0, c-light-gray 100%)

.fn-link
  display inline-block
  margin-left 30px
  margin-bottom 30px
  &:first-child
    margin-left 0
