.go-logo-container
  margin 30px // center on the pony's head, ignore the horn
  padding 0
  text-align center
  f-use-subheading()

.go-logo-image
  display block

.go-anchor
  cursor pointer
  display inline-block
  margin-left 30px

.go-text
  display block
  font-variant small-caps
  font-size 22px
  padding-top 3px

@media screen and (min-width: 768px)
  .go-logo-container
    margin-bottom 0

  .go-text
    text-align left

  .go-anchor
    display block
    margin-left 0
