.go-anchor
  cursor pointer
  display inline-block
  margin-left 30px // center on the pony's head, ignore the horn

.go-block
  display block

.go-text-wrapper
  display block
  text-align left
  font-variant small-caps
  font-size 22px
  margin-top 3px
  color c-black

.go-text
  rainbow-pseudo-on-hover()
