@import 'node_modules/hint/src/hint'

[aria-label]:not(.hint-before):hover:after,
[data-hint]:not(.hint-before):hover:after,
[aria-label].hint-before:hover:before,
[data-hint].hint-before:hover:before
  display none
  font-family f-core
  background-color rgba(c-black, 0.95)
  border-color c-green
  color c-white
  text-shadow none
  box-shadow none
  border-radius 0

@media only screen and (min-width: 768px)
  [aria-label]:not(.hint-before):hover:after,
  [data-hint]:not(.hint-before):hover:after,
  [aria-label].hint-before:hover:before,
  [data-hint].hint-before:hover:before
    display block
