.hn-navigation
  margin 15px 0

.hn-list
  line-height inherit
  list-style-type none

.hn-item
  display inline-block
  margin 0 10px 20px

.ly-custom-subheadings .hn-list
  font-family f-subheading

.hn-link
  display block
  color c-black
  rainbow-pseudo-on-hover()

@media only screen and (min-width: 768px)
  .go-logo-container,
  .hn-navigation
    display inline-block
    vertical-align baseline

  .hn-navigation
    margin-bottom 0
