.ht-hint,
.ht-hint-before
  position relative

.ht-hint:after,
.ht-hint-before:before
  position absolute
  top 16px
  left 6px

  z-index z-hint
  pointer-events none

  content attr(data-hint)

  box-transition all 0.3s ease
  tooltip()

.ht-hint:hover:after,
.ht-hint-before:hover:before
  box-transform translateY(8px)

@media only screen and (max-width: 767px)
  .ht-hint:after,
  .ht-hint-before:before
    display none

  .ht-hint:hover:after,
  .ht-hint-before:hover:before
    display block

@media only screen and (min-width: 768px)
  .ht-hint:after,
  .ht-hint-before:before
    opacity 0

  .ht-hint:hover:after,
  .ht-hint-before:hover:before
    opacity 1

@media print
  .ht-hint,
  .ht-hint-before
    display none
