.mde-text-left
  text-align left
.mde-text-center
  text-align center
.mde-text-right
  text-align right

.mde-size-small
  font-size 12px
  &,
  p
    line-height 12px
.mde-size-large
  font-size 36px
  &,
  p
    line-height 36px
.mde-size-giant
  font-size 72px
  &,
  p
    line-height 72px

.mde-clearfix
  clearfix()

.mde-quote
  md-quote-styles()

.mde-core
  font-family f-core
.mde-mono
  font-family f-mono
.mde-heading
  f-use-heading()
.mde-subheading
  f-use-subheading()

.mde-pad-0
  padding 0
.mde-pad-5
  padding 5px
.mde-pad-10
  padding 10px
.mde-pad-15
  padding 15px
.mde-pad-20
  padding 20px
.mde-pad-25
  padding 25px
.mde-pad-30
  padding 30px
.mde-pad-50
  padding 50px

.mde-mar-0
  margin 0
.mde-mar-5
  margin 5px
.mde-mar-10
  margin 10px
.mde-mar-15
  margin 15px
.mde-mar-20
  margin 20px
.mde-mar-25
  margin 25px
.mde-mar-30
  margin 30px
.mde-mar-50
  margin 50px

@media only screen and (min-width: 900px)
  .mde-left
    float left
  .mde-right
    float right

  .mde-inline
    display inline-block
    vertical-align top
  .mde-20
    max-width 20%
  .mde-25
    max-width 25%
  .mde-33
    max-width 33.3333333333%
  .mde-50
    max-width 50%
  .mde-66
    max-width 66.6666666666%
  .mde-75
    max-width 75%
