.md-code-block,
.md-code-inline
  text-size-adjust none
  background c-yellow-01
  color #4d4d4c

.md-code-block
  line-height 24px

.md-code
  padding 8px 10px

.md-code-inline
  padding 0px 6px

a .md-code
  color inherit

.md-code-comment
  color #8e908c

.md-code-variable,
.md-code-attribute,
.md-code-tag,
.md-code-regexp,
.md-lang-ruby .md-code-constant,
.md-lang-xml .md-code-tag .md-code-title,
.md-lang-xml .md-code-pi,
.md-lang-xml .md-code-doctype,
.md-lang-html .md-code-doctype,
.md-lang-css .md-code-id,
.md-lang-css .md-code-class,
.md-lang-css .md-code-pseudo,
  color #c82829

.md-code-number,
.md-code-preprocessor,
.md-code-pragma,
.md-code-built_in,
.md-code-literal,
.md-code-params,
.md-code-constant
  color #f5871f

.md-lang-ruby .md-code-class .md-code-title,
.md-lang-css .md-code-rule .md-code-attribute
  color #eab700

.md-code-string,
.md-code-value,
.md-code-inheritance,
.md-code-header,
.md-code-name,
.md-lang-ruby .md-code-symbol,
.md-lang-xml .md-code-cdata
  color #718c00

.md-code-title,
.md-lang-css .md-code-hexcolor
  color #3e999f

.md-code-function,
.md-lang-python .md-code-decorator,
.md-lang-python .md-code-title,
.md-lang-ruby .md-code-function .md-code-title,
.md-lang-ruby .md-code-title .md-code-keyword,
.md-lang-perl .md-code-sub,
.md-lang-javascript .md-code-title,
.md-lang-coffeescript .md-code-title
  color #4271ae

.md-code-keyword,
.md-lang-javascript .md-code-function
  color #8959a8

.md-lang-coffeescript .md-lang-javascript,
.md-lang-javascript .md-lang-xml,
.md-lang-tex .md-code-formula,
.md-lang-xml .md-lang-javascript,
.md-lang-xml .vbscript,
.md-lang-xml .md-lang-css,
.md-lang-xml .md-code-cdata
  opacity 0.5

.md-code-deletion
  background-color rgba(c-red, 0.05)
  color c-red

.md-code-addition
  background-color rgba(c-dark-green, 0.05)
  color c-dark-green

.md-mark
  background-color rgba(c-yellow-highlight, 0.5)
  color inherit

  span
    color inherit
