md-quote-s = 20px
md-quote-l = 60px

md-quote-styles()
  position relative
  margin 0
  padding md-quote-s md-quote-l md-quote-s md-quote-s
  border-top 3px double c-dark-turquoise-015
  border-bottom 3px double c-dark-turquoise-015
  &:before
    font-family f-georgia
    color c-dark-turquoise-015
    font-size 65px
    font-weight 700
    content '\201d'
    position absolute
    top 20px
    right 8px
    margin-right 2px
    line-height 40px

.md-markdown
  p,
  ul,
  ol,
  table,
  blockquote,
  code
    max-width 800px

  blockquote
    md-quote-styles()

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      margin (md-quote-s * -1) (md-quote-l * -1) (md-quote-s * -1) (md-quote-s * -1)
      padding md-quote-s md-quote-l md-quote-s md-quote-s

    .md-code-block
      margin 0 (md-quote-l * -1) 0 (md-quote-s * -1)

      &:last-child
        margin-bottom (md-quote-s * -1)

  img
    &:first-child
      margin-top 0

    &:last-child
      margin-bottom 0

  p
    &:first-child
      margin-top 0

    &:last-child
      margin-bottom 0

  li
    margin-top 20px

    &:first-child
      margin-top 0

    > ul,
    > ol
      margin-top 20px

  a:not(.md-heading)
    lk-link()

  thead
    background-color lighten(c-green, 70%)

  tbody
    background-color lighten(c-green, 95%)

    tr:nth-child(even)
      background-color lighten(c-green, 90%)

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    margin-left -20px
    margin-right -20px
    padding 10px 40px

  iframe
    display block
    margin 35px auto
    &:first-child
      margin-top 0
    &:last-child
      margin-bottom 0

.md-heading
  color inherit
  &:active
    col-outline(c-dark-gray)

.md-markdown-inline
  display inline

  p
    display inline
    line-height initial

.md-code-block,
.ocha-highlighted
  padding 10px 40px
  margin 0 -20px

.md-markdown:not(.mm-content-html) .md-code-block + blockquote
  max-width inherit !important
  margin 0 -20px

.md-code-block .md-code
  display block

.md-markdown-summary p
  margin 10px 0

@media only screen and (min-width: 768px)
  .md-markdown
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      margin-left -40px
      margin-right -40px

  .md-code-block,
  .ocha-highlighted
    margin 0 -40px

  .md-markdown:not(.mm-content-html) .md-code-block + blockquote
    margin 0 -40px

@media only screen and (min-width: 1300px)
  .md-markdown
    p,
    ul,
    ol,
    table,
    blockquote,
    code
      max-width 900px

@media only screen and (min-width: 1400px)
  .md-markdown
    p,
    ul,
    ol,
    table,
    blockquote,
    code
      max-width 1000px

  .md-code-block,
  .ocha-highlighted
    margin 0 -400px 0 -40px // account for 360px in sidebar

  .md-markdown:not(.mm-content-html) .md-code-block + blockquote
    margin 0 -400px 0 -40px // account for 360px in sidebar
