.md-markdown
  blockquote
    position relative
    margin 0
    padding 12px 12px 12px 48px
    background-color rgba(c-light, 0.5)

    &:before
      content '“'
      font-family Georgia, serif
      color c-pink
      position absolute
      top 15px
      left 8px
      font-size 65px
      font-weight 700
      line-height 40px
      margin-right 10px

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      margin-top 0

  img
    margin 1em 0

    &:first-child
      margin-top 0

    &:last-child
      margin-bottom 0

  p
    margin 28px 0
    line-height 25px

    &:first-child
      margin-top 0

    &:last-child
      margin-bottom 0

.md-markdown-inline
  display inline

  p
    display inline

.md-code-block
  padding 0 15px

.md-code-block .md-code
  display block

.md-border
  border 5px solid c-blue-light
