c-github-code = #f8f8f8

.md-markdown
  pre
    background-color c-github-code

  :not(pre) > .hljs
    display inline

  blockquote
    position relative
    margin 0
    padding 12px 12px 12px 52px
    background-color rgba(c-pink, 0.05)

    &:before
      position absolute
      left 12px
      content '“'
      color c-pink
      text-shadow 0 1px c-strong
      font-size 65px
      font-weight 700
      line-height 40px
      margin-right 10px

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      margin-top 0

  img
    margin 1em 0

    &:first-child
      margin-top 0

    &:last-child
      margin-bottom 0

  p
    &:first-child
      margin-top 0

    &:last-child
      margin-bottom 0

  li
    > ul,
    > ol
      margin-left 15px

.md-border
  border 5px solid c-blue-light
