.ocha-id
  float right
  margin-top 10px
  color c-dark-gray

.ocha-actions
  margin-top 60px
  padding 10px
  background linear-gradient(to bottom, c-yellow-highlight-01 66%, c-transparent 100%)
  f-use-subheading()

  .an-siblings
    padding 0

.ocha-contents
  [data-highlighted]
    pygments()

  [data-type='warning'],
  [data-type='sidebar']
    margin 40px 0
    padding 20px

    > :first-child
      margin-top 0
      padding-top 0

    [data-highlighted]
      margin 0 -20px

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      margin 0 -20px

  ocha-supplement(c-color)
    font-variant small-caps
    font-weight bold
    font-size 20px
    padding 5px 10px
    background-color c-color
    color c-white

  [data-type='warning']
    border-bottom 3px dashed lighten(c-red, 50%)
    background-color lighten(c-red, 95%)
    padding-top 0
    h6:first-child
      ocha-supplement(c-red)

  [data-type='sidebar']
    border-bottom 3px dashed lighten(c-dark-green, 50%)
    background-color lighten(c-dark-green, 95%)

    &:before
      display block
      margin -20px -20px 0
      content 'Sidebar'
      f-use-subheading()
      ocha-supplement(c-dark-green)

    > :first-child
      margin 0 -20px
      padding 20px
