ocha-supplement(c-color)
  border 1px dotted rgba(c-color, 0.2)

  &:after
    content ''
    display block
    padding-bottom 20px
    border-bottom 3px dashed lighten(c-color, 50%)

  .ocha-s-title
    background-color rgba(c-color, 0.05)
    color c-color

.ocha-id
  float right
  margin-top 10px
  color c-dark-gray

.ocha-actions
  margin-top 60px
  padding 10px
  background rgba(c-oreilly-teal, 0.05)
  f-use-subheading()

  .an-siblings
    padding 0
  .an-anchor
    margin-bottom 0

.ocha-highlighted
  pygments()

.ocha-s
  background-color c-white
  padding 20px
  margin 40px 0
  overflow hidden // overlapping sections properly render their boxes

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .ocha-highlighted
    margin 0
    padding 10px

  .ocha-s-title
    padding 6px 12px

.ocha-s-title
  font-variant small-caps
  font-weight bold
  font-size 20px

.ocha-s-sidebar
  ocha-supplement(c-dark-turquoise)
.ocha-s-warning
  ocha-supplement(c-red)

.ocha-footnotes
  margin-top 80px
  padding 20px 0
  border-top 1px dashed c-gray

.ocha-footnote
  margin 0
  padding 8px 0
  font-size 14px

.ocha-footnote-anchor,
.ocha-footnote-content
  display inline-block
  vertical-align middle

.ocha-footnote-anchor
  padding 2px 6px
  margin-right 10px
  text-align center
  font-weight bold
  color c-pink
  f-use-subheading()

.ocha-footnotes .ocha-footnote .ocha-footnote-anchor // purposeful specificity
  border 1px solid c-pink

.ocha-footnote .ocha-footnote-anchor:hover // purposeful specificity
  background-color c-pink
  color c-white

.ocha-footnote-ref
  margin-left 1px
  margin-right 3px

.ocha-container .ocha-contents .ocha-footnote-ref // purposeful specificity
  border-bottom 1px dotted

.ocha-read
  position relative

.ocha-contents-locked
  pointer-events none
  overflow hidden
  height 500px

.ocha-unlock-wrapper
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  text-align center
  background linear-gradient(to bottom, rgba(c-white, 0.5) 0, c-white 100%)
.ocha-unlock-container
  display inline-block
  margin-top 200px
  padding 40px
  background-color rgba(c-yellow-highlight, 0.2)
  box-shadow 0 0 20px rgba(c-yellow-highlight, 0.5)
.ocha-unlock
  display block
.ocha-unlock-note
  background-color c-yellow-highlight
.ocha-unlock-longer
  display none

@media only screen and (min-width: 500px)
  .ocha-unlock-longer
    display inline

@media only screen and (min-width: 900px)
  .ocha-s-sidebar
    width 40%

  .ocha-s-sidebar-odd
    float right
    margin-left 20px

  .ocha-s-sidebar-even
    float left
    margin-right 20px
