.otoc-main,
.otoc-list
  list-style-type none

.otoc-list
  display none
  margin-top 20px

.otoc-show
  display block

.otoc-toggle
  margin-left 5px
  color c-oreilly-teal-03
  &:hover
    color c-oreilly-teal
