.pb-block
  cursor wait !important

  &.bt-button .bt-text
    border-color rgba(c-black, 0.2)
    background rgba(c-black, 0.4)
    color c-white

  &.sb-bubble
    border none
    background c-pink-dark
    color c-white
