@import 'node_modules/rome/src/rome'

.rd-day-body:hover
  background-color rgba(#000, 0.1)

.rd-day-selected,
.rd-day-selected:hover,
.rd-time-selected,
.rd-time-option:hover
  background-color c-pink
