.rg-resizer
  background background url('/img/grippie.png') no-repeat scroll center 2px
  border-color grayish
  border-style solid
  border-width 0pt 1px 1px
  cursor s-resize
  height 9px
  overflow hidden

  &:active
    border-color border

.rg-resizing
  color #fff
  background-color strong
  opacity 0.5
