.sp-line-wrapper
  position fixed
  top 0
  left 0
  right 0

.sp-line-wrapper,
.sp-line
  height 4px

.sp-line-wrapper
  rainbow()

.sp-line
  background-color c-white
  margin-left auto
  width 100%
