.tg-tags
  cursor default
  display block

.tg-tag-item
  display inline-block
  list-style none
  margin-right 5px

  &:last-child
    margin-right 0

.tg-tag
  display block
  text-size-adjust none
  margin-right 10px
  line-height 18px
  padding 2px 6px
  background c-yellow-01

@media screen and (min-width: 768px)
  .tg-tags
    display inline-block

  .tg-tag
    margin 0
