.tg-tags
  cursor default
  display inline-block

.tg-tag-item
  display inline-block
  list-style none

.tg-tag
  padding 2px 4px
  background-color c-strongish
  box-shadow 1px 1px 1px c-border

  &:hover
    background-color c-pink-light
