.tg-tags
  cursor default

.tg-tag-item
  display inline-block
  list-style none

.tg-tag
  padding 2px 4px
  background-color strongish
  box-shadow 1px 1px 1px border

  &:hover
    background-color pink_light
