@import 'node_modules/woofmark/src/woofmark'

.wk-textarea
  margin-top 45px

.wk-switchboard
  display none

.wk-commands
  position absolute
  top -40px
  left 0
  right 0

.wk-command
  width 20%
  &:hover
    color c-pink

.wk-mode
  cursor pointer

  &:hover
    color c-pink

.wk-command-list-ul,
.wk-command-list-ol,
.wk-command-link,
.wk-command-picture-o
  display none

@media only screen and (min-width: 600px)
  .wk-command
    width inherit
  .wk-command-list-ul,
  .wk-command-list-ol,
  .wk-command-link,
  .wk-command-picture-o
    display inline-block

.wk-container-dragging
  background-color c-yellow-highlight
  color c-purple
  padding-top 40px

.ly-custom-subheadings .wk-container-dragging
  font-family f-subheading

.wk-prompt
  background linear-gradient(to bottom right, lighten(c-yellow-highlight, 70%) 0, lighten(c-yellow-highlight, 20%) 100%)
  border-bottom 5px solid c-purple
  color c-black

.wk-prompt-title
  margin 0

.wk-prompt-description
  margin 10px 0

.wk-prompt-input
  background-color darken(c-purple, 10%)
  color c-white

  &:focus
    background-color c-purple

.ly-custom-subheadings .wk-prompt-buttons
  font-family f-subheading

.wk-prompt-ok
  background-color c-purple
  color c-white

  &:hover
    background-color lighten(c-purple, 10%)

.wk-prompt-cancel:hover
  padding-bottom 3px
  border-bottom 1px solid c-purple

.wk-prompt-upload
  cursor pointer
  display inline-block
  vertical-align top
  text-align center
  background-color lighten(c-purple, 10%)
  color c-white
  padding 10px
  width 95px

  &:hover
    background-color lighten(c-purple, 15%)

.wk-prompt-upload-area .wk-prompt-drop-icon
  display none

.wk-prompt-upload-dragging
  padding-top 60px
  background-color lighten(c-purple, 10%)
  color c-white

  .wk-prompt-drop-icon
    display block

.ly-custom-subheadings .wk-prompt-upload-dragging
  font-family f-subheading

.wk-prompt-uploading
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background-color lighten(c-purple, 10%)
  color c-white
  text-align center
  padding 140px 0
  font-size 24px

.ly-custom-subheadings .wk-prompt-uploading
  font-family f-subheading

.wk-prompt-browse
  font-weight normal

.wk-prompt-input-container-uploads
  display inline-block
  margin-left -95px
  padding-left 95px
  width 100%

.wk-drop-text
  display block

.wk-prompt .wk-drop-icon,
.wk-container-drop .wk-drop-icon
  font-size 160px
  margin 20px 0
