article.ly-section.vw-maintainer.de-host
  section.vw-maintainer-content.de-column
    h1.vw-title 404 Not Found
    p The page you requested doesn’t seem to exist. If you think this is a mistake, please let me know on Twitter.
    p
      span You can also browse the site using the search box
      span.ee-search-below=' found below'
      span.ee-search-aside=' to your right, in the sidebar'
      span .

    p
      span!='&mdash; '
      a.lk-link.lk-twitter(href='https://twitter.com/ponyfoo', target='_blank', aria-label='Find me on Twitter!') @ponyfoo
      span=' '
      a.lk-link.lk-facebook(href='https://facebook.com/ponyfoo', target='_blank', aria-label='Find me on Facebook!') @ponyfoo

  include ../partials/aside
