.aa-container
  margin 20px 10px

.aa-articles
  list-style-type none

.aa-summary
  margin 10px 0

.ly-custom-subheadings .aa-summary
  font-family f-subheading

.aa-footer
  margin 10px

.aa-continue
  &:hover:after
    color c-black-text
  &:hover:visited:after
    color c-white

.aa-trivia
  margin 10px 0
  font-size 13px

.aa-tags
  display block

.aa-comments
  color inherit

.aa-cover-footer
  position absolute
  transition all 0.2s ease-in-out
  bottom 0
  left 0
  right 0

  &:before
    content ''
    display block
    height 140px

  /.aa-article:hover &
    opacity 0
    pointer-events none

.aa-cover-link
  display block

.aa-cover-image
  display block
  margin 0 auto
  max-width 100%
  max-height 300px

.aa-article
  position relative
  display inline-block
  vertical-align top
  margin-bottom 20px
  margin-right 2%
  width 49%
  padding 15px 5px

  &:nth-child(2n)
    margin-right 0

.aa-continue
  display block
  margin 10px -5px
  padding 5px 15px
  background-color rgba(c-bright-turquoise, 0.2)
  color c-black-text
  &:active
    outline 1px dotted c-light-turquoise
  &:hover
    background-color c-bright-turquoise

.aa-title
  overflow-wrap normal
  overflow hidden
  text-overflow ellipsis
  margin-top 0

.aa-title-link:focus
  outline 4px dotted c-gray
  outline-offset 6px

.aa-empty
  text-align center
  font-style italic
  font-size 24px
  padding 80px

.ly-custom-subheadings .aa-empty
  font-family f-subheading

@media screen and (min-width: 575px)
  .aa-article
    margin-right 2%
    width 32%
    padding 15px 10px

    &:nth-child(2n)
      margin-right 2%
    &:nth-child(3n)
      margin-right 0

  .aa-continue
    margin 10px -10px

@media screen and (min-width: 725px)
  .aa-container
    margin 40px 0

  .aa-articles-column
    padding 0 20px

  .aa-article:not(.aa-article-in-profile)
    margin-right 2%
    width 23.5%

    &:nth-child(2n)
      margin-right 2%
    &:nth-child(3n)
      margin-right 2%
    &:nth-child(4n)
      margin-right 0

@media screen and (min-width: 1000px)
  .aa-article:not(.aa-article-in-profile)
    margin-right 1.875%
    width 18.5%

    &:nth-child(2n)
      margin-right 1.875%
    &:nth-child(3n)
      margin-right 1.875%
    &:nth-child(4n)
      margin-right 1.875%
    &:nth-child(5n)
      margin-right 0

@media screen and (min-width: 1200px)
  .aa-articles-column
    padding-right 0
