.aa-container
  margin 20px 10px

.aa-articles
  list-style-type none

.aa-summary
  margin 10px 0

.ly-teasers .aa-summary
  font-family f-subheading

.aa-footer
  margin 10px

.aa-visit
  color c-black

.aa-continue
  display block
  font-style italic

.aa-continue,
.aa-history
  color c-pink

.aa-trivia
  margin 10px 0
  font-size 13px

.aa-tags
  display block

.aa-comments
  color inherit

.aa-article
  display inline-block
  vertical-align top
  border-top 9px dotted
  margin-bottom 20px
  margin-right 8%
  width 46%

  &:nth-child(2n)
    margin-right 0
  &:nth-child(6n-5)
    border-top-color darken(c-yellow-highlight, 25%)
  &:nth-child(6n-4)
    border-top-color darken(c-orange, 25%)
  &:nth-child(6n-3)
    border-top-color c-pink
  &:nth-child(6n-2)
    border-top-color c-red
  &:nth-child(6n-1)
    border-top-color c-purple
  &:nth-child(6n-0)
    border-top-color darken(c-green, 25%)

.aa-title
  overflow-wrap normal
  overflow hidden
  text-overflow ellipsis

.aa-empty
  text-align center
  font-style italic
  font-size 24px
  padding 80px
  a
    color c-pink

.ly-teasers .aa-empty
  font-family f-subheading

@media screen and (min-width: 575px)
  .aa-article
    margin-right 5%
    width 30%

    &:nth-child(2n)
      margin-right 5%
    &:nth-child(3n)
      margin-right 0

@media screen and (min-width: 725px)
  .aa-container
    margin 40px 20px

  .aa-article
    margin-right 2%
    width 23.5%

    &:nth-child(2n)
      margin-right 2%
    &:nth-child(3n)
      margin-right 2%
    &:nth-child(4n)
      margin-right 0

@media screen and (min-width: 1000px)
  .aa-article
    margin-right 1.875%
    width 18.5%

    &:nth-child(2n)
      margin-right 1.875%
    &:nth-child(3n)
      margin-right 1.875%
    &:nth-child(4n)
      margin-right 1.875%
    &:nth-child(5n)
      margin-right 0
