.ac-aside
  max-width 400px
  line-height 20px
  margin 30px auto

.ac-timing-title,
.ac-campaign-title
  margin 20px 0

.ac-timing-item,
.ac-campaign-item
  margin 5px 0

.ac-timing-title,
.ac-campaign-title,
.ac-timing-item,
.ac-campaign-item
  &:first-child
    margin-top 0

.ac-timing
  margin-bottom 40px

.ac-cancel,
.ac-discard
  display inline-block
  color c-black-text
  margin-right 15px
  f-use-subheading()

.ac-title,
.ac-slug,
.ac-teaser,
.ac-body,
.ac-tags
  width 100%

.ac-title
  font-size s-article-title

.ac-actions
  text-align right
  padding 40px

.ac-publication
  display none

.ac-schedule:checked ~ .ac-publication
  display block
  margin-top 15px

.ac-preview-title:empty:before
  content 'Article Preview'

.ac-preview-heading
  margin-top 40px

.ac-tags
  margin-top 20px

.ac-summary
  min-height 100px

.ac-preview-summary
  pointer-events none
  .aa-article
    width 100%

@media only screen and (min-width: 768px)
  .ac-slug
    margin-bottom 20px

@media only screen and (min-width: 1200px)
  .ac-aside
    margin-top 65px
