.ac-aside
  line-height 20px
  p
    margin 20px 0

  .ac-timing-item,
  .ac-campaign-item
    margin 5px 0

.ac-cancel,
.ac-discard
  display inline-block
  color c-black
  margin-right 15px

.ly-teasers .ac-cancel,
.ly-teasers .ac-discard
  font-family f-subheading

.ac-title,
.ac-slug,
.ac-teaser,
.ac-body,
.ac-tags
  width 100%

.ac-title
  font-size s-article-title

.ac-actions
  text-align right
  margin-top 40px

.ac-publication
  display none

.ac-schedule:checked ~ .ac-publication
  display block
  margin-top 15px

.ac-preview-title:empty:before
  content 'Article Preview'

.ac-preview
  margin-top 25px

.ac-tags
  margin-top 20px

.ac-preview-title.dc-title
  max-width 100%
  margin 0

.ac-preview-body:before
  margin 0

@media only screen and (min-width: 768px)
  .ac-slug
    margin-bottom 20px

  .ac-container,
  .ac-aside
    vertical-align top
    display inline-block

  .ac-container
    width calc(100% - 225px)
    margin-right 20px

  .ac-aside
    width 200px

    p:first-child
      margin-top 0
