.ac-title,
.ac-slug,
.ac-teaser,
.ac-body,
.ac-tags
  width 100%

.ac-title
  font-size s-article-title

.ac-actions
  text-align right

.ac-publication
  display none

.ac-schedule:checked ~ .ac-publication
  display block
  margin-top 15px

.ac-preview-title:empty:before
  content 'Article Preview'

.ac-preview
  margin-top 25px

  .pmk-preview:last-child
    margin-top 40px
    margin-bottom 25px

.ac-timing-draft
  margin-top 0

.ac-actions a
  margin-right 5px

.ac-tags
  margin-top 20px

@media only screen and (min-width: 768px)
  .ac-slug
    margin-bottom 20px

  .ac-container,
  .ac-timing
    vertical-align top
    display inline-block

  .ac-container
    width calc(100% - 225px)
    margin-right 20px

  .ac-timing
    width 200px
