.ad-back-link
  &:before
    display inline-block
    font-family monospace
    margin-right 2px
    content '↑'

  &:after
    display inline-block
    content 'Back to top'

@media screen and (min-width: 768px)
  .ad-back
    display none
