.ae-add,
.ae-remove
  color c-pink

.ae-actions
  display block
  text-align right
  padding 10px
  margin-bottom 10px

.ae-buttons
  width 40px
  text-align right

.ae-remove
  padding 0

@media only screen and (max-width: 950px)
  .ae-buttons
    text-align left
    width inherit
