.al-logon-content
  margin 0 auto
  text-align center
  padding 0 20px
  max-width 500px

.al-provider
  display inline-block
  vertical-align top
  text-align center
  width 20%
  background-color c-black-text

  &:hover
    opacity 0.9

.al-provider-facebook
  background-color c-facebook-blue
.al-provider-twitter
  background-color c-twitter-blue

@media only screen and (min-width: 500px)
  .al-form
    position relative

  .al-registration
    position absolute
    right 0
    margin 0
