.al-logon-content
  margin 0 auto
  text-align center
  padding 0 20px
  max-width 500px

.al-provider
  display block
  color c-pink

@media only screen and (min-width: 768px)
  .al-logon-content
    text-align left
    padding-left 40px
