.al-container
  position relative

.al-logon
  text-align center
  max-width 500px
  margin 0 auto
  padding 0 20px

.al-provider
  display block
  color c-pink

@media only screen and (min-width: 768px)
  .al-logon
    text-align left
    padding-left 40px
