.am-header
  margin-bottom 40px

.am-heading
  text-align center
  font-size 4em
  margin-top 0
  margin-bottom 10px

.am-role
  margin-top 10px
  text-align center
  font-style italic
  color c-gray

.am-container
  padding 0 20px

.am-photo-section
  float left
  margin-right 20px
  margin-bottom 20px

.am-photo,
.am-photo-disclaimer
  display block

.am-photo-disclaimer
  margin-top 10px
  font-style italic

.am-heart
  color c-pink
