.an-siblings
  padding 40px 0 20px
  text-align center

.ly-custom-subheadings .an-siblings
  font-family f-subheading

.lk-rainbows.an-anchor
  display inline-block
  margin-bottom 20px

.an-prev
  float left
  text-align left
  margin-right 10px

.an-next
  float right
  text-align right
