.an-siblings
  padding 40px 0 20px
  text-align center

.ly-teasers .an-siblings
  font-family f-subheading

.an-anchor
  display inline-block
  margin-bottom 20px
  color c-black
  rainbow-pseudo-on-hover()

.an-prev
  float left
  text-align left
  margin-right 10px

.an-next
  float right
  text-align right
