.apn-resources
  padding 10px 0
  background-color c-yellow-highlight-04

  &:nth-child(odd)
    background-color c-yellow-01

.apn-add-resource,
.apn-cancel
  color c-pink
  margin-right 20px

.apn-actions
  text-align right
