.ar-container
  a
    color c-pink

.ar-actions
  display block
  text-align right
  padding 10px
  margin-bottom 10px

.ar-recompute
  margin-right 20px

.ar-buttons
  width 80px
  text-align center

.ar-edit
  margin-right 20px

@media only screen and (max-width: 950px)
  .ar-buttons
    text-align left
    width inherit
