.ly-custom-subheadings .ar-title
  font-family f-subheading

.ar-actions
  display block
  text-align right
  padding 0 6px
  margin-bottom 10px

.ar-action,
.ar-button
  padding 0 8px

.ar-sharing
  width 125px
  text-align center

.ar-buttons
  width 80px
  text-align right

.ar-share
  display inline
  line-height 32px
  margin-right 20px

  &:last-child
    margin-right 0

.ar-share-button
  padding 0

@media only screen and (max-width: 950px)
  .ar-sharing,
  .ar-buttons
    text-align left
    width inherit
