.as-chart svg
  overflow visible

.as-axis path,
.as-axis line
  fill none
  shape-rendering crispEdges

.as-axis,
.as-legend
  fill c-strong

.as-x path
  display none

.as-legend
  text-transform capitalize

.as-tip
  line-height 1
  font-weight bold
  background-color #fff

.as-tip-content
  padding 8px
  box-shadow 2px 2px 5px

.as-tip-content:after
  content '\25BC'
  position absolute
  color #fff
  width 100%
  top 100%
  left 0
  margin -1px 0 0 0
  font-size 18px
  line-height 0

.as-tip-label
  text-transform capitalize
