.as-chart svg
  overflow visible

.as-axis path,
.as-axis line
  fill none
  shape-rendering crispEdges

.as-axis,
.as-legend
  fill c-black

.as-x
  path
    display none
  .tick
    display none
    &:nth-child(5n)
      display block

.as-legend
  display none

.as-tip
  line-height 1
  margin-left 15px

.as-tip-content
  padding 8px
  text-align left

.as-tip-label
  text-transform capitalize

.as-pageviews-shadow
  stroke-width 3px
  stroke c-white
  fill transparent

.as-pageviews
  stroke url(#as-pageviews-gradient)
  stroke-width 1.3px
  fill transparent

@media only screen and (min-width: 768px)
  .as-legend
    display block
    text-transform capitalize

  .as-x .tick
    display block
