.as-commands
  text-align right

.as-verified
  text-align center
  width 45px

.as-actions .an-siblings
  margin 0

.as-source
  color c-white

.as-source-migration
  background-color c-lighter-gray
  color c-black-text
.as-source-unverified
  background-color c-gray
  color c-black-text
.as-source-twitter
  background-color c-twitter-blue
.as-source-bubble
  background-color c-blue
.as-source-weekly
  background-color c-dark-green
.as-source-sidebar
  background-color c-purple
.as-source-comment
  background-color c-pink
.as-source-article
  background-color c-dark-orange
.as-source-landed
  background-color c-yellow-highlight
  color c-purple

.as-topic
  color c-black-text
  text-transform capitalize
  margin-right 10px
  &:last-child
    margin-right 0

@media only screen and (max-width: 950px)
  .as-verified
    text-align left
    width inherit

  .as-topics
    min-height 10px
    margin-bottom -10px

  .as-topic
    margin-bottom 10px
