.asg-header
  text-align right

.asg-new,
.asg-remove
  padding 0

.asg-setting
  position relative
  margin 40px 0

.asg-remove
  position absolute
  top 0
  right 0
  font-size 18px

.asg-value
  min-height 150px

.asg-field-title
  font-size 13px
  margin 6px 0

.asg-actions
  margin-top 20px
  text-align right

.asg-cancel
  display inline-block
  margin-right 15px
