.ly-custom-subheadings .at-teaser
  font-family f-subheading

.at-teaser
  position relative
  color c-black-light
  text-align left
  &:after
    position absolute
    left 0
    right 0
    bottom 0
    height 4px
    content ''
    background linear-gradient(to right, c-white 0, c-yellow-highlight 33%, c-orange-dark 100%)

.at-header
  margin-bottom 40px
  background-color c-white
  background linear-gradient(to bottom, c-white 0, c-pink-01 100%)

.at-title
  padding 0 20px
  margin-top 40px
  margin-bottom 0
  font-size 2.6em
  text-align center
  background-color c-white
  background linear-gradient(to right, c-white 0, c-purple-01 100%)

  /.ly-custom-headings &
    font-size 3em

  .md-code
    background-color rgba(c-black, 0.2)
    color c-white

.at-teaser-markdown
  padding 10px

.at-editor-note,
.at-introduction,
.at-body
  padding 20px

.at-siblings
  margin 0 20px

.at-editor-note
  background-color c-yellow-highlight-01
  &:after
    display block
    text-align right
    font-style italic
    content '— Editor’s note.'
    margin-top 10px

.ly-custom-subheadings .at-editor-note:after
  font-family f-subheading

.at-body
  position relative

  &:before
    position absolute
    left 0
    right 0
    bottom -4px
    height 4px
    content ''
    background linear-gradient(to right, c-white 0, c-yellow-highlight 66%, c-pink 100%)
    max-width 800px
    margin 0 20px

.at-subscribe
  margin 0 20px 40px

@media screen and (min-width: 768px)
  .at-teaser-markdown,
  .at-editor-note,
  .at-introduction,
  .at-body
    padding 20px 40px

  .at-body:before
    margin 0 40px

  .at-subscribe
    margin 0 40px 40px
    max-width 800px

  .at-siblings
    max-width 800px
    margin 0 40px

  .at-title
    padding 0 40px
    font-size 3em
    text-align inherit

    /.ly-custom-headings &
      font-size 4em

@media screen and (min-width: 1200px)
  .at-container .de-sidebar
    padding-top 20px

@media screen and (min-width: 1400px)
  .at-body:before
  .at-subscribe,
  .at-siblings
    max-width 1000px
