.at-header
  margin-bottom 15px

.at-title
  margin-top 0
  text-align center

  .at-title-link,
  .at-title-link:hover,
  .at-title-link:active
    color c-strong
    text-decoration none

.at-meta
  display none
  float right
  font-style italic
  color c-red-shadow

.at-tags-label
  display none

.at-full
  text-align center

.at-full-button
  display inline-block
  padding 16px
  background-color c-pink
  box-shadow 1px 1px 1px c-border
  color #fff

  &:visited
    color #fff

.at-siblings
  text-align center
  margin-bottom 20px

.at-prev-container,
.at-next-container
  margin-top 20px

.at-prev-text,
.at-next-text
  max-width 100%
  display block
  text-overflow ellipsis
  white-space nowrap
  overflow hidden

.at-prev:before
  content '« '

.at-next:after
  content ' »'

@media screen and (min-width: 768px)
  .at-title
    text-align inherit

  .at-meta,
  .at-tags-label
    display inherit

  .at-prev-container
    text-align left
    margin-right 10px

  .at-next-container
    text-align right

  .at-prev-container,
  .at-next-container
    vertical-align top
    display inline-block
    max-width 48%

  .at-prev,
  .at-next
    max-width 100%
