.at-container
  position relative

.ly-teasers .at-teaser
  font-family f-subheading

.at-teaser
  position relative
  background-color lighten(c-yellow, 65%)

  &:after
    position absolute
    left 0
    right 0
    bottom 0
    height 4px
    content ''
    rainbow()

.at-teaser-markdown,
.at-introduction,
.at-body
  padding 20px 20px

.at-body
  position relative

  &:before
    position absolute
    left 0
    right 0
    bottom -4px
    height 4px
    content ''
    background linear-gradient(to right, c-white 0, c-yellow-highlight 66%, c-pink 100%)
    max-width 800px
    margin 0 20px

.at-full
  margin-top 25px
  text-align center

.at-subscribe
  margin 0 20px 40px
  .ss-label
    margin-bottom 10px
  a
    color c-pink

@media screen and (min-width: 768px)
  .at-teaser-markdown,
  .at-introduction,
  .at-body
    padding 20px 40px

  .at-body:before
    margin 0 40px

  .at-subscribe
    margin 0 40px 40px
    max-width 800px

@media screen and (min-width: 1400px)
  .at-body:before
  .at-subscribe
    max-width 1000px
