.av-container
  overflow hidden
  list-style none

.av-article
  margin-top 30px
  line-height 30px

.av-publication,
.av-total-duration
  font-weight bold

.av-since
  font-style italic

.av-date
  margin-right 6px

.av-connector
  display none

.av-link
  display inline-block

@media screen and (min-width: 768px)
  .av-date
    display none

  .av-article
    margin-top 0

  .av-link
    margin-right -20px

  .av-connector
    display inline
    white-space nowrap
    margin-left 20px
