.av-container
  list-style none

.av-article
  margin-top 30px
  line-height 30px

.av-publication,
.av-total-duration
  font-weight bold

.av-since
  font-style italic

.av-date
  margin-right 6px

.av-duration,
.av-publication,
.av-connector,
.av-article .tg-tags
  display none

@media screen and (min-width: 768px)
  .av-date
    display none

  .av-article
    margin-top 0

  .av-duration,
  .av-publication,
  .av-connector
    display inline

  .av-article .tg-tags
    display inline
