.bk-header
  margin-bottom 40px

.bk-heading
  text-align center
  font-size 4em
  margin-top 0
  margin-bottom 10px

.bk-role
  margin-top 10px
  text-align center
  font-style italic
  color c-gray

.bk-history,
.bk-books
  margin 0 20px 100px

.bk-books
  text-align center

.bk-book
  display inline-block
  padding-bottom 20px

.bk-cover-image
  width 100%

.bk-cover-image,
.bk-cover-footnote
  display block

.bk-cover-footnote
  margin-top 10px
  font-style italic
  color c-black

.bk-link-tease
  color c-pink
