.bk-header
  margin-top 20px
  margin-bottom 60px

.bk-heading
  text-align center
  font-size 4em
  margin-top 0
  margin-bottom 10px

.bk-role
  margin-top 10px
  text-align center
  font-style italic
  color c-gray

.bk-history,
.bk-books,
.bk-reads
  margin 0 20px 100px

.bk-books
  text-align center

.bk-book
  display inline-block
  padding-bottom 20px

  &:hover .bk-link-tease
    lk-link-hover()

.bk-link-tease
  lk-link-normal()

.bk-cover-image
  padding-top 10px
  width 100%

.bk-cover-image,
.bk-cover-footnote
  display block

.bk-cover-footnote
  margin-top 10px
  font-style italic
  color c-black-text
