.bk-history,
.bk-books,
.bk-reads
  margin 0 20px 100px

.bk-books
  text-align center

.bk-book
  display block
  padding 20px 0
  margin-bottom 40px
  lk-link-rare('.bk-link-tease')

.bk-cover-image
  padding-top 10px
  width 100%

.bk-cover-image,
.bk-cover-footnote
  display block

.bk-cover-footnote
  margin-top 10px
  font-style italic
  color c-black-text

@media only screen and (min-width: 768px)
  .bk-book
    display inline-block
    vertical-align top
    width calc(50% - 40px)

    &:nth-child(odd)
      margin-right 40px
