.bok-container
  padding 0 20px

.bok-book
  padding-bottom 20px
  margin-bottom 30px
  margin-right 30px

.bok-cover-image
  width 100%

.bok-cover-link,
.bok-cover-image,
.bok-cover-footnote
  display block

.bok-cover-footnote
  margin-top 10px
  font-style italic
  color c-black-text
  text-align center

.bok-trivia
  border-bottom 4px solid c-yellow-highlight-08
  margin 0 0 20px 0

.ly-custom-headings .bok-trivia
  font-family f-subheading

.bok-factoids
  position relative
  overflow hidden
  background-color c-yellow-04
  border-bottom 1px solid c-orange-06

.bok-factoid
  display inline-block
  vertical-align top
  font-size 12px
  width 25%
  padding 10px
  &:before
    position absolute
    content ''
    width 1px
    top 0
    bottom 0
    margin-left -10px // subtract padding
    background-color c-orange-06
  &:first-child:before
    content none

.bok-quote
  background-color c-yellow-03
  color c-black-text
  padding 10px
  margin 0

.bok-quote-text,
.bok-quote-attribution
  font-style italic
  margin 0

.bok-quote-attribution
  text-align right

.bok-toc
  background-color c-yellow-005
  margin-top 40px
  padding 0 20px 20px

  li
    margin-top 20px

    &:first-child
      margin-top 0

    > ul,
    > ol
      margin-top 20px

.bok-header
  text-align center
  margin 100px 0 80px
  font-size 4em

.bok-toc-header
  margin 0 0 40px

.bok-toc-list,
.bok-toc-chapters
  list-style-type none

.bok-toc-part-title
  font-variant small-caps
  font-weight bold
  margin 20px 0

.bok-sample
  margin-left 10px
  padding 2px 5px
  background-color c-yellow-highlight
  border-bottom 1px dotted c-pink
  color c-pink

  &:visited
    background-color c-pink-01
  &:hover
    border-bottom-style solid

.bok-sale
  margin-top 40px
  margin-bottom 200px

.bok-purchase-buttons
  text-align center

.bok-purchase-button
  display block
.bok-purchase-label
  display inline-block

.bok-purchase-manning,
.bok-purchase-amazon
  display block

.bok-purchase-manning
  margin-bottom 40px

.bok-tweets
  text-align center

.bok-tweet
  display inline-block
  vertical-align top
  text-align left
  .twitter-tweet
    margin-bottom 20px
    margin-right 20px
  &:last-child .twitter-tweet
    margin-right 0

@media screen and (min-width: 700px)
  .bok-book
    width 300px

  .bok-description
    width calc(100% - 330px)

  .bok-book,
  .bok-description
    display inline-block
    vertical-align top

  .bok-purchase-manning,
  .bok-purchase-amazon
    display inline-block

  .bok-purchase-manning
    margin-bottom 0
    margin-right 40px
