.de-input
  display inline-block
  width calc(100% - 115px)

.de-submit
  display inline-block

.de-button
  display inline-block
  width 110px
  padding 8px
  box-shadow 1px 1px 0px c-strongish

.de-back-link
  &:before
    display inline-block
    font-family monospace
    margin-right 2px
    content '↑'

  &:after
    display inline-block
    content 'Back to top'

.de-bio
  text-align left

@media screen and (min-width: 768px)
  .de-back
    display none
