.de-input
  display inline-block
  width calc(100% - 115px)

.de-submit
  display inline-block

.de-button
  display inline-block
  width 110px
  padding 8px
  box-shadow 1px 1px 0px c-strongish

.de-back-link
  &:after
    display inline-block
    font-family monospace
    margin-left 8px
    content '↑'

  &:before
    display inline-block
    content 'Back to top'

.de-bio
  text-align left

.de-heading
  margin-top 10px

.de-popular
  list-style-type none
  text-align left

  li
    margin 20px 0
    white-space nowrap
    text-overflow ellipsis
    color c-pink
    overflow hidden

@media screen and (min-width: 768px)
  .de-back
    display none

  .de-popular li
    margin 10px 0
