.ec-subject,
.ec-teaser
  width 100%

.ec-subject
  font-size s-article-title

.ec-teaser
  margin-top 15px

.ec-preview
  margin-top 25px

.ec-actions
  text-align right

@media only screen and (min-width: 768px)
  .ec-teaser
    margin-top 20px
