.ec-subject,
.ec-teaser
  width 100%

.ec-subject
  font-size s-article-title

.ec-subject,
.ec-teaser
  margin-top 15px

.ec-actions
  text-align right

.ec-preview
  margin 25px auto 0
  max-width 800px

.ec-preview-teaser
  font-size 11px
  padding 10px 20px

.ec-preview-subject,
.ly-custom-headings .ec-preview-subject
  font-family f-core

.ec-preview-contents
  padding 20px

.ec-preview-subject
  margin-top 0

@media only screen and (min-width: 768px)
  .ec-subject,
  .ec-teaser
    margin-top 20px
