.ee-search-below
  display inline

.ee-search-aside
  display none

.ee-link
  color c-pink

@media only screen and (min-width: 1200px)
  .ee-search-below
    display none

  .ee-search-aside
    display inline
