.hy-lesson,
.hy-items
  padding 20px

.ar-title
  color c-black-text
  f-use-subheading()

.hy-items
  overflow hidden
  list-style none

.hy-article
  margin-top 30px
  line-height 30px

  &:first-child
    margin-top 0

.hy-since
  font-style italic

.hy-date
  margin-right 6px

.hy-connector
  display inline
  white-space nowrap

.hy-title
  color c-black-text
  f-use-subheading()

.hy-title,
.hy-article-link
  display inline-block

.hy-tags
  display none

@media screen and (min-width: 768px)
  .hy-lesson,
  .hy-items
    padding 20px 40px
    max-width 880px

  .hy-date
    display none

  .hy-article
    margin-top 10px

  .hy-connector
    margin-left 20px

  .hy-title
    margin-right -20px
    margin-bottom 5px

  .hy-tags
    display inline

@media screen and (min-width: 1200px)
  .hy-container .de-sidebar
    padding-top 20px

@media screen and (min-width: 1400px)
  .hy-lesson,
  .hy-items
    max-width 1080px
