.ib-profile,
.ib-articles
  display inline-block
  vertical-align top

.ib-profile
  padding 20px 10px
  background-color c-yellow-highlight-01
  border-top 2px solid c-yellow-highlight
  border-bottom 2px solid c-yellow-highlight

.ib-avatar-section
  text-align center

.ib-avatar
  width 88px
  height 88px
  border-radius 90px
  border-top 4px double c-dark-green
  border-right  4px dotted c-purple
  border-bottom 4px groove c-yellow-highlight
  border-left 4px solid c-pink
  background-color c-yellow-highlight-04

.ib-social
  margin-top 5px
  text-align center

.ib-social-link
  margin-left 5px
  &:first-child
    margin-left 0

.ib-bio
  margin-top 20px

.ib-articles-text
  text-align center
  font-size 32px
  font-weight 100
  font-style italic

.ib-back-note
  margin-top 30px

.ib-contributor
  padding 0 10px

.ib-footer
  margin-top 40px
  padding 40px 0
  border-top 1px dotted c-gray
  border-bottom 1px dotted c-gray

@media screen and (min-width: 725px)
  .ib-contributor
    padding-left 20px
    padding-right 0

  .ib-profile
    width 360px

  .ib-articles
    width calc(100% - 360px)
