.ibs-contributors
  text-align center

.ibs-contributor
  display inline-block
  margin-right 20px
  margin-bottom 20px
  padding 20px
  background-color c-yellow-highlight-01
  border-top 2px solid c-pink
  border-bottom 2px solid c-pink

.ibs-contributor-name
  margin-top 10px
  max-width 200px
  font-size 22px

.ibs-contributor-role
  max-width 200px
  font-size 14px
  font-style italic
  color c-orange-dark

.ly-custom-subheadings .ibs-contributor-name
  font-family f-subheading

.ibs-join-us
  margin-top 40px
