.ive-from,
.ive-to
  padding 5px
  vertical-align top
  display inline-block
  width 50%

.ive-from
  background-color c-bright-turquoise
.ive-to
  background-color c-dark-turquoise

.ive-items
  margin 20px 0

.ive-actions
  text-align right

.ive-cancel
  margin-right 20px

.ive-customer-details,
.ive-payment-details
  min-height 80px

.ive-item-summary,
.ive-item-amount,
.ive-item-rate,
.ive-item-remove
  display inline-block

.ive-half
  display inline-block
  width 50%

.ive-item-summary
  width calc(70% - 20px)
.ive-item-amount,
.ive-item-rate
  width 15%
.ive-item-remove
  text-align right
  width 20px

.ive-footer
  margin-bottom 20px

.ive-buttons
  width 80px
  text-align right

.ive-remove-form
  display inline-block

@media only screen and (max-width: 950px)
  .ive-buttons
    text-align left
    width inherit
