.lg-container
  overflow scroll
  margin-bottom 20px

.lg-table
  margin 10px 0

.lg-stack
  margin 0
  white-space pre-wrap

.lg-stack-start
  font-family sans-serif
  font-weight bold
  color c-pink
  font-size 16px
  margin-bottom 5px

.lg-actions .an-siblings
  margin 0

.lg-debug .lg-level
  background-color c-dark-turquoise
.lg-info .lg-level
  background-color c-purple
.lg-warn .lg-level
  background-color darken(c-orange, 25%)
.lg-error .lg-level
  background-color c-red

@media only screen and (max-width: 600px)
  .lg-stack
    white-space nowrap

@media only screen and (min-width: 950px)
  .lg-level-cell
    text-align right
    width 85px
