.ly-title
  font-size 4.5em
  border-bottom 4px solid c-strongish

.ly-title-anchor:active,
.ly-title-anchor:visited
  color c-brown

.ly-title-anchor
  transition text-shadow 0.2s ease-in-out

.ly-title-anchor:hover
  text-decoration none
  text-shadow 2px 2px 1px c-pink

.ly-legend
  color c-blue-light
  font-size 1.2em
  font-weight 400
  font-style italic

.ly-legend
  border-bottom 0

.ly-navigation
  list-style none

.ly-navigation-item
  display inline-block
