.ly-title
  margin-top 0
  padding-top 5px
  border-bottom 4px solid c-strongish
  font-size 2.5em
  font-family f-subheading
  text-align left

  .ly-title-anchor
    color c-strong

.ly-title-anchor
  transition text-shadow 0.2s ease-in-out

  &:hover
    text-decoration none
    text-shadow 2px 2px 1px c-border

.ly-legend
  display none
  color c-blue-light
  font-weight normal
  font-style italic
  font-family f-subheading
  font-size 1em
  border-bottom 0

.ly-section
  padding 10px
  margin-bottom 25px
  background-color c-moderate

@media screen and (min-width: 768px)
  .ly-title
    text-align center
    font-size 4.5em
    padding-top 25px

  .ly-legend
    display block

  .ly-section
    padding 25px

  .ly-main,
  .ly-aside
    vertical-align top
    display inline-block

  .ly-main
    width 100%
    padding-right 320px
    margin-right -300px

  .ly-aside
    width 300px
