.ly-title
  margin-top 5px
  border-bottom 4px solid c-strongish
  font-size 2.5em

.ly-title-anchor:visited
  color c-strong

.ly-title-anchor:hover
  text-decoration none

.ly-legend
  display none
  color c-blue-light
  font-size 1.2em
  font-weight 400
  font-style italic

.ly-legend
  border-bottom 0

.ly-section
  padding 10px
  margin-bottom 25px
  background-color c-moderate

@media screen and (min-width: 768px)
  .ly-title
    margin-top 15px
    font-size 4.5em

  .ly-title-anchor
    transition text-shadow 0.2s ease-in-out

    &:hover
      text-shadow 2px 2px 1px c-border

  .ly-legend
    display block

  .ly-section
    padding 25px
