.mc-name,
.mc-email,
.mc-site
  display block
  margin-bottom 15px
  width 100%

.mc-preview
  margin 20px 0

.mc-cancel-reply
  display inline-block
  font-weight normal
  font-size 14px
  margin-left 8px

.mc-site,
.mc-cancel-detail
  display none

.mc-send
  display inline-block

@media screen and (min-width: 768px)
  .mc-author
    font-size 0

  .mc-name,
  .mc-email
    margin-right 15px

  .mc-name,
  .mc-email,
  .mc-site
    display inline-block
    font-size initial
    margin-bottom 0
    width calc((100% / 3) - 10px)

  .mc-cancel-detail
    display inline-block
    margin-left 6px

  .mc-cancel-reply:hover .mc-cancel-detail
    text-decoration underline
