.mc-name,
.mc-email,
.mc-site
  display block
  padding 10px 8px
  margin-bottom 15px
  width 100%

.mc-preview
  margin 20px 0

@media screen and (min-width: 768px)
  .mc-author
    font-size 0

  .mc-name,
  .mc-email
    margin-right 15px

  .mc-name,
  .mc-email,
  .mc-site
    display inline-block
    margin-bottom 0
    font-size initial
    width calc((100% / 3) - 10px)
