.mk-header-logo
  margin-left -30px

.mk-header-piece
  display inline-block
  vertical-align middle

.mk-header-domain
  font-weight bold

.mki-intro
  background-color c-purple
  color c-white
  font-size 40px
  padding 20px
  margin-bottom 20px

.ly-custom-subheadings .mki-intro
  font-family f-subheading

.mk-title
  text-align center
  width calc(100% - 186px)

.mk-section-half,
.mk-section-third
  display inline-block
  vertical-align top

.mk-section-half
  width 50%
.mk-section-third
  width (100% / 3)

.mk-section-title
  margin-top 0
  font-size 60px
  text-align center
  color c-white

.mk-section-teaser
  font-size 28px
  text-align center
  color rgba(c-white, 0.4)

.ly-custom-subheadings .mk-section-teaser
  font-family f-subheading

.mk-weekly-title
  font-size 100px
  color c-bright-turquoise
.mk-weekly-teaser
  padding 10px 0
  background-color c-orange-dark
  color c-white
.mk-weekly-features
  margin-top 50px
  color c-blue
  li
    list-style-type none
    margin 15px 0
    &:before
      font-awesome()
      content '\f00c'
      margin 0 5px
.mk-weekly-ad
  background-color c-blue
  color c-white

.mk-weekly-email-sample
  margin-top 50px

.mk-weekly
  .cr-overflow
    padding 50px 40px
    width 600px
    transform scaleX(0.5) scaleY(0.55)
    transform-origin top left

  .cr-content
    height 700px

.mka-content,
.mka-book
  display inline-block
  vertical-align top
  margin 10px 0

.mka-content
  width 70%
  padding-right 10px
.mka-book
  width 30%
.mka-title
  color c-dark-green
.ly-custom-subheadings .mka-description
  font-family f-subheading
.mka-description
  p
    margin 20px 0
.mka-speaking
  overflow hidden
  height 270px

.mka-speaking,
.mka-speaking-image
  width 100%

.mka-speaking-image
  display block
  margin-top -300px
