.mm-author
  float right
  margin-top -25px
  margin-right -10px
  padding 4px
  background-color c-strongish
  box-shadow -1px 1px 1px c-border
  margin-left 6px
  margin-bottom 6px

.mm-comment:nth-child(even) .mm-author
    background-color c-moderate

.mm-author-name
  vertical-align middle
  display inline-block
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
  margin-right 6px
  max-width 120px

.mm-gravatar
  vertical-align middle
  border 3px solid c-strong
  background-color c-moderate
  width 30px
  height 30px
  border-radius 6px
  transition box-shadow 0.5s ease-in-out

.mm-author-site
  display inline-block

  &:hover
    .mm-author-name
      text-decoration underline

    .mm-gravatar
      box-shadow 1px 2px 1px c-pink

.mm-comment
  margin-bottom 0

.mm-comment,
.mc-composer
  &:nth-child(even)
    background-color c-strongish
    box-shadow -1px 1px 1px c-border

.mm-thread
  margin-bottom 25px

.mm-thread-footer
  text-align right

.mm-remove
  display inline-block
  vertical-align top
  margin-right 5px

@media screen and (min-width: 768px)
  .mm-author
    margin-right -25px
