.nv-logon
  display none

.nv-items
  list-style none

.nv-item
  display inline-block
  margin-right 10px

  &:last-child
    margin-right 0

.nv-close
  margin-right 0

.nv-closer
  border-left 2px solid c-yellow-highlight
  border-right 3px solid c-yellow-04

.nv-opener
  border-left 3px solid c-yellow-04
  border-right 2px solid c-yellow-highlight

.nv-close + .nv-open
  margin-left 10px

.nv-logon-anchor
  position fixed
  top 0
  right 0
  padding 10px
  opacity 0
  color #fff

  &:hover
    text-decoration none
    opacity 1
    color #fff
    background-color c-pink

.nv-container
  background-color c-yellow-highlight-01
  margin 20px 0
  padding 10px

@media screen and (min-width: 768px)
  .nv-logon,
  .nv-items
    display block
