.nv-logon
  display none

.nv-items
  list-style none

.nv-item
  display inline-block
  margin-right 10px

  &:last-child
    margin-right 0

.nv-logon-anchor
  position fixed
  top 0
  right 0
  padding 10px
  opacity 0
  color #fff

  &:hover
    text-decoration none
    opacity 1
    color #fff
    background-color c-pink

.nv-container
  margin 20px 0
  padding 10px
  a
    color c-pink

@media screen and (min-width: 768px)
  .nv-logon,
  .nv-items
    display block
