.os-heading
  text-align center
  font-size 4em
  margin-top 0
  margin-bottom 10px

.os-role
  margin-top 10px
  text-align center
  font-style italic
  color c-gray

.os-container
  margin 20px

.os-intro a
  color c-pink
