.pp-header
  margin-bottom 40px

.pp-heading
  text-align center
  font-size 4em
  margin-top 0
  margin-bottom 10px

.pp-role
  margin-top 10px
  text-align center
  font-style italic
  color c-gray

.pp-container
  padding 0 20px
