.rt-profile,
.rt-articles
  display inline-block
  vertical-align top

.rt-profile
  width 200px
  padding 20px 10px
  background-color c-yellow-highlight-01
  border-top 2px solid c-yellow-highlight
  border-bottom 2px solid c-yellow-highlight

.rt-avatar-section
  text-align center

.rt-avatar
  width 88px
  height 88px
  border-radius 90px
  border-top 4px double c-dark-green
  border-right  4px dotted c-purple
  border-bottom 4px groove c-yellow-highlight
  border-left 4px solid c-pink

.rt-social
  margin-top 5px
  text-align center

.rt-social-link
  margin-left 5px
  &:first-child
    margin-left 0

.rt-bio
  margin-top 20px

.rt-articles
  width calc(100% - 200px)

.rt-articles-text
  text-align center
  font-size 32px
  font-weight 100
  font-style italic
