sg-source(v-color)
  fill v-color
  background-color v-color

  &.sg-bar-u
    fill darken(v-color, 25%)

sg-source-light(v-color)
  sg-source(v-color)
  color c-browser-gray

sg-source-dark(v-color)
  sg-source(v-color)

.sg-source-migration
  sg-source-dark(c-lighter-gray)
.sg-source-unverified
  sg-source-dark(c-gray)
.sg-source-sidebar
  sg-source-light(c-purple)
.sg-source-comment
  sg-source-light(c-pink)
.sg-source-article
  sg-source-light(c-dark-orange)
.sg-source-landed
  sg-source-dark(c-yellow-highlight)
  &.sg-bar-u
    fill darken(c-yellow-highlight, 40%)
.sg-source-twitter
  sg-source-light(c-twitter-blue)
.sg-source-weekly
  sg-source-light(c-dark-green)
.sg-source-bubble
  sg-source-light(c-dark-turquoise)

.sg-chart svg
  overflow visible

.sg-axis path,
.sg-axis line
  fill none
  shape-rendering crispEdges

.sg-axis,
.sg-legend
  fill c-black-text

.sg-x
  path
    display none
  .tick
    display none
    &:nth-child(5n)
      display block

.sg-legend
  display none
  text-transform capitalize
  cursor pointer

.sg-legend-disabled
  opacity 0.6

.sg-tip
  f-use-subheading()
  line-height 1.5em
  margin-left 15px
  border 3px solid rgba(c-black, 0.1)

.sg-tip-content
  padding 8px
  text-align left

.sg-tip-row
  margin-bottom 2px

  &:last-child
    margin-bottom 0

.sg-tip-label,
.sg-tip-vector,
.sg-tip-numbers
  display inline-block
  vertical-align top

.sg-tip-label
  text-align right
  text-transform capitalize
  width 100px

.sg-tip-date
  text-align center
  padding 5px 0
  margin-bottom 10px
  background-color rgba(c-black, 0.1)
  border-bottom 2px solid rgba(c-black, 0.1)

.sg-tip-label
  text-align right
  width 85px

.sg-tip-vector:before
  display inline-block
  vertical-align top
  font-variant small-caps
  text-align center
  width 20px
  margin 0 5px
  background-color rgba(c-black-text, 0.2)

.sg-tip-vector-u:before
  content 'u'
.sg-tip-vector-v:before
  content 'v'
.sg-tip-vector-vu:before
  content 't'

.sg-tip-numbers
  float right
  font-family f-mono

.sg-diff
  display inline-block
  min-width 55px
  padding 0 4px

.sg-pageviews-shadow
  stroke-width 3px
  stroke c-white
  fill transparent

.sg-pageviews
  stroke-width 1.3px
  fill transparent

.sg-pageview-daypicker
  display inline-block
  vertical-align middle
  width 140px
  background-color c-purple
  color c-white

  &:focus
    background-color lighten(c-purple, 5%)
    col-outline(c-white)

.sg-options .ck-checkbox,
.sg-pageview-daypicker
  margin-right 15px
  margin-bottom 15px

  &:last-child
    margin-right 0

.sg-overlay-subscribers .sg-bar
  opacity 0.6

.sg-bar,
.sg-bar-u
  &:hover
    opacity 0.75

.sg-diff-negative
  background-color rgba(c-black, 0.8)
  color c-red

.sg-diff-positive
  background-color rgba(c-black, 0.6)
  color c-dark-green

@media only screen and (min-width: 768px)
  .sg-legend
    display block

  .sg-x .tick
    display block
