.sg-chart svg
  overflow visible

.sg-axis path,
.sg-axis line
  fill none
  shape-rendering crispEdges

.sg-axis,
.sg-legend
  fill c-black-text

.sg-x
  path
    display none
  .tick
    display none
    &:nth-child(5n)
      display block

.sg-legend
  display none

.sg-tip
  f-use-subheading()
  line-height 1.5em
  margin-left 15px
  border 3px solid rgba(c-black, 0.1)

.sg-tip-content
  padding 8px
  text-align left

.sg-tip-label,
.sg-tip-numbers
  display inline-block
  vertical-align top

.sg-tip-label
  text-align right
  text-transform capitalize
  width 100px

.sg-tip-date
  text-align center
  padding 5px 0
  margin-bottom 10px
  background-color rgba(c-black, 0.1)
  border-bottom 2px solid rgba(c-black, 0.1)

.sg-tip-light
  color c-black-text

.sg-tip-dark
  color c-browser-gray

.sg-tip-numbers
  font-family f-mono

.sg-diff
  padding 1px 2px
  border-bottom 2px solid rgba(c-black, 0.1)

.sg-pageviews-shadow
  stroke-width 3px
  stroke c-white
  fill transparent

.sg-pageviews
  stroke-width 1.3px
  fill transparent

.sg-options .ck-checkbox
  margin-right 15px

  &:last-child
    margin-right 0

.sg-bar:hover
  opacity 0.7

.sg-diff-negative
  background-color rgba(c-black, 0.8)
  color c-red

.sg-diff-positive
  background-color rgba(c-black, 0.6)
  color c-dark-green

@media only screen and (min-width: 768px)
  .sg-legend
    display block
    text-transform capitalize

  .sg-x .tick
    display block
