.ss-label
  text-align left

.ss-unsubscribe
  font-style italic
  margin-bottom 10px

.ss-container .uv-verify
  margin-bottom 10px

.ss-benefits-title
  font-style italic
  color c-gray

.ss-benefits
  margin 20px 0
