.su-header
  margin-top 20px
  margin-bottom 60px

.su-heading
  text-align center
  font-size 4em
  margin-top 0
  margin-bottom 10px

.su-role
  margin-top 10px
  text-align center
  font-style italic
  color c-gray

.su-topic
  margin-top 20px

.su-topic-notes
  display block
  color c-dark-gray
  font-style italic
  padding-left 30px
  font-size 12px
  margin-top 3px

@media only screen and (min-width: 768px)
  .su-topic
    vertical-align top
    display inline-block
    margin-right 20px
    &:last-child
      margin-right 0
