.tk-full-map-container
  position relative
  margin-top 20px
  &:before
    position absolute
    left 0
    right 0
    bottom 0
    height 4px
    content ''
    background linear-gradient(to right, c-white 0, c-pink 66%, c-black 100%)

.tk-full-map
  display block
  width 100%

.tk-container
  padding 0 20px

.tk-heading
  text-align center
  margin 100px 0
  font-size 3em

.tk-site
  color c-pink

.tk-venue-connector
  font-weight 100

.tk-day,
.tk-day-separator,
.tk-month,
.tk-month-separator,
.tk-year
  vertical-align middle

.tk-day
  font-size 30px

.tk-day-separator,
.tk-year
  font-weight 100

.tk-tags
  display inline-block
  list-style-type none

.tk-tag
  display inline-block
  vertical-align middle
  margin 0 5px
  padding 0 5px
  font-size 30px
  line-height 18px
  font-weight 100
  font-variant small-caps
  border-left 4px solid #999
  background-color #e8e8e8
  color c-pink

.tku-list
  list-style-type none
  margin-top -60px

.tku-item
  margin-top 60px

.tku-site-container
  background-color rgba(c-pink, 0.02)
  margin 5px 0
  padding 5px
  font-weight 700
  font-size 24px
  text-align right

.ly-teasers .tku-site-container
  font-family f-subheading

.tku-map
  position relative
  display block
  text-align right
  min-height 90px

.tku-tags
  position absolute
  right 0
  bottom 15px

.tku-tag
  margin 5px
  text-align right

.tkf-connector
  font-weight 100

.tkf-contact
  position absolute
  top 50%
  left 50%
  margin-left -132px
  margin-top -24px
  width 264px
  height 48px
  line-height 48px

.tkp-list
  list-style-type none
  vertical-align middle

.tkp-item
  display block
  margin 40px 0
  .tk-site,
  .tk-venue-connector,
  .tk-venue,
  .tk-range
    vertical-align middle

.tkp-venue
  color inherit

.tkp-range
  float right

.tkp-tags,
.tkp-venue-connector,
.tkp-venue
  display none

.tks-image
  display block
  width 100%

.tks-image-footer
  text-align right
  font-style italic
  font-weight 300

.tks-image-link
  color c-pink

@media only screen and (min-width: 768px)
  .tkp-tags
    display inline-block

  .tkp-venue-connector,
  .tkp-venue
    display inline

@media only screen and (min-width: 1000px)
  .tk-heading
    font-size 4.5em

  .tku-item
    display inline-block
    vertical-align top
    width 30%
    margin-right 5%

    &:nth-child(3n)
      margin-right 0

  .tkp-item
    margin 20px 0
