tkfm-container-gradline-height = 4px

.tkfm-container
  position relative
  margin 40px auto 0
  max-width 1440px
  &:before
    position absolute
    left 0
    right 0
    bottom 0
    height tkfm-container-gradline-height
    content ''
    background linear-gradient(to right, c-white 0, c-pink 66%, c-black 100%)

.tkfm-static
  display block
  width 100%

.tkfm-play,
.tkfm-interactive
  position absolute
  bottom tkfm-container-gradline-height

.tkfm-interactive
  top 0
  left 0
  right 0

.tkfm-play,
.tkfm-stop
  transition opacity 1s ease-in-out
  text-align center
  position absolute
  opacity 0.8

  &.tkfm-hidden
    opacity 0
    pointer-events none

.tkfm-play
  left 0
  right 0
  bottom 10px
  height 40px
  line-height 40px
  margin-top -20px
  cursor pointer
  background-color c-white

.tkfm-play-fadeout
  opacity 0
  pointer-events none

.tkfm-stop
  z-index z-interactive-talks-stop
  right 10px
  bottom 10px
  height 30px
  line-height 30px

.tkfm-stop-button
  cursor pointer
  background-color c-black-text
  color c-white
  display block
  &:hover
    border-bottom 1px solid c-white

.tkfm-interactive
  opacity 0
  transition opacity 1s ease-in-out
  visibility hidden

.tkfm-interactive-opaque
  opacity 1
  visibility visible

.tkfm-interactive-loaded
  z-index z-interactive-talks-map
  visibility visible

.tkfm-interactive-buried
  z-index -1

.tk-container
  padding 0 20px

.tk-heading
  text-align center
  margin 100px 0
  font-size 3em

.tk-venue-connector
  font-weight 100

.tk-day,
.tk-day-separator,
.tk-month,
.tk-month-separator,
.tk-year
  vertical-align middle

.tk-day
  font-size 30px

.tk-day-separator,
.tk-year
  font-weight 100

.tk-tags
  display inline-block
  list-style-type none

.tk-tag
  display inline-block
  vertical-align middle
  margin 0 5px
  padding 0 5px
  font-size 30px
  line-height 18px
  font-weight 100
  font-variant small-caps
  border-left 4px solid #999
  background-color #e8e8e8
  color c-dark-turquoise

.tku-list
  list-style-type none
  margin-top -60px

.tku-item
  margin-top 60px

.tku-site-container
  background-color rgba(c-pink, 0.02)
  margin 5px 0
  padding 5px
  font-weight 700
  font-size 24px
  text-align right

.ly-custom-subheadings .tku-site-container,
.ly-custom-subheadings .tkp-conference
  font-family f-subheading

.tku-map
  position relative
  display block
  text-align right
  min-height 90px

.tku-tags
  position absolute
  right 0
  bottom 15px

.tku-tag
  margin 5px
  text-align right

.tkf-connector
  font-weight 100

.tkf-contact
  position absolute
  top 50%
  left 50%
  margin-left -132px
  margin-top -24px
  width 264px
  height 48px
  line-height 48px

.tkp-list
  list-style-type none
  vertical-align middle

.tkp-item
  display block
  margin 40px 0
  .tkp-conference,
  .tk-venue-connector,
  .tk-venue,
  .tk-range
    vertical-align middle

.tkp-venue
  color inherit

.tkp-range
  float right

.tkp-tags,
.tkp-venue-connector,
.tkp-venue
  display none

.tks-image
  display block
  width 100%

.tks-image-footer
  text-align right
  font-style italic
  font-weight 300

.tk-presentations-link
  background linear-gradient(to right, c-white 0, c-yellow-highlight 66%, c-yellow 100%)
  margin-top 60px
  text-align center

.ly-custom-subheadings .tk-presentations-link
  font-family f-subheading

.tk-presentations-anchor
  position relative
  display block
  color c-pink
  padding 40px
  font-size 20px
  &:focus
    outline 1px dotted c-orange-dark
  &:hover:before
    position absolute
    left 0
    right 0
    bottom 0
    height 4px
    content ''
    background linear-gradient(to right, c-white 0, c-pink 88%)

@media only screen and (min-width: 550px)
  .tkfm-play
    bottom auto
    top 50%
    height 80px
    line-height 80px
    margin-top -40px

  .tkfm-stop
    right 60px
    bottom 40px

  .tkfm-stop-button
    padding 5px 10px

@media only screen and (min-width: 768px)
  .tkp-tags
    display inline-block

  .tkp-venue-connector,
  .tkp-venue
    display inline

@media only screen and (min-width: 1000px)
  .tk-heading
    font-size 4.5em

  .tku-item
    display inline-block
    vertical-align top
    width 30%
    margin-right 5%

    &:nth-child(3n)
      margin-right 0

  .tkp-item
    margin 20px 0
