.usr-actions
  display block
  text-align right
  padding 0 8px
  margin-bottom 10px

.usr-action
  padding 0 8px

.usr-buttons
  width 80px
  text-align right

.usr-date
  width 200px

@media only screen and (max-width: 950px)
  .usr-buttons
    text-align left
    width inherit

@media only screen and (min-width: 950px)
  .usr-avatar
    width 44px
