.vw-title
  margin 0 0 30px
  border-bottom none

.vw-conventional
  cursor pointer
  text-align left
  list-style-position inside
  margin-bottom 25px
  padding 10px
  background-color c-blue-light
  color c-strong

.vw-conventional-message
  margin 5px 0

  &:only-child
    list-style none
