.vw-conventional
  cursor pointer
  text-align left
  list-style-position inside
  margin-bottom 25px
  padding 10px
  background-color c-purple
  color c-white

.vw-conventional-message:only-child
  list-style none
