.vw-conventional
  cursor pointer
  text-align left
  list-style-position inside
  margin-bottom 25px
  padding 10px
  background-color c-purple
  color c-white

.vw-conventional-message:only-child
  list-style none

.vw-maintainer
  padding 20px

  .vw-title
    margin-top 0

.vw-maintainer-content
  max-width 800px

@media only screen and (min-width: 768px)
  .vw-maintainer
    padding 20px 40px

@media only screen and (min-width: 1400px)
  .vw-maintainer-content
    max-width 1000px
