.wa-main
  position relative

.wa-toggler,
.wa-scraper
  position absolute
  top 0
  right 0
  padding 5px
  z-index z-weekly-assembler-section-toggler
  background-color c-dark-orange
  color c-white
  &:hover
    color c-white
    background-color lighten(c-dark-orange, 20%)
  &:active
    col-outline(c-orange)

.wa-toggler-off
  &,
  &:hover,
  &:active
    cursor default
    background-color c-black-light
    color c-white
    col-outline-clear()

.wa-scraper
  right 35px

.wa-actions
  text-align right
  margin-top 40px

.wa-cancel,
.wa-discard
  display inline-block
  color c-black-text
  margin-right 15px
  f-use-subheading()

.wa-summary
  min-height 150px

.wa-tool
  border-left 2px dashed c-dark-gray
  display block
  text-align left
  padding 6px

.wa-tool-yellow
  background-color c-yellow
  &:active
    col-outline(c-purple)
  &:hover
    background-color c-yellow-075

.wa-submissions-container
  margin-top 40px

.wa-submissions-header
  border-bottom 3px solid lighten(c-purple, 5%)

.wa-submissions-header,
.wa-tool-purple
  background-color c-purple
  color c-white

.wa-tool-purple
  &:active
    col-outline(c-yellow-highlight)
  &:hover
    background-color lighten(c-purple, 10%)

.wa-section-header
  border-right 2px dashed c-dark-gray
  background-color c-black-text
  color c-white
  text-align left

.wa-link-header-suggestion
  background-color c-dark-orange
  color c-orange-005
.wa-link-header-primary
  background-color c-dark-green
  color c-green-005
.wa-link-header-secondary
  background-color c-red
  color c-red-005
.wa-link-header-job
  background-color c-purple
  color c-purple-005

.wa-section
  background-color c-orange-005
  color c-black-text
  input,
  textarea,
  select
    background-color transparent
    color inherit
    &:focus
      background-color c-orange-06
  input,
  textarea
    placeholders(c-dark-orange)
  .wk-commands
    display none
  .wk-textarea
    margin-top 0

.wa-section-heading,
.wa-section-clone,
.wa-section-toggle,
.wa-section-remove
  padding 10px

.wa-section-clone,
.wa-section-toggle,
.wa-section-remove
  float right
  cursor pointer
  &:active
    col-outline(c-yellow-highlight)
  &:hover
    background-color rgba(c-white, 0.25)

.wa-editor
  border 2px dashed c-dark-gray
  min-height 350px

.wa-link-checkbox-wrapper
  padding 6px 10px 7px

.wa-link-description
  min-height 50px

.wa-link-image-container,
.wa-link-tags-container
  position relative

.wa-link-image-left,
.wa-link-image-right
  cursor pointer
  top initial
  right initial
  bottom 0
  padding 2px
  font-size 13px

.wa-link-image-left
  left 0
.wa-link-image-right
  right 0

.wa-link-image-preview-container
  position absolute
  top 0
  right 0
  padding 3px
  height 38px
  min-width 38px
  background-color rgba(c-dark-orange, 0.1)

.wa-link-image-preview
  display block
  margin-left auto
  height 100%

.wa-link-toggle-tags
  top 6px
  right 6px

.wa-preview
  margin 60px auto 20px

.wa-input-75,
.wa-input-50,
.wa-input-25
  display inline-block
  vertical-align middle
  width 100%

.wa-header-size
  display inline-block
  vertical-align middle
  width 53px

.wa-header-text
  display inline-block
  vertical-align middle
  width calc(100% - 58px)
  margin-right 5px

.wa-color-select
  display inline-block
  vertical-align middle
  width calc(50% - 20px)

.wa-color-preview
  width 40px

.wa-aside
  line-height 20px
  p
    margin 20px 0

  .ac-timing-item,
  .ac-campaign-item
    margin 5px 0

.wa-error
  margin 0
  padding 10px
  background-color c-red
  color c-white

@media only screen and (min-width: 768px)
  .wa-main,
  .wa-aside
    vertical-align top
    display inline-block

  .wa-main
    width calc(100% - 225px)
    margin-right 20px

  .wa-aside
    width 205px

  .wa-input-75
    width 75%
  .wa-input-50
    width 50%
  .wa-input-25
    width 25%
