.wl-container
  padding 0 20px

.wl-teaser
  margin 20px auto
  text-align center
  font-size 30px
  line-height 55px
  max-width 700px
  f-use-subheading()

.wl-sample
  text-align center

.wl-issue
  position relative
  margin 20px auto
  max-width 800px

  &:after
    position absolute
    left 0
    right 0
    bottom 0
    height 4px
    content ''
    rainbow()

.wl-cta
  margin 100px 0
