.wl-container
  padding 0 20px

.wl-teaser
  margin 20px auto
  text-align center
  font-size 30px
  line-height 55px
  max-width 700px

.ly-custom-subheadings .wl-teaser
   font-family f-subheading

.wl-issue
  margin-bottom 60px
