.wn-navigation
  display block
  text-align center
  background-color c-blue
  margin-top -20px

.wn-list
  line-height inherit
  list-style-type none
  padding 10px

.wn-item
  display inline-block
  margin 0 10px

.ly-custom-subheadings .wn-list
  font-family f-subheading

.wn-link
  display block
