.wn-navigation
  display block
  text-align center
  background-color c-yellow-highlight-01
  margin-top -20px

.wn-list
  line-height inherit
  list-style-type none
  f-use-subheading()

.wn-item
  display inline-block
  margin 10px

.wn-link
  display block

.wl-top
  margin-top 0

.wn-navigation + .de-host .wl-top
  margin-top 35px
