.wr-actions
  text-align right
  margin-top 40px

.wr-cancel,
.wr-discard
  display inline-block
  color c-black-text
  margin-right 15px

.ly-custom-subheadings
  .wr-cancel,
  .wr-discard
    font-family f-subheading
