.ws-cta-container
  text-align center

.ws-cta
  display inline-block
  background-color c-orange-dark
  color c-white
  text-align center
  border-bottom 3px solid c-orange
  padding 10px
  font-size 30px
  &:hover
    background-color lighten(c-orange-dark, 20%)
  &:active
    col-outline(c-orange)
