.ws-cta
  display block
  background-color c-orange-dark
  color c-white
  text-align center
  border-bottom 3px solid c-orange
  width 100%
  padding 10px
  font-size 30px
  &:hover
    background-color lighten(c-orange-dark, 20%)
  &:active
    outline 1px dotted c-orange
