.wt-container
  margin 20px 0

.wt-cta
  position relative
  background-color c-orange-light
  padding 20px

  .vw-title
    margin-top 0

  input
    background-color c-white
    color c-black-text
    placeholders(c-darker-gray)
    &:focus
      outline-color c-dark-gray

  &:after
    position absolute
    left 0
    right 0
    bottom 0
    height 4px
    content ''
    background linear-gradient(to right, c-white 0, c-yellow-highlight 33%, c-pink 66%, c-orange-dark 100%)

.wt-input,
.wt-submit
  height 48px

.wt-input
  font-size 23px

.wt-submit
  width 100%

  .ss-button
    width 100%

@media only screen and (min-width: 435px)
  .wt-input,
  .wt-submit
    display inline-block
    vertical-align top

  .wt-input
    width calc(100% - 156px)

  .wt-submit
    width 156px
