wu-color-scheme(c-background, c-border, c-dot)
  placeholders(c-border)

  input,
  textarea,
  select
    background linear-gradient(to bottom right, c-background 0, darken(c-background, 4%) 100%)
    &:focus
      background linear-gradient(to bottom right, darken(c-background, 3%) 0, darken(c-background, 8%) 100%)

  .ck-radio,
  .ck-checkbox
    &:before
      background linear-gradient(to bottom right, c-border 0, darken(c-border, 4%) 100%)
      color c-dot
    &:hover:before
      color lighten(c-dot, 10%)

  .wu-colored-border
    border-top 5px solid c-border

.wu-types
  position relative
  overflow hidden
  margin-top 40px

.wu-type-item
  position relative
  vertical-align top
  display inline-block
  margin-bottom 25px
  width 100%

.wu-type-radio
  background linear-gradient(to top right, c-dark-turquoise-005 0, darken(c-dark-turquoise-005, 3%) 100%)
  display block
  padding 10px
  margin 2px

.wu-type-name
  display inline-block
  vertical-align middle
  text-align left
  width calc(100% - 30px)
  margin 0
  padding-left 3px

.wu-type-cost
  text-align center
  margin 10px 0
  font-size 60px
  line-height 60px
  f-use-heading()

.wu-type-description
  f-use-subheading()

.wu-link-container
  margin 40px 0

.wu-link
  border-top 5px solid c-blue-01
  background-color c-light
  padding 20px
  font-size 26px
  width 100%
  f-use-subheading()

.wu-color-primary
  wu-color-scheme(c-orange-005, c-orange-dark, lighten(c-orange-dark, 40%))
.wu-color-suggestion
  wu-color-scheme(c-orange-005, c-orange-dark, lighten(c-orange-dark, 40%))
.wu-color-primary
  wu-color-scheme(c-dark-green-01, c-dark-green, lighten(c-dark-green, 20%))
.wu-color-secondary
  wu-color-scheme(c-red-005, c-red, lighten(c-red, 60%))
.wu-color-job
  wu-color-scheme(c-purple-005, c-purple, lighten(c-purple, 20%))

.wu-data .wa-link-description
  min-height 100px

.wu-comment
  min-height 200px
  max-height 300px

.wu-section-header
  margin-top 60px
  margin-bottom 40px

.wu-section-footer
  margin 40px 0

.wu-section-note
  font-style italic

.wu-preview-link-container
  background-color c-dark-turquoise-005
  max-width 800px
  padding 20px

.wu-preview-link .wy-section-link
  padding-top 0

.wu-sponsor-amount,
.wu-sponsor-invoice
  margin 20px 0

.wu-sponsor-amount-input
  display inline-block
  max-width 90px

.wu-sponsor-date-removal
  margin-left 10px

.wu-sponsor-dates-container
  margin-top 20px

.wu-sponsor-date-picker
  .rd-day-selected
    background-color transparent
    color c-black-text
  .rd-day-disabled
    color c-rome-disabled

.wu-sponsor-dates
  background-color c-yellow-highlight-01
  padding 10px
  margin-top 20px

.wu-sponsor-dates-header
  margin-top 0
  border-bottom 1px dotted c-yellow-highlight

.wu-dates
  list-style-type none

  &:empty:before
    content 'None yet.'
    font-style italic

.wu-sponsor-date-removal
  cursor pointer

.wu-label
  display inline-block
  font-style italic
  color c-black-light
  font-size 14px
  margin-right 5px
  margin-bottom 5px

.wu-label-picker
  display block

.wu-actions
  margin-top 20px
  text-align right
  f-use-subheading()

.wu-label-invoice
  line-height 25px
  &:before
    float right
    margin-left 5px
    margin-right 0

.wu-submit
  margin-left 20px

@media only screen and (min-width: 550px)
  .wu-type-item
    margin-right 25px
    width calc(50% - 12.5px)
    &:nth-child(even)
      margin-right 0

@media only screen and (min-width: 768px)
  .wu-type-item
    margin-bottom 0
    width calc(25% - 18.75px)
    &:nth-child(even)
      margin-right 25px
    &:last-child
      margin-right 0

  .wu-sponsor-date-picker,
  .wu-sponsor-dates
    display inline-block
    vertical-align top

  .wu-sponsor-dates
    margin-top 0
    margin-left 20px

@media only screen and (min-width: 1355px)
  .wu-sponsor,
  .wu-has-sponsor.wu-contact
    display inline-block
    vertical-align top
    width 50%

  .wu-sponsor
    position relative
    padding-right 20px
    &:after
      position absolute
      border-right 1px dotted c-yellow-highlight
      top 60px // margin for header
      bottom 0
      right 0
      content ''

  .wu-has-sponsor.wu-contact
    padding-left 20px
