.wur-status
  text-transform capitalize

.wur-buttons
  width 120px
  text-align right

.wur-type-suggestion
  background-color c-dark-orange
.wur-type-primary
  background-color c-red
.wur-type-secondary
  background-color c-purple
.wur-type-job
  background-color c-dark-turquoise

@media only screen and (max-width: 950px)
  .wur-buttons
    text-align left
    width inherit
