.wurs-container
  margin-bottom 40px
  padding 20px
  background-color c-browser-gray
  border-top 2px solid rgba(c-black, 0.1)

.wurs-actions
  text-align right
  margin 20px 0

.wurs-submit
  margin-left 10px
