.wy-container
  margin 0 auto
  padding 20px 0
  max-width 800px

  .md-markdown
    p
      line-height 22px
      margin 10px 0
      &:first-child
        margin-top 0
      &:last-child
        margin-bottom 0

.wy-table
  width 100%
  padding 0

.wy-td
  padding 0

.wy-section-summary,
.wy-section-link,
.wy-section-markdown
  padding-top 25px

.wy-section-thanks
  margin-top 25px
  padding 10px
  font-size 15px
  background-color c-dark-green-01

.wy-header-text,
.wy-issue
  display inline-block
  margin 10px 0
  line-height 24px

.wy-issue
  float right
  font-size 12px

.wy-issue-content
  display block
  padding 0 5px
  background-color c-white

.wy-section-header
  padding-top 40px
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    margin 0
  p
    line-height inherit

.wy-header-td
  padding 0

.wy-header-content
  margin 0 10px

.wy-header-text
  color c-white
  text-shadow 1px 1px 0px c-blue
  font-weight bold
  font-size 24px
  &:active
    outline 1px dotted c-white

.wy-content
  padding-bottom 25px
  a:active
    outline 1px dotted c-dark-gray

.wy-link-title
  display inline-block
  vertical-align bottom
  border-bottom 1px solid
  font-size 20px
  margin-right 10px
  margin-bottom 10px

.wy-link-tag
  display inline-block
  vertical-align bottom
  background-color c-blue
  color c-white
  text-transform uppercase
  font-size 13px
  margin-bottom 10px
  margin-right 5px
  padding 2px 4px

  &:last-child
    margin-right 0

.wy-link-description
  font-size 14px
  color #666

.wy-link-source-section
  margin-top 10px

.wy-link-source
  margin-right 10px
  margin-bottom 10px
  display inline-block
  vertical-align middle
  color c-twitter-blue

.wy-link-source-plain
  color c-black-text

.wy-link-sponsor
  background-color c-orange-light
  color c-orange-dark

.wy-link-cell-before-image
  vertical-align top
  width 70%

.wy-link-cell-image
  padding-left 10px

.wy-link-image-anchor
  display block
  overflow hidden
  max-height 300px

.wy-link-image
  display block

.wy-footer-cell
  text-align center

.wy-read-online
  font-size 13px

.wy-section-link-job
  .wy-link-title
    font-size 14px

@media only screen and (max-width: 500px)
  .wy-issue-separator,
  .wy-issue-publication
    display none
