.wy-container
  margin 0 auto
  padding 20px 0
  max-width 800px

.wy-header
  background-color c-yellow-highlight
  border-bottom 1px solid c-pink
  padding 10px

.wy-header-text,
.wy-issue
  line-height 24px

.wy-header-text
  font-weight bold
  font-size 24px

.wy-issue
  float right
  color c-black-text
  font-size 12px
