.bx-input,
.bx-icon
  position relative
  display inline-block
  vertical-align top

.bx-input
  width calc(100% - 38px)

.bx-icon
  width 38px
  padding 5px
  text-align center
  color c-white
  background-color c-dark-turquoise
  cursor pointer
  line-height 28px
  &:hover
    background-color c-light-turquoise

.bx-fileinput
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  opacity 0
  cursor pointer

.bx-uploading
  position relative
  &:before
    font-awesome()
    content '\f1ce'
    z-index z-bureaucracy-input-uploading-icon
    left 20px
  &:after
    content 'Loading...'
    z-index z-bureaucracy-input-uploading
    left 0
    background-color c-light-turquoise
    text-align center
    font-style italic
  &:before,
  &:after
    position absolute
    color c-white
    top 0
    right 0
    bottom 0
    line-height 38px
