.hn-navigation
  margin-top 15px

.hn-list
  line-height inherit
  list-style-type none
  margin-bottom 20px
  f-use-subheading()

.hn-item
  display inline-block
  margin 0 10px 15px

.hn-link
  display block

.hn-new
  display inline-block
  &:after
    content 'NEW!'
    margin-left 5px
    padding 2px 4px
    background-color c-purple
    color c-white
    display inline-block

@media only screen and (min-width: 768px)
  .go-logo-container,
  .hn-navigation
    display inline-block
    vertical-align baseline

  .hn-item
    margin-bottom 0
