section#blog-entry-template.template
  article.blog-entry
    header.blog-entry-title
      h1='{{title}}'
      span.blog-entry-date(title='{{updatedText}}')='{{updatedTimeAgo}}'

    section.blog-entry-brief='{{{html.brief}}}'
    section.blog-entry-text='{{{html.text}}}'
