section#blog-template.template(data-class='blog-entries')
  // {{#entries}}
  article.blog-entry
    header.blog-entry-title
      h1='{{title}}'

    section.blog-entry-brief='{{{brief}}}'
    section.blog-entry-text='{{{text}}}'
  // {{/entries}}