section#entry-siblings-template.template
  footer.blog-entry-siblings.clearfix
    a(rel='prev', href='{{previous.url}}', title='{{previous.title}}')='{{previous.title}}'
    a(rel='next', href='{{next.url}}', title='{{next.title}}')='{{next.title}}'