h1
  a(href!=authority + article.permalink, style='color: #333')!=article.titleHtml

if article.author && article.author.slug
  p
    a(href!=authority + '/contributors/' + article.author.slug, style='color: #333; !important')='Published by ' + article.author.displayName + '.'

p
  each tag in article.tags
    a(href!=authority + '/articles/tagged/' + tag, style='color: #e92c6c; padding: 2px 6px; text-decoration: none; background-color: #FAF0E6; border-bottom: 1px solid; margin-right: 5px;')=tag

div.md-markdown(style='padding: 20px; background-color: #fcf9ee;')!=article.teaserHtml

div(style='text-align: center;', itemprop='potentialAction', itemscope, itemtype='http://schema.org/ViewAction')
  meta(itemprop='name', content='See article')
  meta(itemprop='description', content='See article – Pony Foo')
  span(itemprop='target')
    a(itemprop='url', style='margin-top: 25px; padding: 16px; text-align: center; display: inline-block; font-size: 24px; background-color: #e92c6c; color: #fff;', href!=authority + article.permalink) Read More!
