h1 Pony Foo Subscription Invitation

p Hey {{name}}!

p
  span='I’m Nico, the editor at '
  a(href!=domain.authority) Pony Foo
  span . {{{reason}}}

p If you confirm that you would like to subscribe, you’ll earn access to the following features.

ul(style='padding-left: 20px;')
  include ../../shared/marketing/subscriber-features

p(itemprop='potentialAction', itemscope, itemtype='http://schema.org/ConfirmAction')
  meta(itemprop='name', content='Confirm Subscription')
  meta(itemprop='description', content='Confirm Subscription – Pony Foo')
  span='Follow '
  span(itemprop='handler', itemscope, itemtype='http://schema.org/HttpActionHandler')
    a(itemprop='url', href!=domain.authority + confirm) this link
  span=' to confirm your email address subscription.'

div(style='text-align: center;')
  a(style='margin-top: 25px; padding: 16px; text-align: center; display: inline-block; font-size: 24px; background-color: #e92c6c; color: #fff;', href!=domain.authority + confirm) Subscribe!

p(style='padding-bottom: 15px;') No further action is required to decline this invitation.

div Thanks!
div Nico
