h1 Pony Foo Subscription Invitation

p Hey *|name|*!

p
  span='I\'m Nico, the editor at '
  a(href!=domain.authority) Pony Foo
  span . *|HTML:reason|*

p If you confirm that you would like to subscribe, you'll earn access to the following features.

ul(style='padding-left: 20px;')
  li You'll get an email notification when articles are published on the blog
  li You'll get notifications whenever someone replies to your comments
  li Occasionally, I'll send you promotional content that won't be available anywhere else
  li I might also send you discount codes for books or conferences
  li One-click unsubscribe link provided in every email you receive

p
  span='Follow '
  a(href!=domain.authority + confirm) this link
  span=' to confirm your email address subscription.'

div(style='text-align: center;')
  a(style='margin-top: 25px; margin-bottom: 25px; padding: 16px; text-align: center; display: inline-block; width: 150px; background-color: #e92c6c; color: #fff; font-weight: bold; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);', href!=confirm) Subscribe!

p(style='padding-bottom: 15px;') No further action is required to decline this invitation.

div Thanks!
div Nico
