style(type='text/css')!=css
p hey dude here's preview
a(href=authority + permalink)=permalink

table.wy-table.wy-container.table-not-responsive
  tr
    td.wy-td
      table.wy-table
        tr
          td.wy-td
            div.wy-content!=previewHtml
