h1 Welcome to Pony Foo!

p We’re thrilled that you want to contribute to Pony Foo.

p Use the link below to verify your email address. After that, you will be able to access your account. The verification link will expire #{ validation.expires }.

p(style='text-align: center;', itemprop='potentialAction', itemscope, itemtype='http://schema.org/ConfirmAction')
  meta(itemprop='name', content='Verify Email')
  meta(itemprop='description', content='Verify Email – Pony Foo')
  span(itemprop='handler', itemscope, itemtype='http://schema.org/HttpActionHandler')
    a(itemprop='url', style='padding: 20px; background-color: #1686a2; color: #fff; border-bottom: 2px solid #5aa9bc; display: inline-block; font-size: 28px;', href=authority + validation.link) Get started!

p Email verification is in place to mitigate the effect of spam bots using fake email addresses. We apologize for the inconvenience.

p No further action is required to ignore this request.
