h1 Welcome to Pony Foo!

p
  span='To verify your email address, '
  a(href!=domain.authority + validation.link) use this link
  span . After that, you will be able to access your account.

p='This link will expire ' + validation.expires + '.'
p(style='padding-top: 15px;')
  a(href!=domain.authority + validation.link)=validation.link

p(style='padding-top: 25px;') No further action is required to ignore this request
p Email verification is in place to mitigate the effect of spam bots using fake email addresses. We apologize for the inconvenience.
