.bl-summary
  text-align left

.bl-number
  text-align right
  width 95px

.bl-total-label
  border-bottom 1px dotted darken(c-dark-turquoise, 20%)
  text-align right
  font-size 24px
  padding-right 20px
  f-use-heading()

.bl-total-amount
  border-bottom 5px solid darken(c-dark-turquoise, 20%)
  background-color c-dark-turquoise
  color c-light
