.ff-client,
.ff-billing
  display inline-block
  vertical-align top
  text-align left
  width 49%

  p
    margin 5px 0

.ly-custom-subheadings
  .ff-client,
  .ff-billing
    font-family f-subheading

.ff-client
  margin-right 2%

.ff-details
  text-align center
  padding 10px 20px
  margin-top 40px
