.ff-client,
.ff-billing
  display inline-block
  vertical-align top
  text-align left
  font-family f-subheading
  width 49%

  p
    margin 5px 0

.ff-client
  margin-right 2%

.ff-details
  text-align center
  padding 10px 20px
  margin-top 40px
