.iv-container
  position relative
  background-color c-light
  padding 20px

.iv-logo
  position relative
  right 20px

.iv-header
  font-weight bold

.iv-table
  width 100%
  border-spacing 15px
  border-collapse separate

  td
    padding 10px

.iv-head th
  font-family f-heading
  font-size 24px
  border-bottom 6px dotted darken(c-orange, 25%)

  &:nth-child(2)
    border-bottom-color c-red
  &:nth-child(3)
    border-bottom-color c-purple
  &:nth-child(4)
    border-bottom-color c-dark-turquoise

.iv-foot
  font-weight bold
