header.dc-header
  h1.dc-heading Nicolás Bevacqua
  div.dc-role JavaScript and Web Performance Consultant

article.de-host
  section.de-column.de-column-padded
    div.am-photo-section
      img.am-photo(src='/img/profile.jpg', alt='')
      sub.am-photo-disclaimer Disclaimer: it might be possible that I don’t look this good anymore.
    section.md-markdown!=aboutHtml

  include ../partials/aside
