header.dc-header
  h1.dc-heading Join Our Team!
  div.dc-role
    span Do you think you have what it takes to join the team at
    span=' '
    a.lk-link.lk-twitter(href='https://twitter.com/ponyfoo', target='_blank', aria-label='Follow us on Twitter') @ponyfoo
    span ? (Of course you do!)

article.de-host
  section.de-column.de-column-padded
    div.md-markdown!=guidelines
    div.ju-cta-container
      span.ju-cta-inlined(aria-label='What are you waiting for? Click this button and reach out!')
        a.ju-cta-inlined.bt-button.bt-pink(data-email='mailto:hello@ponyfoo.com')
          span.bt-text Get started!

  include ../partials/aside
