header.pp-header
  h1.pp-heading Privacy Policy
  div.pp-role Bilateral common sense

article.de-host
  section.de-column.pp-container.md-markdown
    p Your information will always be safe with us. Information you share with us will be kept private and only shared with third party services such as Mailgun &mdash; who handle our email campaigns &mdash; on a need-to-know basis.

    p When you sign up, you'll be able to unsubscribe at any time and we won't spam you. We don't want to send you emails you don't want to be opening.

    p Comments you publish on this blog will be public. They are strictly subject to our own discretion when it comes to moderation, and you agree to let us remove them at once if we find them offensive, abusive, to contain spam or solicitation, or to be otherwise inappropriate.

  include ../partials/aside
