header
  h1.dc-title Get Pony Foo in your inbox

section.de-host
  div.de-column.ms-container
    form.ly-section.ss-container.at-subscribe(action='/api/subscribers', method='post', name='subscribe')
      h2 Subscribe with just your email!
      div.ss-label
        ='Subscribe below to get an email when new articles come out! Also, '
        a(href='https://twitter.com/nzgb', target='_blank') follow me on Twitter
        | .

      noscript
        input.uv-verify(name='verify', value='Promise not to be a bot? Clear this field!', placeholder='This field is only for tricksters...')

      input.ss-source(type='hidden', name='source', value='landed')
      input.de-input.ss-input(placeholder='you@provider.io', name='subscriber')

      span.de-button(aria-label='As easy as clicking this button and confirming via email!')
        button.gg-container.bt-button.bt-pink.ss-button(type='submit')
          span.bt-text Subscribe
          include ../partials/button-background

      p.ss-benefits-title When you subscribe, you'll earn access to the following features:

      ul.ss-benefits
        li You'll get an email notification when articles are published on the blog
        li You'll get notifications whenever someone replies to your comments
        li Occasionally, I'll send you promotional content that won't be available anywhere else
        li I might also send you discount codes for books or conferences
        li One-click unsubscribe link provided in every email you receive

      p Here are some stats about our viewers and subscribers, for the curious-minded!

      include ../partials/subscribers

  include ../partials/aside
