header.dc-header
  h1.dc-heading You’re all set!
  div.dc-role We hope you really enjoy our content and emails!

section.de-host
  div.de-column.de-column-padded
    div.md-markdown
      p The kind of emails you’re going to be receiving are outlined below.
      include subscriber-features

  include ../partials/aside
