header.dc-header
  h1.dc-heading Get Pony Foo in your inbox!
  div.dc-role Articles about JavaScript & a newsletter about all things web

section.de-host
  div.de-column.de-column-padded
    form.ly-section.ss-container.wt-cta(action='/api/subscribers', method='post', name='subscribe')
      h2.vw-title Subscribe with just your email!
      div.ss-label
        ='Subscribe below to get an email when new articles come out! Also, '
        a.lk-link(href='https://twitter.com/nzgb', target='_blank') follow me on Twitter
        | .

      div.ss-label.ss-unsubscribe
        sub
          span One-click unsubscribe, anytime.

      noscript
        input.uv-verify(name='verify', value='Promise not to be a bot? Clear this field!', placeholder='This field is only for tricksters...')

      input.ss-source(type='hidden', name='source', value='landed')
      input.wt-input.ss-input(placeholder='you@provider.io', name='subscriber', type='email')

      span.wt-button(aria-label='As easy as clicking this button and confirming via email!')
        button.gg-container.bt-button.bt-pink.ss-button(type='submit')
          span.bt-text Subscribe
          include ../partials/button-background

      div.su-topics
        div.su-topic
          input.ss-topic.ck-input#su-topic-articles(type='checkbox', name='topic', value='articles', checked)
          label.ck-checkbox(for='su-topic-articles')
            span Articles & Comment Replies
            span.su-topic-notes A single email whenever an article is published
            span.su-topic-notes A single email whenever one of your comments gets a reply
        div.su-topic
          input.ss-topic.ck-input#su-topic-newsletter(type='checkbox', name='topic', value='newsletter', checked)
          label.su-check-pv.ck-checkbox(for='su-topic-newsletter')
            span Pony Foo Weekly
            span.su-topic-notes A single email every thursday
            span.su-topic-notes Discusses front-end web development and related technologies

    div
      p.ss-features-title When you subscribe, you’ll earn access to the following features:

      ul.ss-features
        include subscriber-features

      p Here are some stats about our viewers and subscribers, for the curious-minded!

      include ../partials/subscribers

  include ../partials/aside
