section#empty-entry-template.template
  article.blog-entry.blog-empty
    header.blog-entry-title
      h1='No posts'

    section
      p
        i='No posts found for {{title}}'

      include ../_nav-options