section#entry-pager-template.template
  footer.blog-pager.flip-wrapper
    article.flip-card.flip-x
      section.face.front
        p.blog-pager-text
      section.face.back
        include ../../shared/_spinner