section#entry-siblings-template.template
  section.blog-entry-siblings.clearfix
    a.highlighted-link.blog-entry-prev(rel='prev', href='{{previous.url}}', data-hint='{{previous.title}}')='{{previous.title}}'
    a.highlighted-link.blog-entry-next.hint-before(rel='next', href='{{next.url}}', data-hint='{{next.title}}')='{{next.title}}'