article
  header
    h1.dc-title=presentation.title
  section.pt-standalone
    include presentation-partial
  footer.pt-back
    a.pt-back-anchor(href='/presentations', aria-label='Back to full list of presentations') Back to list
