article
  header
    h2.dc-title Conference Presentations

    ol.pt-list.pt-list-standalone
      each presentation in presentations
        li.pt-item
          h2.pt-title
            span=presentation.title
            a.pt-permalink.fa.fa-arrow-right(href='/presentations/' + presentation.slug, aria-label='Permalink to this presentation')
          include presentation-partial
