article
  header
    h1.dc-title=presentation.title
  section.pt-standalone
    include presentation-partial
  footer.tk-presentations-link
    a.tk-presentations-anchor(href='/presentations') Back to full list of presentations
