section#blogger-discussions-template.template
  h1='Discussion Review'

  table.discussion-table
    thead
      tr
        th='Date'
        th
        th='Post'
        th='Last Comment'

    tbody
      include _discussion-rows