body
  word-wrap break-word
  overflow-x hidden
  overflow-y scroll
  width 93.75% // 300px on 320px
  max-width 1250px // otherwise posts get way too long
  margin 0 auto
  text-align center

main
  display inline-block
  text-align left
  min-height 300px
  width 100%
  margin-bottom 25px
