table
  width 100%

th,
td
  padding 10px

@media only screen and (max-width: 950px)
  table
    display block
  thead
    display none
  tbody
    display block
  tr
    display block
    margin-bottom 30px
    background-color rgba(c-yellow-highlight, 0.1)
    &:nth-child(even)
      background-color rgba(c-yellow, 0.2)
  tr:last-child
    margin-bottom 0
  td
    display block
  td:before
    display block
    content attr(data-label)
    color c-blue
    font-size 13px
    margin 0 0 5px
