table
  width 100%

  .lk-button
    padding 4px 5px

thead tr
  background-color c-strong
  color c-white

tbody tr
  background-color rgba(c-strong, 0.1)

  &:nth-child(even)
    background-color rgba(c-strong, 0.05)

th,
td
  padding 10px

@media only screen and (max-width: 950px)
  table
    display block
  thead
    display none
  tbody
    display block
  tr
    display block
    margin-bottom 10px
  tr:last-child
    margin-bottom 0
  td
    display block
  td:before
    display block
    content attr(data-label)
    color c-turquoise
    font-variant small-caps
    font-size 12px
    margin 0 0 5px
