table
  width 100%

th,
td
  padding 10px

@media only screen and (max-width: 950px)
  table
    display block

  thead
    display none
  tbody
    display block
  tr
    display block
    background-color rgba(c-yellow-highlight, 0.1)
    margin-bottom 30px
    &:nth-child(even)
      background-color rgba(c-yellow, 0.2)
    &:last-child
      margin-bottom 0

  td
    display block
    &:before
      display block
      content attr(data-label)
      color c-blue
      font-size 13px
      margin 0 0 5px

.table-not-responsive
  table
    table-layout fixed // firefox dislikes display: table unless we set this property

.table-unobtrusive,
.table-not-responsive
  table
    display table
  thead
    display table-row-group
  tbody
    display table-row-group
  tr
    display table-row
    background-color transparent
    margin-bottom 0
    &:nth-child(even)
      background-color transparent
  td
    display table-cell
    &:before
      content none
