@import "/src/frontend/css/platform-links.less";
@import "colors.less";
@import "variables.less";

::selection {
  background: @pomegranate;
  color: @clouds;
  text-shadow: 0 1px rgb(0, 0, 0, .2);
}

body {
  border-top: 10px solid @pomegranate;
  font-weight: 300;
  word-break: break-word;
}

.row-fluid {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container-footer {
  .platform-links(@clouds, @silver);
  margin-top: 30px;
  padding: 8px;
  border-top: 10px solid @midnight;
  background-color: @asphalt;
}