-
  this.logoOpts = {
    name: this.text ? 'rainbow-text' : 'rainbow',
    getFill: function (x, y, defaultColor, group) {
      if (y === 0) { return '#6ecce2'; }
      if (y === 1) { return '#1686a2'; }
      if (y === 2) { return '#1a4d7f'; }
      if (y === 3) { return '#55acee'; }
      if (y === 4) { return '#c3f0c1'; }
      if (y === 5) { return '#1bc211'; }
      if (y === 6) { return '#900070'; }
      if (y === 7) { return '#e92c6c'; }
      if (y === 8) { return '#f8ab6f'; }
      if (y === 9) { return '#f3720d'; }
      if (y === 10) { return '#ffe270'; }
      if (y === 11) { return '#ff0056'; }
      if (y === 12) { return '#f1e05a'; }
      if (defaultColor) { return defaultColor; }
      return '#fff';
    },
    hasText: this.text ? true : false,
    textColor: this.text
  }
include _template
