extends _template
block template_vars
  -
    fallbackImage = fallbackImage || '/img/logos/random.png'
    options = options || {}
    options.getFill = function (x, y, defaultColor, group) {
      if (group === 'eye') { return '#ffe270'; }
      if (group) { return defaultColor; }
      var random = Math.random();
      if (random > 0.80) { return '#ffe270'; }
      if (random > 0.60) { return '#900070'; }
      if (random > 0.40) { return '#ff0056'; }
      if (random > 0.20) { return '#f3720d'; }
      return '#e92c6c';
    }
