@import "common.less";

/* TEXTAREA GRIP
 ****************/

div.grippie {
  background: @background url('/img/grippie.png') no-repeat scroll center 2px;
  border-color: @grayish;
  border-style: solid;
  border-width: 0pt 1px 1px;
  cursor:s-resize;
  height:9px;
  overflow:hidden;
}

div.grippie:active {
  border-color: @border;
}

textarea.resizing {
  color: #fff;
  background-color: @strong;
  opacity: 0.5;
}



/* GITHUB RIBBON
 ****************/

.github-ribbon {
  position: absolute;
  overflow: hidden;
  padding: 2px 0;
  top: 42px;
  right: -43px;

  background-color: #027902;
  .box-gradient-image(rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  .box-shadow(0px 2px 3px 0px rgba(0, 0, 0, 0.5));
  .transform-to(45deg);

}

.github-ribbon a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: white;

  text-decoration: none;
  text-shadow: 1px 0px rgba(0,0,0,0.5);
  text-align: center;

  width: 200px;
  line-height: 20px;

  display: inline-block;
  padding: 2px 0;

  border-width: 1px 0;
  border-style: dotted;
  border-color: rgba(255,255,255,0.7);
}



/* SPINNER
 ****************/

.spinner {
  font-size: 100px;
  width: 1em;
  height: 1em;
  position: relative;
  margin: 100px auto;
  border-radius: 50%;
  list-style: none;
}

.spinner li {
  position: absolute;
  width: .2em;
  height: .2em;
  border-radius: 50%;
}

.spinner li:nth-child(1) {
  background: @strong;

  left: 50%;
  top: 0;
  margin: 0 0 0 -.1em;

  .transform-origin(50%, 250%);
  .animation(spinner-rot 1.13s linear infinite, spinner-opc 3.67s ease-in-out infinite alternate);
}

.spinner li:nth-child(2) {
  background: @pink;

  top: 50%;
  right: 0;
  margin: -.1em 0 0 0;

  .transform-origin(-150%, 50%);
  .animation(spinner-rot 1.86s linear infinite, spinner-opc 4.29s ease-in-out infinite alternate);
}

.spinner li:nth-child(3) {
  background: @auxiliary;

  left: 50%;
  bottom: 0;
  margin: 0 0 0 -.1em;

  .transform-origin(50%, -150%);
  .animation(spinner-rot 1.45s linear infinite, spinner-opc 5.12s ease-in-out infinite alternate);
}

.spinner li:nth-child(4) {
  background: @secondary_light;

  top: 50%;
  left: 0;
  margin: -.1em 0 0 0;

  .transform-origin(250%, 50%);
  .animation(spinner-rot 1.72s linear infinite, spinner-opc 5.25s ease-in-out infinite alternate);
}


@-webkit-keyframes spinner-rot {
  to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spinner-rot {
  to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes spinner-rot {
   to { -ms-transform: rotate(360deg); }
 }
@-o-keyframes spinner-rot {
  to { -o-transform: rotate(360deg); }
}
@keyframes spinner-rot {
  to { transform: rotate(360deg); }
}

.spinner-opc(){
  12.0% { opacity: 0.80; }
  19.5% { opacity: 0.88; }
  37.2% { opacity: 0.64; }
  40.5% { opacity: 0.52; }
  52.7% { opacity: 0.69; }
  60.2% { opacity: 0.60; }
  66.6% { opacity: 0.52; }
  70.0% { opacity: 0.63; }
  79.9% { opacity: 0.60; }
  84.2% { opacity: 0.75; }
  91.0% { opacity: 0.87; }
}

@-webkit-keyframes spinner-opc { .spinner-opc; }
@-moz-keyframes spinner-opc { .spinner-opc; }
@-ms-keyframes spinner-opc { .spinner-opc; }
@-o-keyframes spinner-opc { .spinner-opc; }
@keyframes spinner-opc { .spinner-opc; }



/* REMOVE ICON
 ****************/

a.remove:before {
  content: 'x';
}

a.remove {
  font-weight: bold;
  text-shadow: 0 1px @red_shadow;
  color: @red;
}

a.remove:hover {
  text-decoration: none;
}



/* FLIP CARDS
 *************/

.flip-wrapper {
  position: relative;
  z-index: 1;
}

.flip-wrapper {
  .box-perspective(1000);
}

.flip-card {
  width: 100%;
  height: 100%;
  .box-3d();
  .box-transition(all 0.4s linear);
}

.flip-card.flipped {
  .box-rotate180();
  .box-shadow(-5px 5px 5px #aaa);
}

.flip-card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  .box-hide-backface();
}

.flip-card .face.back {
  .box-rotate180();
  .box-sizing();
}