@import "common.less";

/* DEFAULTS
----------------------------------------------------------*/

body {
  .ff-helvetica-new();
  background: @background;
}

input, textarea {
  .box-radius(2px);

  border: 1px solid @grayish;
  border-top: 2px solid @light;
  border-left: 2px solid @light;
  background-color: @background;
  color: @strong;
}

input:focus,textarea:focus {
  border: 1px solid @grayish;
  border-top: 2px solid @border;
  border-left: 2px solid @border;
}

::selection {
  background: @pink;
  color: #fff;
  text-shadow: 0 1px rgb(0, 0, 0, .2);
}



/* WIREFRAME
----------------------------------------------------------*/

.layout-heading {
  .ff-calibri();
  font-size: 2.4em;
}

.layout-heading a {
  border-bottom: 2px solid @moderate;
  color: @strong;
}

.layout-heading a:hover {
  color: @strong_hover;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .layout-heading {
    font-size: 3.2em;
  }

  .layout-heading a {
    border-bottom: 3px solid @moderate;
  }
}

@media only screen and (min-width: 1024px) {
  .layout-heading {
    font-size: 4.6em;
  }

  .layout-heading a {
    border-bottom: 4px solid @moderate;
  }
}

#content {
  .box-radius(4px);
}

#content {
  background-color: @moderate;
  border: 1px solid @grayish;
}



/* SEARCH
 ****************/

.search-input {
  background-color: @moderate;
  .box-transition(width 1s ease);
  .box-radius(6px 0 0 6px);
}

.search-button {
  background-color: @strong;
  .box-radius(0 6px 6px 0);
  border-bottom: 1px solid @grayish;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
}

.search-input:focus + .search-button {
  background-color: @strong_hover;
  border-top: 2px solid @border;
  border-right: 2px solid @border;
}

.search-button:hover {
  background-color: @strong_hover;
}

@media only screen and (min-width: 768px) {
  .search-input {
    width: 80px;
  }
}

@media only screen and (min-width: 1024px) {
  .search-input:focus {
    width: 130px;
  }
}

@media only screen and (min-width: 1200px) {
  input.search-input {
    width: 130px;
  }

  .search-input:focus {
    width: 200px;
  }
}

@media only screen and (min-width: 1400px) {
  .search-input:focus {
    width: 400px;
  }
}



/* BUTTONS
----------------------------------------------------------*/

a, button, input[type=submit] {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.button {
  display: block;
  line-height: normal;
  text-decoration: none;
}

.button {
  .ff-interstate();
  font-weight: bold;
  font-size: 1.1em;

  color: #fff;

  .box-radius(3px);
  .box-transition(all 0.2s ease-out);

  padding: 10px 12px;

  text-shadow: 0 1px @secondary_strong;

  border: 1px solid @secondary_light*0.95;
  background-color: @secondary_moderate*1.05;
}

.button:hover {
  border: 1px solid @secondary_light;
  background-color: @secondary_light*1.15;
}

.button[disabled], .button[disabled]:hover {
  cursor: wait;
  border: 3px solid @border;
  padding: 8px 10px;
  background-color: #ddd;
  color: #999;
  text-shadow: 0 1px @border;
}

.button.small {
  padding: 3px 5px;
  font-size: 1em;
}

.button.small[disabled], .button.small[disabled]:hover {
  padding: 1px 3px;
}



/* LINKS
 ********/

a.highlighted-link {
  color: @pink;
  font-weight: bold;
}

a.highlighted-link:visited {
  color: @pink - #333;
}



/* TABLES
----------------------------------------------------------*/

thead th {
  border-bottom: 1px solid @moderate * 0.87;
}

tbody tr:nth-child(even) {
  background-color: @moderate * 0.97;
}

tbody tr:nth-child(odd) {
  background-color: @moderate * 0.95;
}