/* DEFAULTS
----------------------------------------------------------*/
body {
  font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
  background-color: #f3f4eb;
}
input,
textarea {
  -webkit-border-radius: 2px;
  /* Saf3-4, iOS 1-3.2, Android ≤1.6 */

  -moz-border-radius: 2px;
  /* FF1-3.6 */

  border-radius: 2px;
  /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #dedede;
  border-top: 2px solid #f3f4ec;
  border-left: 2px solid #f3f4ec;
  background-color: #f3f4eb;
  color: #412917;
}
input:focus,
textarea:focus {
  border: 1px solid #dedede;
  border-top: 2px solid #cbc5c0;
  border-left: 2px solid #cbc5c0;
}
::selection {
  background: #e92c6c;
  color: #fff;
  text-shadow: 0 1px #000000;
}
/* WIREFRAME
----------------------------------------------------------*/
h1.layout-heading {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, Helvetica, sans-serif;
  font-size: 2.4em;
  color: #412917;
}
h1.layout-heading a {
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  h1.layout-heading {
    font-size: 3.2em;
  }
}
@media only screen and (min-width: 1024px) {
  h1.layout-heading {
    font-size: 4.6em;
  }
}
section#content {
  border: 1px solid #f3f4ec;
  background-color: #eaeadf;
  -webkit-border-radius: 6px;
  /* Saf3-4, iOS 1-3.2, Android ≤1.6 */

  -moz-border-radius: 6px;
  /* FF1-3.6 */

  border-radius: 6px;
  /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 25px;
}
/* BUTTONS
----------------------------------------------------------*/
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a,
button {
  cursor: pointer;
}
a.button {
  display: inline-block;
  text-decoration: none;
  line-height: normal;
}
button,
a.button {
  font-weight: bold;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  color: #fff;
  -webkit-border-radius: 3px;
  /* Saf3-4, iOS 1-3.2, Android ≤1.6 */

  -moz-border-radius: 3px;
  /* FF1-3.6 */

  border-radius: 3px;
  /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease-out;
  /* Safari 3.2+, Chrome */

  -moz-transition: all 0.2s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.2s ease-out;
  /* Opera 10.5–12.00 */

  transition: all 0.2s ease-out;
  /* Firefox 16+, Opera 12.50+ */

}
button,
a.button {
  padding: 10px 12px;
  text-shadow: 0 1px #429334;
  border: 1px solid #54a644;
  background-color: #6cb957;
}
button:hover,
a.button:hover {
  border: 1px solid #58af48;
  background-color: #65c953;
}
button .spinner {
  margin: 0;
  width: 0;
  height: 0;
  border: none;
  display: none;
  left: 50%;
}
button[disabled],
button[disabled]:hover {
  cursor: wait;
  border: 3px solid #cbc5c0;
  background-color: #ddd;
  color: #999;
  text-shadow: 0 1px #cbc5c0;
}
button[disabled] .spinner {
  display: inline-block;
}
button .spinner li:nth-child(1) {
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}
button .spinner li:nth-child(2) {
  -webkit-transform-origin: -30% 0%;
  -moz-transform-origin: -30% 0%;
  -ms-transform-origin: -30% 0%;
  -o-transform-origin: -30% 0%;
  transform-origin: -30% 0%;
}
button .spinner li:nth-child(3) {
  -webkit-transform-origin: 50% -75%;
  -moz-transform-origin: 50% -75%;
  -ms-transform-origin: 50% -75%;
  -o-transform-origin: 50% -75%;
  transform-origin: 50% -75%;
}
button .spinner li:nth-child(4) {
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}
