/* DEFAULTS
----------------------------------------------------------*/
body {
  font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
  background-color: #f3f4eb;
}
input,
textarea {
  -webkit-border-radius: 2px;
  /* Saf3-4, iOS 1-3.2, Android ≤1.6 */

  -moz-border-radius: 2px;
  /* FF1-3.6 */

  border-radius: 2px;
  /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #dedede;
  border-top: 2px solid #f3f4ec;
  border-left: 2px solid #f3f4ec;
  background-color: #f3f4eb;
  color: #412917;
}
input:focus,
textarea:focus {
  border: 1px solid #dedede;
  border-top: 2px solid #cbc5c0;
  border-left: 2px solid #cbc5c0;
}
::selection {
  background: #e92c6c;
  color: #fff;
  text-shadow: 0 1px #000000;
}
/* WIREFRAME
----------------------------------------------------------*/
h1.layout-heading {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, Helvetica, sans-serif;
  font-size: 2.4em;
  color: #412917;
}
h1.layout-heading a {
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  h1.layout-heading {
    font-size: 3.2em;
  }
}
@media only screen and (min-width: 1024px) {
  h1.layout-heading {
    font-size: 4.6em;
  }
}
section#content {
  border: 1px solid #f3f4ec;
  background-color: #eaeadf;
  -webkit-border-radius: 6px;
  /* Saf3-4, iOS 1-3.2, Android ≤1.6 */

  -moz-border-radius: 6px;
  /* FF1-3.6 */

  border-radius: 6px;
  /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 25px;
}
/* BUTTONS
----------------------------------------------------------*/
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a,
button,
input[type=button],
input[type=submit] {
  cursor: pointer;
}
a.button {
  display: inline-block;
  text-decoration: none;
  line-height: normal;
}
button,
a.button,
input[type=button],
input[type=submit] {
  font-weight: bold;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  color: #fff;
  -webkit-border-radius: 3px;
  /* Saf3-4, iOS 1-3.2, Android ≤1.6 */

  -moz-border-radius: 3px;
  /* FF1-3.6 */

  border-radius: 3px;
  /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease-out;
  /* Safari 3.2+, Chrome */

  -moz-transition: all 0.2s ease-out;
  /* Firefox 4-15 */

  -o-transition: all 0.2s ease-out;
  /* Opera 10.5–12.00 */

  transition: all 0.2s ease-out;
  /* Firefox 16+, Opera 12.50+ */

}
button,
a.button,
input[type=button],
input[type=submit] {
  padding: 10px 12px;
  text-shadow: 0 1px #429334;
  border: 1px solid #54a644;
  background-color: #6cb957;
}
button:hover,
a.button:hover,
input[type=button]:hover,
input[type=submit]:hover {
  border: 1px solid #58af48;
  background-color: #65c953;
}
input[type=button],
input[type=submit] {
  padding: 5px 6px;
}
