@import "common.less";

/* HEADINGS
----------------------------------------------------------*/

h1 { font-size: 1.6em; font-weight: bold; }
h2 { font-size: 1.5em; font-weight: bold; }
h3 { font-size: 1.4em; font-weight: bold; }
h4 { font-size: 1.3em; font-weight: bold; }
h5 { font-size: 1.2em; font-weight: bold; }
h6 { font-size: 1.1em; font-weight: bold; }

#content h1,
#content h2,
#content h3,
.underline {
  margin-bottom: 15px;
  color: @strong;
  padding-bottom: 6px;
  border-bottom: 1px solid @border;
}



/* HTML ELEMENTS
----------------------------------------------------------*/

hr {
  border: 0 none;
  height: 16px;
  margin-bottom: 20px;
  display: block;
  background-image: url('/img/hr-pacman.png');
}

blockquote {
    margin-bottom: 10px;
    padding: 10px 10px 1px;
}

pre, code {
  .ff-console();
  overflow-wrap: initial;
}

pre {
    margin-bottom: 10px;
    max-height: 700px;
    overflow: auto;
    padding: 5px;
    width: auto;
}

b, strong, .bold { font-weight: bold; }

i, em, .italic { font-style: italic; }

ins { text-decoration: none; }

del { text-decoration: line-through; }

img { border: none; }

kbd {
  padding: 0.1em 0.6em;
  border: 1px solid #ccc;
  font-size: 11px;
  .ff-arial();
  background-color: #f7f7f7;
  color: #333;
  .box-shadow-dual(0 1px 0 #bbb, 0 0 0 2px #fff inset);
  .box-radius(3px);
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
}


/* FORM ELEMENTS
----------------------------------------------------------*/

label, .label {
  margin-right: 6px;
  width: 80px;
  display: inline-block;
  text-align: right;
}

input, textarea {
  padding: 8px;
}

input:not([type='submit']) {
  width: 140px;
}

fieldset p {
  margin-top: 4px;
}

fieldset p:first-child {
  margin-top: 0;
}



/* TABLE ELEMENTS
----------------------------------------------------------*/

thead th {
  padding-bottom: 2px;
  font-weight: bold;
}

th, td {
  padding: 4px 5px 0;
}

tr {
  line-height: 1.3em;
}



/* PLACEHOLDERS
 **********************/

::-webkit-input-placeholder {
  color: #999;
}
:-moz-placeholder {
  color: #999;
}
::-moz-placeholder {
  color: #999;
}
:-ms-input-placeholder {
  color: #999;
}



/* ITEM LISTS
 **************/

ul.item-list,
ol.item-list {
  margin: 20px 0;
}

ul.item-list li,
ol.item-list li {
  line-height: 1.6em;
  list-style-position:inside;
}

ul.item-list li {
  list-style-type: disc;
  list-style-type: hiragana-iroha;
}

ol.item-list li {
  list-style-type: decimal;
}

ul.item-list li:before,
ol.item-list li:before {
  content: '';
  padding-right: 3px;
}