/* BASIC LAYOUT
----------------------------------------------------------*/

body {
  word-wrap: break-word;
  overflow-x: hidden;
  width: 93.75%; /* 300px on 320px */
  margin: 0 auto;
  text-align: center;
  padding: 6px 0;
}

.layout-header {
  text-align: left;
  margin-bottom: 20px;
}

.layout-heading {
  margin-right: 8px;
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .layout-header {
    padding: 12px 0;
    margin-bottom: 30px;
  }

  #home {
    margin-left: 25px;
  }
}

@media only screen and (min-width: 1024px) {
  .layout-header { margin-bottom: 40px; }
}

#content {
  display: inline-block;
  text-align: left;
  padding: 25px;
  min-height: 300px;
  margin-bottom: 30px;

  box-sizing: border-box;
  width: 100%;
}



/* TEMPLATES
----------------------------------------------------------*/

.template {
  display: none !important;
}



/* MENU
----------------------------------------------------------*/

#menu {
  float: right;
}

#menu a {
  display: inline-block;
  margin-left: 15px;
}

#menu a:first-child {
  margin-left: 0;
}

#menu nav {
  display: none;
}

#search {
  display: inline-block;
  width: 80px;
}

.search-button {
  cursor: pointer;
  vertical-align: middle;
  margin-left: 6px;
  margin-top: -2px;
}

@media only screen and (min-width: 768px) {
  #menu {
    margin-top: 10px;
  }

  #menu nav {
    display: inline-block;
  }

  #search {
    margin-left: 15px;
  }
}