section.authentication-providers
  a(href=config.auth.google.link, title='Authenticate with Google')='Authenticate with Google'
  a(href=config.auth.github.link, title='Authenticate with GitHub')='Authenticate with GitHub'
  a(href=config.auth.facebook.link, title='Authenticate with Facebook')='Authenticate with Facebook'