section#user-login-template.template(data-class='user-authentication')
  h1='Sign In'

  include _providers

  form.authentication-form(method='post', action='/user/login')
    input(type='hidden', name='redirect', value='{{prev}}')

    fieldset
      p
        label(for='login-email')='Email'
        input#login-email(type='text', name='email', placeholder='Input your email')

      p
        label(for='login-password')='Password'
        input#login-password(type='password', name='password', placeholder='Input your password')

    p.authentication-button
      input.button(type='submit', value='Login')