section#user-login-template.template(data-class='user-login')
  h1='User Login'

  include _providers

  form(method='post', action='/user/login')
    fieldset
      p
        label(for='login-email')='Email'
        input#login-email(type='text', name='email', placeholder='Input your email')

      p
        label(for='login-password')='Password'
        input#login-password(type='password', name='password', placeholder='Input your password')

    p.login-button
      input(type='submit', value='Login')