section#user-login-template.template
  h1='User Login'

  section#login
    fieldset
      p
        label(for='login-email')='Email'
        input#login-email(type='text')

      p
        label(for='login-password')='Password'
        input#login-password(type='text')