section#user-login-template.template(data-class='user-login')
  h1='User Login'

  fieldset
    p
      label(for='login-email')='Email'
      input#login-email(type='text')

    p
      label(for='login-password')='Password'
      input#login-password(type='text')

    p.login-buttons
      button#login-button='Login'