section#user-register-template.template(data-class='user-register')
  h1='Register User'

  include _providers

  form(method='post', action='/user/register')
    fieldset
      p
        label(for='register-email')='Email'
        input#register-email(type='text', name='email', placeholder='Register your email')

      p
        label(for='register-password')='Password'
        input#register-password(type='password', name='password', placeholder='Choose your password')

    p.register-button
      input(type='submit', value='Register')