section.ca-container
  div.ca-loading
    span A relevant ad will be displayed here soon. These ads help pay for my hosting.
  div.ca-content
    div.ca-blocked.uv-hidden
      span Please consider disabling your ad blocker on Pony Foo. These ads help pay for my hosting.
      div.ca-support
        span='You can also support Pony Foo directly through '
        a.lk-link(href='https://patreon.com/bevacqua', target='_blank') Patreon
        span=' or via '
        a.lk-link(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=29CRFXW53HRP2', target='_blank') PayPal
        span .
