- publication = article.publication
if article.status === 'draft'
  label.at-estimate-label Draft
if article.status === 'publish'
  label.at-estimate-label Slated for Publication
  span.at-estimate-value
    span=' '
    time(datetime=publication.datetime, aria-label='Publishing ' + publication.title)=publication.text
if article.status === 'published'
  label.at-estimate-label Published
  span.at-estimate-value
    span=' '
    time(datetime=publication.datetime, aria-label='Published ' + publication.title)=publication.text
