each entry in logs
  tr(class='lg-' + entry.level)
    td.lg-level-cell(data-label='Level')
      span.bg-badge.lg-level=entry.level
    td.tm-time-cell(data-label='Date')
      time.lg-created(datetime=entry.created.datetime, aria-label=entry.created.title)=entry.created.text
    td(data-label='Message')
      div.lg-message=entry.message
  if entry.meta.error
    tr(class='lg-' + entry.level)
      td(colspan='3')
        pre.lg-stack(title=entry.meta.errorText)!=entry.meta.error
