aside.blog-sidebar.flip-wrapper
  article.flip-card
    section#latest-posts.face.front
      header
        a.sidebar-flipper.about-blog(title='About this blog')
        h5.underline='Latest Posts'

      section
        nav
          // {{#latest}}
          a.highlighted-link(href='{{permalink}}', data-hint='posted {{published}}')='{{title}}'
          // {{/latest}}

    section#about-blog.face.back
      header
        a.sidebar-flipper.latest-posts(title='Latest posts')
        h5.underline='About'

      include _about