aside.blog-sidebar
  section#latest-posts.blog-sidebar-item
    header
      h5.underline='Latest Posts'

    section
      nav
        // {{#latest}}
        a.highlighted-link(href='{{permalink}}', data-hint='posted {{published}}')='{{title}}'
        // {{/latest}}

  include _sidebar-about
  include _sidebar-subscribe