article
  header.dc-header
    h1.dc-heading Conference Presentations
    div.dc-role A list of presentations I gave at conferences around the world

  ol.pt-list.pt-list-standalone
    each presentation in presentations
      li.pt-item
        h2.pt-title
          span=presentation.title
          a.pt-permalink.fa.fa-arrow-right(href='/presentations/' + presentation.slug, aria-label='Permalink to this presentation')
        include presentation-partial

  footer.tk-presentations-link
    a.tk-presentations-anchor(href='/speaking') Back to conference appearances
