section#discussion-list-template.template
  section.blog-entry-section.blog-discussions
    header#comments.blog-entry-title
      h1='Comments'

    // {{#discussions}}
    include _discussion
    // {{/discussions}}

    // {{^discussions}}
    article.blog-entry-uncommented
      p
        span='No comments have been posted '
        i='yet'
        span='.'
    // {{/discussions}}