@import "../../defaults/common.less";

.upload-area {
  display: none;
  padding: 8px;

  .box-radius(2px);

  border: 1px solid @grayish;
  border-top: 2px solid @light;
  border-left: 2px solid @light;
  background-color: @background;
}

@media only screen and (min-width: 768px) {
  .upload-area {
    display: block;
  }
}

.upload-area:focus {
  border: 1px solid @grayish;
  border-top: 2px solid @border;
  border-left: 2px solid @border;
}

input.upload-input {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: none;
  padding: 0;
  width: 100%;
  .box-sizing();
}

.upload-area .upload-form                 { display: block; }
.upload-area.upload-dragover .upload-form { display: none; }

.upload-area.upload-dragover {
  padding: 0;
  background-color: transparent;
  padding: 10px;
  text-align: center;
  border: 3px dashed @blue_light;
  color: @blue;
}

.upload-area.upload-dragover:after {
  line-height: 80px;
  font-size: 1.4em;
  content: 'Drop here to begin upload';
}

.upload-form {
  height: 80px;
}