aside.ly-aside
  section.ly-section.ca-container
    script#_carbonads_js(src='//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=ponyfoocom', async)
    div.ca-help-me.uv-hidden Please consider disabling your ad blocker on Pony Foo. Help pay for my server bills!

  form#search.ly-section.sr-container(action='/articles/search', method='get', name='search')
    input.de-input.sr-input(placeholder='e.g JavaScript', name='terms', value=model.query && model.query.replace(/"/g,''))
    span.de-submit(aria-label='Pro Tip: use "[js]" to search for article tags!')
      input.de-button.sr-button.uv-button(type='submit', value='Search')

  form.ly-section.ss-container.de-subscribe(action='/api/subscribers', method='post', name='subscribe')
    div.ss-label Subscribe to our mailing list and be the first to know when new articles come out!
    div.ss-label One-click unsubscribe, anytime.

    noscript
      input.uv-verify(name='verify', value='Promise not to be a bot? Clear this field!', placeholder='This field is only for tricksters...')

    input.ss-source(type='hidden', name='source', value='sidebar')
    input.de-input.ss-input(placeholder='you@provider.io', name='subscriber')
    span.de-submit(aria-label='As easy as clicking this button and confirming via email!')
      input.de-button.ss-button.uv-button(type='submit', value='Subscribe')

  section.ly-section.de-bio.md-markdown!=model.bioHtml

  section.ly-section.al-archives
    a(href='/articles/archives', aria-label='The archives link to every single article ever published on Pony Foo!') Archives
    span=' and '
    a(href='/articles/feed', aria-label='Track our RSS feed and be the first to learn about freshly published content') RSS Feed

  section.de-back.ly-section
    a.de-back-link(href='#top')
