aside.ly-aside.de-container
  section.ly-section.sr-container#search
    input.de-input.sr-input(placeholder='e.g JavaScript')
    button.de-button.sr-button(aria-label='Pro Tip: use "[js]" to search tagged articles!') Search

  section.ly-section.ss-container
    div.ss-label Subscribe to our mailing list and be the first to know when new articles come out!
    div.ss-label One-click unsubscribe, anytime.
    input.de-input.ss-input(placeholder='you@provider.io')
    button.de-button.ss-button(aria-label='As easy as clicking this button and confirming via email!') Subscribe!

  section.al-archives.ly-section
    a(href='/articles/archives', aria-label='The archives contain every single article ever published!') Archives

  section.de-back.ly-section
    a.de-back-link(href='#top')
