nav.hn-navigation
  ul.hn-list
    li.hn-item
      a.hn-link.lk-rainbows(href='/', aria-label='Your planet needs you') Articles
    li.hn-item
      a.hn-link.lk-rainbows(href='/weekly', aria-label='Get our weekly email newsletter!')
        span.hn-new Weekly
    li.hn-item
      a.hn-link.lk-rainbows(href='/books', aria-label='Find books I’ve written and books that I’m currently writing') Books
    li.hn-item
      a.hn-link.lk-rainbows(href='/speaking', aria-label='Find talk videos, slides, and upcoming speaking engagements') Speaking
    li.hn-item
      a.hn-link.lk-rainbows(href='/opensource', aria-label='Learn about my contributions to the open-source community') Open-Source
