svg.go-logo(width='156', height='156', viewbox='0 0 13 13', shape-rendering='crispEdges', aria-hidden='true')
  rect(width='1', height='1', x='11', fill='#666')
  rect(width='1', height='1', x='12', fill='#1a1a1a')
  rect(width='1', height='1', y='1', x='10', fill='#4d4d4d')
  rect(width='1', height='1', y='1', x='11')
  rect(width='1', height='1', y='2', x='3', fill='#333')
  rect(width='1', height='1', y='2', x='4')
  rect(width='1', height='1', y='2', x='5', fill='#1a1a1a')
  rect(width='1', height='1', y='2', x='7', fill='#1a1a1a')
  rect(width='1', height='1', y='2', x='9', fill='#333')
  rect(width='1', height='1', y='2', x='10')
  rect(width='1', height='1', y='3', x='2', fill='#333')
  rect(width='1', height='1', y='3', x='3')
  rect(width='1', height='1', y='3', x='4')
  rect(width='1', height='1', y='3', x='5')
  rect(width='1', height='1', y='3', x='6')
  rect(width='1', height='1', y='3', x='7')
  rect(width='1', height='1', y='3', x='8')
  rect(width='1', height='1', y='3', x='9')
  rect(width='1', height='1', y='4', x='1', fill='#333')
  rect(width='1', height='1', y='4', x='2', fill='#1a1a1a')
  rect(width='1', height='1', y='4', x='3')
  rect(width='1', height='1', y='4', x='4')
  rect(width='1', height='1', y='4', x='5')
  rect(width='1', height='1', y='4', x='6')
  rect(width='1', height='1', y='4', x='7')
  rect(width='1', height='1', y='4', x='8')
  rect(width='1', height='1', y='4', x='9')
  rect(width='1', height='1', y='5', fill='#333')
  rect(width='1', height='1', y='5', x='1', fill='#1a1a1a')
  rect(width='1', height='1', y='5', x='2')
  rect(width='1', height='1', y='5', x='3')
  rect(width='1', height='1', y='5', x='4')
  rect(width='1', height='1', y='5', x='5')
  rect(width='1', height='1', y='5', x='6', fill='#26EF00')
  rect(width='1', height='1', y='5', x='7', fill='#26E400')
  rect(width='1', height='1', y='5', x='8')
  rect(width='1', height='1', y='5', x='9')
  rect(width='1', height='1', y='5', x='10', fill='#1a1a1a')
  rect(width='1', height='1', y='6')
  rect(width='1', height='1', y='6', x='1')
  rect(width='1', height='1', y='6', x='2')
  rect(width='1', height='1', y='6', x='3')
  rect(width='1', height='1', y='6', x='4')
  rect(width='1', height='1', y='6', x='5')
  rect(width='1', height='1', y='6', x='6', fill='#26EF00')
  rect(width='1', height='1', y='6', x='7', fill='#26EF00')
  rect(width='1', height='1', y='6', x='8')
  rect(width='1', height='1', y='6', x='9')
  rect(width='1', height='1', y='7')
  rect(width='1', height='1', y='7', x='1')
  rect(width='1', height='1', y='7', x='2')
  rect(width='1', height='1', y='7', x='3')
  rect(width='1', height='1', y='7', x='4')
  rect(width='1', height='1', y='7', x='5')
  rect(width='1', height='1', y='7', x='6')
  rect(width='1', height='1', y='7', x='7')
  rect(width='1', height='1', y='7', x='8')
  rect(width='1', height='1', y='7', x='9')
  rect(width='1', height='1', y='8')
  rect(width='1', height='1', y='8', x='1')
  rect(width='1', height='1', y='8', x='2')
  rect(width='1', height='1', y='8', x='3')
  rect(width='1', height='1', y='8', x='4')
  rect(width='1', height='1', y='8', x='5')
  rect(width='1', height='1', y='8', x='6')
  rect(width='1', height='1', y='8', x='7')
  rect(width='1', height='1', y='8', x='8')
  rect(width='1', height='1', y='8', x='9')
  rect(width='1', height='1', y='8', x='10', fill='#333')
  rect(width='1', height='1', y='9')
  rect(width='1', height='1', y='9', x='1')
  rect(width='1', height='1', y='9', x='2')
  rect(width='1', height='1', y='9', x='3')
  rect(width='1', height='1', y='9', x='4')
  rect(width='1', height='1', y='9', x='5')
  rect(width='1', height='1', y='9', x='6')
  rect(width='1', height='1', y='9', x='7')
  rect(width='1', height='1', y='9', x='8')
  rect(width='1', height='1', y='9', x='9')
  rect(width='1', height='1', y='9', x='10')
  rect(width='1', height='1', y='10')
  rect(width='1', height='1', y='10', x='1')
  rect(width='1', height='1', y='10', x='2')
  rect(width='1', height='1', y='10', x='3')
  rect(width='1', height='1', y='10', x='4')
  rect(width='1', height='1', y='10', x='5')
  rect(width='1', height='1', y='10', x='6', fill='#333')
  rect(width='1', height='1', y='10', x='8')
  rect(width='1', height='1', y='10', x='9')
  rect(width='1', height='1', y='10', x='10')
  rect(width='1', height='1', y='11')
  rect(width='1', height='1', y='11', x='1')
  rect(width='1', height='1', y='11', x='2')
  rect(width='1', height='1', y='11', x='3')
  rect(width='1', height='1', y='11', x='4')
  rect(width='1', height='1', y='11', x='5')
  rect(width='1', height='1', y='11', x='6')
  rect(width='1', height='1', y='11', x='7', fill='#333')
  rect(width='1', height='1', y='12')
  rect(width='1', height='1', y='12', x='1')
  rect(width='1', height='1', y='12', x='2')
  rect(width='1', height='1', y='12', x='3')
  rect(width='1', height='1', y='12', x='4')
  rect(width='1', height='1', y='12', x='5')
  rect(width='1', height='1', y='12', x='6')
  rect(width='1', height='1', y='12', x='7')
  rect(width='1', height='1', y='12', x='8', fill='#333')

  - var now = new Date()
  if now.getMonth() === 11 || (now.getMonth() === 0 && now.getDate() < 16)
    rect(width='0.4', height='0.4', x='4', fill='#c78386')
    rect(width='0.4', height='0.4', x='4.4', fill='#c6161c')

    rect(width='0.4', height='0.4', y='0.4', x='3.2', fill='#a70c12')
    rect(width='0.4', height='0.4', y='0.4', x='3.6', fill='#b21015')
    rect(width='0.4', height='0.4', y='0.4', x='4', fill='#be131a')
    rect(width='0.4', height='0.4', y='0.4', x='4.4', fill='#d91820')
    rect(width='0.4', height='0.4', y='0.4', x='4.8', fill='#bc131a')

    rect(width='0.4', height='0.4', y='0.8', x='2.8', fill='#b61217')
    rect(width='0.4', height='0.4', y='0.8', x='3.2', fill='#b91319')
    rect(width='0.4', height='0.4', y='0.8', x='3.6', fill='#c0141b')
    rect(width='0.4', height='0.4', y='0.8', x='4', fill='#b81218')
    rect(width='0.4', height='0.4', y='0.8', x='4.4', fill='#b30f16')
    rect(width='0.4', height='0.4', y='0.8', x='4.8', fill='#ae0f15')
    rect(width='0.4', height='0.4', y='0.8', x='5.2', fill='#c3151c')

    rect(width='0.4', height='0.4', y='1.2', x='2.4', fill='#b85358')
    rect(width='0.4', height='0.4', y='1.2', x='2.8', fill='#cd161f')
    rect(width='0.4', height='0.4', y='1.2', x='3.2', fill='#c6161d')
    rect(width='0.4', height='0.4', y='1.2', x='3.6', fill='#d3171f')
    rect(width='0.4', height='0.4', y='1.2', x='4', fill='#e31a22')
    rect(width='0.4', height='0.4', y='1.2', x='4.4', fill='#e31a22')
    rect(width='0.4', height='0.4', y='1.2', x='4.8', fill='#e31a22')
    rect(width='0.4', height='0.4', y='1.2', x='5.2', fill='#c7161d')
    rect(width='0.4', height='0.4', y='1.2', x='5.6', fill='#a90d13')

    rect(width='0.4', height='0.4', y='1.6', x='2.4', fill='#ac0f14')
    rect(width='0.4', height='0.4', y='1.6', x='2.8', fill='#a60e12')
    rect(width='0.4', height='0.4', y='1.6', x='3.2', fill='#c4161d')
    rect(width='0.4', height='0.4', y='1.6', x='3.6', fill='#af1015')
    rect(width='0.4', height='0.4', y='1.6', x='4', fill='#c1151b')
    rect(width='0.4', height='0.4', y='1.6', x='4.4', fill='#cb161d')
    rect(width='0.4', height='0.4', y='1.6', x='4.8', fill='#cb161d')
    rect(width='0.4', height='0.4', y='1.6', x='5.2', fill='#c1141b')
    rect(width='0.4', height='0.4', y='1.6', x='5.6', fill='#ad0f16')
    rect(width='0.4', height='0.4', y='1.6', x='6', fill='#c2777c')

    rect(width='0.4', height='0.4', y='2', x='2.4', fill='#c3151c')
    rect(width='0.4', height='0.4', y='2', x='2.8', fill='#dde0e0')
    rect(width='0.4', height='0.4', y='2', x='3.2', fill='#dde9ea')
    rect(width='0.4', height='0.4', y='2', x='3.6', fill='#e5e6e6')
    rect(width='0.4', height='0.4', y='2', x='4', fill='#e3e4e5')
    rect(width='0.4', height='0.4', y='2', x='4.4', fill='#e6e7e8')
    rect(width='0.4', height='0.4', y='2', x='4.8', fill='#e2eced')
    rect(width='0.4', height='0.4', y='2', x='5.2', fill='#d9ddde')
    rect(width='0.4', height='0.4', y='2', x='5.6', fill='#dce1e2')
    rect(width='0.4', height='0.4', y='2', x='6', fill='#dedfe0')
    rect(width='0.4', height='0.4', y='2', x='6.4', fill='#e9eaea')

    rect(width='0.4', height='0.4', y='2.4', x='1.6', fill='#e8e9ea')
    rect(width='0.4', height='0.4', y='2.4', x='2', fill='#f0f0f2')
    rect(width='0.4', height='0.4', y='2.4', x='2.4', fill='#e0eaeb')
    rect(width='0.4', height='0.4', y='2.4', x='2.8', fill='#d7d8da')
    rect(width='0.4', height='0.4', y='2.4', x='3.2', fill='#f3f4f4')
    rect(width='0.4', height='0.4', y='2.4', x='3.6', fill='#ecedee')
    rect(width='0.4', height='0.4', y='2.4', x='4', fill='#eceded')
    rect(width='0.4', height='0.4', y='2.4', x='4.4', fill='#f0f0f1')
    rect(width='0.4', height='0.4', y='2.4', x='4.8', fill='#f5f5f6')
    rect(width='0.4', height='0.4', y='2.4', x='5.2', fill='#f1f1f2')
    rect(width='0.4', height='0.4', y='2.4', x='5.6', fill='#eeeeef')
    rect(width='0.4', height='0.4', y='2.4', x='6', fill='#eceded')
    rect(width='0.4', height='0.4', y='2.4', x='6.4', fill='#ecedec')

    rect(width='0.4', height='0.4', y='2.8', x='1.2', fill='#e2e3e4')
    rect(width='0.4', height='0.4', y='2.8', x='1.6', fill='#fafafa')
    rect(width='0.4', height='0.4', y='2.8', x='2', fill='#fbfbfb')
    rect(width='0.4', height='0.4', y='2.8', x='2.4', fill='#efefef')
    rect(width='0.4', height='0.4', y='2.8', x='2.8', fill='#d4d5d6')
    rect(width='0.4', height='0.4', y='2.8', x='3.2', fill='#eceded')
    rect(width='0.4', height='0.4', y='2.8', x='3.6', fill='#efeff0')
    rect(width='0.4', height='0.4', y='2.8', x='4', fill='#f4f4f5')
    rect(width='0.4', height='0.4', y='2.8', x='4.4', fill='#f8f9f9')
    rect(width='0.4', height='0.4', y='2.8', x='4.8', fill='#f9f9f9')
    rect(width='0.4', height='0.4', y='2.8', x='5.2', fill='#eeefef')
    rect(width='0.4', height='0.4', y='2.8', x='5.6', fill='#f9f9f9')
    rect(width='0.4', height='0.4', y='2.8', x='6', fill='#fcfcfc')
    rect(width='0.4', height='0.4', y='2.8', x='6.4', fill='#ececed')

    rect(width='0.4', height='0.4', y='3.2', x='1.2', fill='#e8e9ea')
    rect(width='0.4', height='0.4', y='3.2', x='1.6', fill='#e9eaeb')
    rect(width='0.4', height='0.4', y='3.2', x='2', fill='#f4f5f5')
    rect(width='0.4', height='0.4', y='3.2', x='2.4', fill='#f3f3f3')
    rect(width='0.4', height='0.4', y='3.2', x='2.8', fill='#dadbdc')
    rect(width='0.4', height='0.4', y='3.2', x='3.2', fill='#eaebec')
    rect(width='0.4', height='0.4', y='3.2', x='3.6', fill='#eaebec')
    rect(width='0.4', height='0.4', y='3.2', x='4', fill='#edeeee')
    rect(width='0.4', height='0.4', y='3.2', x='4.4', fill='#f4f4f4')
    rect(width='0.4', height='0.4', y='3.2', x='4.8', fill='#f8f8f8')
    rect(width='0.4', height='0.4', y='3.2', x='5.2', fill='#f4f5f5')
    rect(width='0.4', height='0.4', y='3.2', x='5.6', fill='#f5f6f6')
    rect(width='0.4', height='0.4', y='3.2', x='6', fill='#f2f2f3')
    rect(width='0.4', height='0.4', y='3.2', x='6.4', fill='#f0f0f1')
    rect(width='0.4', height='0.4', y='3.2', x='6.8', fill='#d6d6d8')

    rect(width='0.4', height='0.4', y='3.6', x='1.2', fill='#dadada')
    rect(width='0.4', height='0.4', y='3.6', x='1.6', fill='#e8e9ea')
    rect(width='0.4', height='0.4', y='3.6', x='2', fill='#e6e7e7')
    rect(width='0.4', height='0.4', y='3.6', x='2.4', fill='#c1c1c1')
    rect(width='0.4', height='0.4', y='3.6', x='2.8', fill='#d2d3d5')
    rect(width='0.4', height='0.4', y='3.6', x='3.2', fill='#e1e2e3')
    rect(width='0.4', height='0.4', y='3.6', x='3.6', fill='#eeeeef')
    rect(width='0.4', height='0.4', y='3.6', x='4', fill='#eff0f0')
    rect(width='0.4', height='0.4', y='3.6', x='4.4', fill='#edeeee')
    rect(width='0.4', height='0.4', y='3.6', x='4.8', fill='#eeefef')
    rect(width='0.4', height='0.4', y='3.6', x='5.2', fill='#f1f1f2')
    rect(width='0.4', height='0.4', y='3.6', x='5.6', fill='#eaebeb')
    rect(width='0.4', height='0.4', y='3.6', x='6', fill='#e1e2e4')
    rect(width='0.4', height='0.4', y='3.6', x='6.4', fill='#dedfe0')
    rect(width='0.4', height='0.4', y='3.6', x='6.8', fill='#d5d6d7')

    rect(width='0.4', height='0.4', y='4', x='1.2', fill='#dbdbdb')
    rect(width='0.4', height='0.4', y='4', x='1.6', fill='#cecece')
    rect(width='0.4', height='0.4', y='4', x='2', fill='#c6c6c6')
    rect(width='0.4', height='0.4', y='4', x='2.4', fill='#bebdbd')
    rect(width='0.4', height='0.4', y='4', x='2.8', fill='#a6a6a6')
    rect(width='0.4', height='0.4', y='4', x='3.2', fill='#969696')
    rect(width='0.4', height='0.4', y='4', x='3.6', fill='#8c8b8b')
    rect(width='0.4', height='0.4', y='4', x='4', fill='#858484')
    rect(width='0.4', height='0.4', y='4', x='4.4', fill='#7f7e7e')
    rect(width='0.4', height='0.4', y='4', x='4.8', fill='#807f7f')
    rect(width='0.4', height='0.4', y='4', x='5.2', fill='#848383')
    rect(width='0.4', height='0.4', y='4', x='5.6', fill='#908f8f')
    rect(width='0.4', height='0.4', y='4', x='6', fill='#a0a0a0')
    rect(width='0.4', height='0.4', y='4', x='6.4', fill='#b0b0b0')
    rect(width='0.4', height='0.4', y='4', x='6.8', fill='#c0bfbf')

  a(xlink:href='/', aria-hidden='false', role='link', title='Pony Foo')
    rect(width='13', height='13', opacity='0', role='img')
  image(src='/img/ponyfoo.png', alt='Pony Foo')
