if model.user
  nav.nv-container
    div.nv-logon
      a.nv-logon-anchor(href='/account/logout') Logout

    ul.nv-items
      li.nv-item
        a.lk-link(href='/account/bio', aria-label='Edit your biography') Bio
      li.nv-item
        a.lk-link(href='/author/compose', aria-label='Prepare a fresh draft') Compose
      li.nv-item
        a.lk-link(href='/author/review', aria-label='Review articles and drafts') Review
      li.nv-item
        a.lk-link(href='/author/oss', aria-label='View, add, or remove OSS projects') OSS
      li.nv-item
        a.lk-link(href='/author/engagements', aria-label='View, add, or remove engagements') Engagements
      li.nv-item
        a.lk-link(href='/author/presentations', aria-label='View, add, or remove presentations') Presentations
      li.nv-item
        a.lk-link(href='/author/email', aria-label='Prepare and send out an email campaign') Campaign
      li.nv-item
        a.lk-link(href='/author/subscribers', aria-label='See email subscriber growth') Subscribers
      li.nv-item
        a.lk-link(href='/author/logs', aria-label='See activity logs') Logs
