if model.user
  nav.nv-container
    div.nv-logon
      a.nv-logon-anchor(href='/account/logout') Logout

    ul.nv-items
      if model.roles.owner || model.roles.articles
        li.nv-item.nv-open
          span.nv-opener
        li.nv-item
          a.lk-link(href='/articles/new', aria-label='Prepare a fresh draft') Compose
        li.nv-item
          a.lk-link(href='/articles/review', aria-label='Review articles and drafts') Review
        li.nv-item.nv-close
          span.nv-closer

      if model.roles.owner || model.roles.weeklies
        li.nv-item.nv-open
          span.nv-opener
        li.nv-item
          a.lk-link(href='/weekly/new', aria-label='Prepare a new weekly') Assemble
        li.nv-item
          a.lk-link(href='/weekly/review', aria-label='Review weekly newsletter entries') Weeklies
        li.nv-item.nv-close
          span.nv-closer

      if model.roles.owner
        li.nv-item.nv-open
          span.nv-opener
        li.nv-item
          a.lk-link(href='/opensource/review', aria-label='View, add, or remove OSS projects') OSS
        li.nv-item
          a.lk-link(href='/speaking/review', aria-label='View, add, or remove speaking engagements') Talks
        li.nv-item
          a.lk-link(href='/presentations/review', aria-label='View, add, or remove presentations') Presentations
        li.nv-item.nv-close
          span.nv-closer
        li.nv-item.nv-open
          span.nv-opener
        li.nv-item
          a.lk-link(href='/account/bio', aria-label='Edit your biography') Bio
        li.nv-item
          a.lk-link(href='/owner/announcements', aria-label='Prepare and send out an email announcement') Announcements
        li.nv-item
          a.lk-link(href='/owner/subscribers', aria-label='See email subscriber growth') Subscribers
        li.nv-item
          a.lk-icon.fa.fa-bars(href='/owner/logs', aria-label='See activity logs')
        li.nv-item
          a.lk-icon.fa.fa-credit-card(href='/owner/invoicing', aria-label='Generate Pony Foo invoices')
        li.nv-item
          a.lk-icon.fa.fa-cog(href='/owner/settings', aria-label='Change site-wide settings')
        li.nv-item.nv-close
          span.nv-closer
