if model.user
  nav.nv-container
    div.nv-logon
      a.nv-logon-anchor(href='/account/logout') Logout

    ul.nv-items
      if model.roles.owner
        li.nv-item
          a.lk-link(href='/account/bio', aria-label='Edit your biography') Bio

      if model.roles.owner || model.roles.articles
        li.nv-item
          a.lk-link(href='/author/articles/new', aria-label='Prepare a fresh draft') Compose
        li.nv-item
          a.lk-link(href='/author/articles', aria-label='Review articles and drafts') Review

      if model.roles.owner || model.roles.weeklies
        li.nv-item
          a.lk-link(href='/author/weeklies/new', aria-label='Prepare a new weekly') Assemble
        li.nv-item
          a.lk-link(href='/author/weeklies', aria-label='Review weekly newsletter entries') Weeklies

      if model.roles.owner
        li.nv-item
          a.lk-link(href='/author/oss', aria-label='View, add, or remove OSS projects') OSS
        li.nv-item
          a.lk-link(href='/author/engagements', aria-label='View, add, or remove speaking engagements') Talks
        li.nv-item
          a.lk-link(href='/author/presentations', aria-label='View, add, or remove presentations') Presentations
        li.nv-item
          a.lk-link(href='/author/announcements', aria-label='Prepare and send out an email announcement') Announcements
        li.nv-item
          a.lk-link(href='/author/subscribers', aria-label='See email subscriber growth') Subscribers
        li.nv-item
          a.lk-icon.fa.fa-bars(href='/author/logs', aria-label='See activity logs')
        li.nv-item
          a.lk-icon.fa.fa-cog(href='/author/settings', aria-label='Change site-wide settings')
