if model.user
  nav.nv-container
    ul.nv-items
      if model.roles.owner || model.roles.articles
        li.nv-item.nv-open
          span.nv-opener
        li.nv-item
          a.lk-link.lk-blue.lk-clean(href='/articles/new', aria-label='Prepare a fresh draft') Compose
        li.nv-item
          a.lk-link.lk-blue.lk-clean(href='/articles/review', aria-label='Manage articles and drafts') Review
        if model.roles.owner
          li.nv-item
            a.lk-link.lk-blue.lk-clean(href='/articles/tags/review', aria-label='Manage known tags') Tags
        li.nv-item.nv-close
          span.nv-closer

      if model.roles.owner || model.roles.weeklies
        li.nv-item.nv-open
          span.nv-opener
        li.nv-item
          a.lk-link.lk-blue.lk-clean(href='/weekly/new', aria-label='Prepare a new weekly') Assemble
        li.nv-item
          a.lk-link.lk-blue.lk-clean(href='/weekly/review', aria-label='Manage weekly newsletter entries') Weeklies
        li.nv-item
          a.lk-link.lk-blue.lk-clean(href='/weekly/submissions/review', aria-label='Manage user submissions') Submissions
        li.nv-item.nv-close
          span.nv-closer

      li.nv-item.nv-open
        span.nv-opener
      li.nv-item
        a.lk-link.lk-blue.lk-clean(href='/account/profile', aria-label='Update your profile') Profile
      li.nv-item.nv-open
        span.nv-closer

      if model.roles.owner
        li.nv-item.nv-open
          span.nv-opener
        li.nv-item
          a.lk-link.lk-blue.lk-clean(href='/opensource/review', aria-label='Manage open-source projects') OSS
        li.nv-item
          a.lk-link.lk-blue.lk-clean(href='/speaking/review', aria-label='Manage speaking engagements') Talks
        li.nv-item
          a.lk-link.lk-blue.lk-clean(href='/presentations/review', aria-label='Manage presentations') Presentations
        li.nv-item.nv-close
          span.nv-closer

        li.nv-item.nv-open
          span.nv-opener
        li.nv-item
          a.lk-link.lk-blue.lk-clean(href='/owner/announcements', aria-label='Prepare and send out an email announcement') Announcements
        li.nv-item
          a.lk-link.lk-blue.lk-clean(href='/owner/subscribers', aria-label='See email subscriber growth') Subscribers
        li.nv-item
          a.lk-icon.fa.fa-credit-card(href='/invoices', aria-label='Generate Pony Foo invoices')
        li.nv-item
          a.lk-icon.fa.fa-users(href='/users/review', aria-label='Manage contributing users')
        li.nv-item
          a.lk-icon.fa.fa-user-times(href='/users/unverified/review', aria-label='Manage unverified users')
        li.nv-item
          a.lk-icon.fa.fa-bars(href='/owner/logs', aria-label='Check out activity logs')
        li.nv-item
          a.lk-icon.fa.fa-cog(href='/owner/settings', aria-label='Change site-wide settings')
        li.nv-item.nv-close
          span.nv-closer

      li.nv-item.nv-open
        span.nv-opener
      if model.userImpersonator
        li.nv-item
          a.lk-icon.fa.fa-user-secret(href='/api/impersonation/stop', aria-label='Back to your old self')
      li.nv-item
        a.lk-icon.fa.fa-sign-out(href='/account/logout')
      li.nv-item.nv-open
        span.nv-closer
