div.pc-cube
  div.pc-faces
    div.pc-face.pc-front Pony
    div.pc-face.pc-back Foo
    div.pc-face.pc-right Pony
    div.pc-face.pc-left Foo
    div.pc-face.pc-top Pony
    div.pc-face.pc-bottom Foo
