extends layout

block menu
  include _registered-menu
  a(href='/user/logout')='Logout'
  a#review-entries(href='/author/entry/review')='Review Entries'
  a.button#write-entry(href='/author/entry')='Write Entry'

block templates
  include _registered-templates

  include ../author/editor
  include ../author/review