extends minimal

block title
  title=slug + ' could be yours!'

block body
  main#content
    h1=slug + ' could be yours!'

    section.claim-notice
      :markdown
        This subdomain is _available_, and it can be yours if you **claim it**
