extends minimal

block title
  title='Your blogging site is just one click away!'

block body
  header='Read up on the amazing features available to blogs in our network'

  main#content
    h1=slug + ' could be yours!'