extends minimal

block title
  title='Available !'

block body
  main#content
    h1='foo'

    section.claim-notice
      :markdown
        This subdomain is _available_, and it can be yours if you **claim it**
