extends layout

block menu
  include _registered-menu
  a.hint#blogger-tools(href='/blogger', data-hint='Access tools to manage your blog')='Tools'
  a.button#write-entry(href='/blogger/entry')='Write'

block templates
  include _registered-templates

  include ../blogger/index
  include ../blogger/editor
  include ../blogger/review
  include ../blogger/review-list
  include ../blogger/review-pager