extends layout

block menu
  include _registered-menu
  a#review-entries(href='/blogger/entry/review')='Review'
  a.button#write-entry(href='/blogger/entry')='Write'

block templates
  include _registered-templates

  include ../blogger/editor
  include ../blogger/review
  include ../blogger/review-list
  include ../blogger/review-pager