!= config.site.doctype

html(lang='en', itemscope, itemtype='http://schema.org/Blog')
  head
    include _metadata

    !=assetify.css.emit(profile)

  body
    header.layout-header.clearfix
      section.layout-heading
        h1.layout-title
          a#home(href='/')=blog.title

        if blog.legend
          h2.layout-legend=blog.legend

      aside#menu
        nav
          block menu

        span.search-area
          input.search-input(type='text', placeholder='search')

          a.search-button(title='Search')
            span.action.search

    section#content.spinner-container(data-flash=flash.json)
      include ../shared/_spinner

    include ../shared/404
    include ../shared/metadata
    include ../shared/validation-dialog
    include ../shared/validation-errors
    include ../shared/upload
    include ../shared/expand-section
    include ../shared/table-pager

    include ../markdown/prompt-link
    include ../markdown/prompt-image

    include ../blog/entries
    include ../blog/partials/empty
    include ../blog/partials/exhausted
    include ../blog/partials/siblings
    include ../blog/partials/pager
    include ../blog/partials/more

    include ../blog/discussion/list

    include ../user/profile

    block templates

    !=assetify.js.emit(profile)
