extends minimal

block head
  title='NBrut Installation'

block body
  header.layout-header.clearfix
    section.layout-heading
      h1.layout-title='Hello NBrut;'
      h2.layout-legend='Quickly set up NBrut in your server environment'

  article#content
    h1='Welcome!'

    section.markdown
      :markdown
        In the extremely unlikely case you have _no clue_ what you've been doing, this is [**NBrut**](https://github.com/bevacqua/NBrut "Repository on GitHub"). **NBrut** is a blogging platform that allows users to create their own blogs and host them on