!!! 5

html(lang='en')
  head
    include _metadata

    !=assetify.css.emit(profile)

  body
    header.layout-header
      h1.layout-heading
        a#home(href='/')=config.site.title

      aside#menu
        nav
          block menu

        input#search(type='text', placeholder='search')

    section#content.spinner-container(data-flash=flash.json)
      include ../shared/_spinner

    include ../shared/404
    include ../shared/validation-errors

    include ../blog/entries
    include ../blog/partials/empty
    include ../blog/partials/exhausted
    include ../blog/partials/siblings
    include ../blog/partials/pager
    include ../blog/partials/more

    include ../blog/discussion/list

    include ../user/profile

    block templates

    !=assetify.js.emit(profile)
