input,
textarea,
select
  display block
  width 100%
  padding 10px 8px
  line-height 18px // firefox defaults to 19.45px. I know.
  border none
  background-color c-blue-01
  color c-black-text
  col-outline-clear()
  &:focus
    col-outline(c-dark-turquoise)
    background-color c-blue-02

textarea
  resize vertical
  min-height 280px
  max-height 900px

select
  height 38px
