.f-core
  font-family f-core

.f-mono
  font-family f-mono

.ly-custom-headings
  .f-heading,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    font-family f-heading

.ly-custom-subheadings
  .f-subheading
    font-family f-subheading
