.f-core
  font-family f-core

.f-mono
  font-family f-mono

.ly-custom-heading
  .f-heading,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    font-family f-heading

.ly-custom-subheading
  .f-subheading
    font-family f-subheading

f-use-heading()
  /.ly-custom-heading &
    font-family f-heading

f-use-subheading()
  /.ly-custom-subheading &
    font-family f-subheading
