input,
textarea
  display block
  width 100%
  padding 10px 8px
  border none
  background-color darken(c-blue, 10%)
  color c-white

  &:focus
    outline none
    background-color c-blue

textarea
  resize vertical
  min-height 280px
  max-height 900px

