input,
textarea
  display block
  padding 2px
  border 1px solid c-grayish
  border-top 2px solid c-light
  border-left 2px solid c-light
  background-color c-background
  color strong

  &:focus
    outline none
    border 1px solid c-grayish
    border-top 2px solid c-border
    border-left 2px solid c-border

