input,
textarea
  display block
  width 100%
  padding 10px 8px
  border none
  background-color c-yellow-highlight-04
  color c-black

  &:focus
    outline none
    background-color c-yellow-highlight-08

textarea
  min-height 280px
  max-height 900px

