a,
button,
input[type='submit']
  cursor pointer
  text-decoration none

a
  color c-pink
  font-weight bold

  &:visited
    color c-pink - #333

  &:hover
    text-decoration underline

.lk-heading
  color c-strong

  &:visited
    color c-strong
