placeholder()
  color rgba(c-gray, 0.3)
  /:focus&
    color c-gray

::-webkit-input-placeholder
  placeholder()

:-moz-placeholder
  placeholder()

::-moz-placeholder
  placeholder()

:-ms-input-placeholder
  placeholder()
