placeholder()
  color rgba(c-pink, 0.3)
  /:focus&
    color rgba(c-pink, 0.5)

::-webkit-input-placeholder
  placeholder()

:-moz-placeholder
  placeholder()

::-moz-placeholder
  placeholder()

:-ms-input-placeholder
  placeholder()
