::selection
  background c-pink
  color #fff
  text-shadow 0 1px rgba(#000, .2)

::-webkit-input-placeholder
  color #999

:-moz-placeholder
  color #999

::-moz-placeholder
  color #999

:-ms-input-placeholder
  color #999
