body
  font-family f-core
  background @background
  color #333

main
  box-radius 4px
  background-color moderate
  border 1px solid grayish

b,
strong,
  font-weight bold

i,
em,
  font-style italic

ins
  text-decoration none

del
  text-decoration line-through

img
  max-width 100%
  border none

kbd
  padding 0.1em 0.6em
  border 1px solid #ccc
  font-size 11px
  font-family f-arial
  background-color #f7f7f7
  color #333
  box-shadow 0 1px 0 #bbb, 0 0 0 2px #fff inset
  box-radius 3px
  display inline-block
  margin 0 0.1em
  text-shadow 0 1px 0 #fff
  line-height 1.4
  white-space nowrap
