.blog-entry-title {
  font-size: 2em;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 35px;
}
.blog-entry-title h1 {
  display: block;
}
.blog-entry-title a:hover {
  text-decoration: none;
}
.blog-entry-date {
  float: right;
  display: block;
  font-size: 10px;
  text-align: right;
  color: #7a0000;
}
.blog-entry-brief {
  margin-bottom: 45px;
}
.blog-entry-brief h1,
.blog-entry-text h1,
.blog-entry h2,
.blog-entry h3,
.blog-entry h4 {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 25px;
  font-weight: bold;
  color: #412917;
}
.blog-entry pre {
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.blog-entry pre code {
  display: block;
}
.blog-entry p {
  line-height: 1.3em;
  margin-bottom: 15px;
}
.blog-entry ul {
  margin: 20px 0;
}
.blog-entry ul li {
  line-height: 1.6em;
  list-style-position: inside;
  list-style-type: disc;
  list-style-type: hiragana-iroha;
}
.blog-entry ul li:before {
  content: '';
  padding-right: 3px;
}
.blog-entry blockquote {
  -webkit-border-radius: 8px;
  /* Saf3-4, iOS 1-3.2, Android ≤1.6 */

  -moz-border-radius: 8px;
  /* FF1-3.6 */

  border-radius: 8px;
  /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 12px;
  margin: 25px 0 15px 0;
  background-color: #f3f4ec;
  border: 1px solid #dedede;
  border-top: 2px solid #f3f4ec;
  border-left: 2px solid #f3f4ec;
  min-height: 24px;
  background-color: #eaeadf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f4ec), to(#eaeadf));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #f3f4ec, #eaeadf);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #f3f4ec, #eaeadf);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #f3f4ec, #eaeadf);
  /* IE10 */

  background-image: -o-linear-gradient(top, #f3f4ec, #eaeadf);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #f3f4ec, #eaeadf);
}
.blog-entry blockquote:before {
  content: '{ }';
  color: #b8a08e;
  text-shadow: 0 1px #412917;
  font-size: 30px;
  font-weight: bold;
  float: left;
  position: relative;
  top: -8px;
  left: 0;
  margin-bottom: 12px;
  margin-right: 12px;
}
.blog-entry section a {
  color: #e92c6c;
  font-weight: bold;
}
.blog-entries .blog-entry:first-child {
  margin-top: inherit;
}
.blog-entries .blog-entry {
  margin-top: 40px;
}
