@import "../../defaults/common.less";

.blog-entry-title {
  font-size: 2em;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 35px;
}

.blog-entry-title h1 {
  display: block;
}

.blog-entry-title a:hover {
  text-decoration: none;
}

.blog-entry-date {
  float: right;
  font-size: 10px;
  color: @red_shadow;
}

.blog-entry-brief {
  margin-bottom: 45px;
}

.blog-entry-brief h1,
.blog-entry-text h1,
.blog-entry h2,
.blog-entry h3,
.blog-entry h4 {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 25px;
  font-weight: bold;
  color: @strong;
}

.blog-entry pre {
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.blog-entry pre code {
  display: block;
}

.blog-entry p {
  line-height: 1.3em;
  margin-bottom: 15px;
}

.blog-entry ul {
  margin: 20px 0;
}

.blog-entry ul li {
  line-height: 1.6em;
  list-style-position:inside;
  list-style-type: disc;
  list-style-type: hiragana-iroha;
}

.blog-entry ul li:before {
  content: '';
  padding-right: 3px;
}

.blog-entry blockquote {
  .box-radius(8px);

  padding: 12px;
  margin: 25px 0 15px 0;
  background-color: @light;

  border: 1px solid @grayish;
  border-top: 2px solid @light;
  border-left: 2px solid @light;

  min-height: 24px;
}

.blog-entry blockquote:before {
  content: '{ }';
  color: @strong + #777;
  text-shadow: 0 1px @strong;
  font-size: 30px;
  font-weight: bold;

  float: left;

  position: relative;
  top: -8px;
  left: 0;
  margin-bottom: 12px;
  margin-right: 12px;
}

.blog-entry section a, #latest-posts a {
  color: @pink;
  font-weight: bold;
}

/* reset default #content styles to change how entries are visually separated */
#content.blog-entries-wrapper {
  padding: 0;
  background: inherit;
  border: none;
}

.blog-entries {
  max-width: 870px;
}

.blog-entries, .blog-sidebar {
  display: inline-block;
  vertical-align: top;
}

.blog-entries .blog-entry {
  margin-top: 45px;
  padding: 25px;
  background-color: @moderate;
  border: 1px solid @grayish;
  .box-radius(4px);
}

.blog-entries .blog-entry:first-child {
  padding: 25px;
  margin-top: 0;
}

.blog-sidebar {
  margin-left: 30px;
  width: 250px;
  height: 280px;
}

.blog-sidebar h5 {
  margin-right: 50px;
}

.blog-sidebar .face {
  padding: 15px;
  background-color: @moderate;
  border: 1px solid @grayish;
}

.blog-sidebar .sidebar-flipper {
  float: right;
}

#latest-posts nav {
  font-size: 0.9em;
}

#latest-posts nav a {
  display: block;
}

.author-description {
  font-size: 0.9em;
  line-height: 1.1em;
}

#about-author .social-links {
  margin-top: 25px;
}

#about-author .social-links a {
  margin-right: 6px;
}