section.fluid-center
  header
    h1='Features'
    h2='What\'s in it for me?'

  section
    ul
      li.feature
        section.market.quick
        section.description
          :markdown
            ### Quick start, ease of use

            Blogging made easy.
            Getting set up is _fast_ wheter you want your blog or to fork the entire project.

      li.feature
        section.market.design
        section.description
          :markdown
             ### Responsive, sharp design

      li.feature
        section.market.ajax
        section.description
          :markdown
            ### Single Page AJAX Application

      li.feature
        section.market.md-editor
        section.description
          :markdown
            ### Markdown support for bloggers and commenters alike

            Blogging is simple, it shouldn't be complicated. We, as developers, are used to writing Markdown on StackOverflow and GitHub alike. **NBrut** subscribes to that culture by providing an experience entirely based on the Markdown syntax.

      li.feature
        section.market.meta
        section.description
          :markdown
            ### Metadata intensive

      li.feature
        section.market.rest-api
        section.description
          :markdown
            ### REST API
