section.fluid-center
  header
    h1='Features'
    h2='What\'s in it for me?'

  section
    ul
      li.feature
        section.market.quick
        section.description.markdown
          :markdown
            ### Quick start, ease of use

            Blogging made easy.
            Getting set up is _fast_ whether you want just a technical blog, or to _fork_ the git repository.

            Creating your own blog is easy! Just type a _vanity subdomain_ into the input box [above](#top), and then register an account with either your email or using a provider such as GitHub!

      li.feature
        section.market.design
        section.description.markdown
          :markdown
             ### Responsive, sharp design

             **NBrut** is designed using the latest <kbd>HTML5</kbd> and <kbd>CSS3</kbd> trends. Yet, the design is responsive, and it was implemented using a Mobile First approach.

             The layout will _adapt itself_ to any screen size, allowing for a more than reasonable user experience in mobile web browsers.

      li.feature
        section.market.ajax
        section.description.markdown
          :markdown
            ### Single Page AJAX Application

            **NBrut** is designed to provide a fast look and feel. As such, heavily caching bundled and minified static assets wasn't enough. So we went a little further.

            We decided for **NBrut** to be a single page application, meaning assets are requested only once,
            and blogs are navigated using the HTML 5 **History API**

      li.feature
        section.market.md-editor
        section.description.markdown
          :markdown
            ### Markdown support for bloggers and commenters alike

            Blogging is simple, it shouldn't be complicated. We, as developers, are used to writing Markdown on StackOverflow and GitHub alike.

            **NBrut** expands on that culture by providing an experience entirely based on the Markdown syntax.

            _(even this is written using markdown!)_  `mind = 'blown';`

            > Okay, maybe not.