html(lang='en')
  head
    include /src/frontend/views/metadata
    title='The Nerd Blogging Platform - Pony Foo'

    != assetify.css.emit(profile)

  body.container
    div.row
      div.span12
        p='Super Easy Blogging'

    div.row
      div.span6
        div.video-container
          iframe(src='https://www.youtube.com/embed/a5MTWzS8hFw', allowFullScreen)

      div.span6
        p='Foo!'

    != assetify.js.emit(profile)