extends ../../../../frontend/layout/minimal

block title
  title='Blogging, Revisited - Pony Foo'

block body
  header#top-navigation
    nav.fluid-center
      ul
        li.top-link
          a(href='#top')='Home'
        li.features-link
          a(href='#features')='Features'
        li.hop-in-link
          a(href='#hop')='Hop in!'

  main#content
    article#top.market-section.nbrut(data-nav='.top-link')
      include _nbrut

    article#features.market-section.features(data-nav='.features-link')
      include _features

    article#hop.market-section.hop-in(data-nav='.hop-in-link')
      include _hop

  section.fixed-navigation
    a.prev
      span

    a.next
      span

  include _footer-navigation
  include _ribbon