html(lang='en')
  head
    include /src/frontend/views/metadata
    title='The Nerd Blogging Platform - Pony Foo'

    != assetify.css.emit(profile)

  body.container
    section.row
      section.span6
        section.video-container
          iframe(src='https://www.youtube.com/embed/a5MTWzS8hFw', allowFullScreen)

      section.span6
        p='Foo!'

    != assetify.js.emit(profile)